/*---------------------------
  Background Color
----------------------------*/
._bgcl-primary {
  background-color: $color-primary;
}

._bgcl-primary-100 {
  background-color: $color-primary-100;
}

._bgcl-primary-200 {
  background-color: $color-primary-200;
}

._bgcl-primary-300 {
  background-color: $color-primary-300;
}

._bgcl-primary-400 {
  background-color: $color-primary-400;
}

._bgcl-primary-500 {
  background-color: $color-primary-500;
}

._bgcl-primary-600 {
  background-color: $color-primary-600;
}

._bgcl-primary-700 {
  background-color: $color-primary-700;
}

._bgcl-primary-800 {
  background-color: $color-primary-800;
}

._bgcl-primary-900 {
  background-color: $color-primary-900;
}

._bgcl-accent {
  background-color: $color-accent;
}

._bgcl-accent-100 {
  background-color: $color-accent-100;
}

._bgcl-accent-200 {
  background-color: $color-accent-200;
}

._bgcl-accent-300 {
  background-color: $color-accent-300;
}

._bgcl-accent-400 {
  background-color: $color-accent-400;
}

._bgcl-accent-500 {
  background-color: $color-accent-500;
}

._bgcl-accent-600 {
  background-color: $color-accent-600;
}

._bgcl-accent-700 {
  background-color: $color-accent-700;
}

._bgcl-accent-800 {
  background-color: $color-accent-800;
}

._bgcl-accent-900 {
  background-color: $color-accent-900;
}

._bgcl-positive {
  background-color: $color-positive;
}

._bgcl-warning {
  background-color: $color-warning;
}

._bgcl-info {
  background-color: $color-info;
}

._bgcl-negative {
  background-color: $color-negative;
}

._bgcl-neutral {
  background-color: $color-neutral;
}

._bgcl-neutral-900 {
  background-color: $color-neutral-900;
}

._bgcl-neutral-800 {
  background-color: $color-neutral-800;
}

._bgcl-neutral-700 {
  background-color: $color-neutral-700;
}

._bgcl-neutral-700 {
  background-color: $color-neutral-700;
}

._bgcl-neutral-600 {
  background-color: $color-neutral-600;
}

._bgcl-neutral-500 {
  background-color: $color-neutral-500;
}

._bgcl-neutral-400 {
  background-color: $color-neutral-400;
}

._bgcl-neutral-300 {
  background-color: $color-neutral-300;
}

._bgcl-neutral-200 {
  background-color: $color-neutral-200;
}

._bgcl-neutral-100 {
  background-color: $color-neutral-100;
}

._bgcl-white {
  background-color: $color-white;
}

._bgcl-gray {
  background-color: $color-gray;
}

._bgcl-dark {
  background-color: $color-dark;
}

._bgcl-black {
  background-color: $color-black;
}

._bgcl-tpr {
  background-color: transparent;
}