/*---------------------------
  Border Radius
----------------------------*/
._bdrd-1 {
  border-radius: 1px;
}

._bdrd-2 {
  border-radius: 2px;
}

._bdrd-4 {
  border-radius: 4px;
}

._bdrd-8 {
  border-radius: 8px;
}

._bdrd-16 {
  border-radius: 16px;
}

._bdrd-32 {
  border-radius: 32px;
}

._bdrd-64 {
  border-radius: 64px;
}

._bdrd-128 {
  border-radius: 128px;
}

._bdrd-50pct {
  border-radius: 50%;
}
