._bt-0 {
  bottom: 0px;
}

._bt-1 {
  bottom: 1px;
}

._bt-2 {
  bottom: 2px;
}

._bt-4 {
  bottom: 4px;
}

._bt-8 {
  bottom: 8px;
}

._bt-16 {
  bottom: 16px;
}

._bt-32 {
  bottom: 32px;
}

._bt-64 {
  bottom: 64px;
}

._bt-128 {
  bottom: 128px;
}

._bt-50pct {
  bottom: 50%;
}