/*---------------------------
  Font Weight
----------------------------*/
._fw-100 {
  font-weight: 100;
}

._fw-200 {
  font-weight: 200;
}

._fw-300 {
  font-weight: 300;
}

._fw-400 {
  font-weight: 400;
}

._fw-500 {
  font-weight: 500;
}

._fw-600 {
  font-weight: 600;
}

._fw-700 {
  font-weight: 700;
}

._fw-800 {
  font-weight: 800;
}

._fw-900 {
  font-weight: 900;
}
