._l-0 {
  left: 0px;
}

._l-1 {
  left: 1px;
}

._l-2 {
  left: 2px;
}

._l-4 {
  left: 4px;
}

._l-8 {
  left: 8px;
}

._l-16 {
  left: 16px;
}

._l-32 {
  left: 32px;
}

._l-64 {
  left: 64px;
}

._l-128 {
  left: 128px;
}

._l-50pct {
  left: 50%;
}
