._mw-1px {
  max-width: 1px;
}

._mw-2px {
  max-width: 2px;
}

._mw-4px {
  max-width: 4px;
}

._mw-8px {
  max-width: 8px;
}

._mw-16px {
  max-width: 16px;
}

._mw-32px {
  max-width: 32px;
}

._mw-64px {
  max-width: 64px;
}

._mw-128px {
  max-width: 128px;
}

._mw-256px {
  max-width: 256px;
}

._mw-512px {
  max-width: 512px;
}

._mw-10pct {
  max-width: 10%;
}

._mw-15pct {
  max-width: 15%;
}

._mw-20pct {
  max-width: 20%;
}

._mw-25pct {
  max-width: 25%;
}

._mw-30pct {
  max-width: 30%;
}

._mw-35pct {
  max-width: 35%;
}

._mw-40pct {
  max-width: 40%;
}

._mw-45pct {
  max-width: 45%;
}

._mw-50pct {
  max-width: 50%;
}

._mw-55pct {
  max-width: 55%;
}

._mw-60pct {
  max-width: 60%;
}

._mw-65pct {
  max-width: 65%;
}

._mw-70pct {
  max-width: 70%;
}

._mw-75pct {
  max-width: 75%;
}

._mw-80pct {
  max-width: 80%;
}

._mw-85pct {
  max-width: 85%;
}

._mw-90pct {
  max-width: 90%;
}

._mw-95pct {
  max-width: 95%;
}

._mw-100pct {
  max-width: 100%;
}
