._mh-1 {
  max-height: 1px;
}

._mh-2 {
  max-height: 2px;
}

._mh-4 {
  max-height: 4px;
}

._mh-8 {
  max-height: 8px;
}

._mh-16 {
  max-height: 16px;
}

._mh-32 {
  max-height: 32px;
}

._mh-64 {
  max-height: 64px;
}

._mh-128 {
  max-height: 128px;
}

._mh-256 {
  max-height: 256px;
}

._mh-512 {
  max-height: 512px;
}

._mh-10pct {
  max-height: 10%;
}

._mh-15pct {
  max-height: 15%;
}

._mh-20pct {
  max-height: 20%;
}

._mh-25pct {
  max-height: 25%;
}

._mh-30pct {
  max-height: 30%;
}

._mh-35pct {
  max-height: 35%;
}

._mh-40pct {
  max-height: 40%;
}

._mh-45pct {
  max-height: 45%;
}

._mh-50pct {
  max-height: 50%;
}

._mh-55pct {
  max-height: 55%;
}

._mh-60pct {
  max-height: 60%;
}

._mh-65pct {
  max-height: 65%;
}

._mh-70pct {
  max-height: 70%;
}

._mh-75pct {
  max-height: 75%;
}

._mh-80pct {
  max-height: 80%;
}

._mh-85pct {
  max-height: 85%;
}

._mh-90pct {
  max-height: 90%;
}

._mh-95pct {
  max-height: 95%;
}

._mh-100pct {
  max-height: 100%;
}
