/*---------------------------
  Padding All
----------------------------*/
._pd {
  padding: 8px;
}

._pd-4 {
  padding: 4px;
}

._pd-8 {
  padding: 8px;
}

._pd-16 {
  padding: 16px;
}

._pd-32 {
  padding: 32px;
}

._pd-64 {
  padding: 64px;
}

._pd-0 {
  padding: 0px;
}

._pd-auto {
  padding: auto;
}

/*---------------------------
  Padding Top
----------------------------*/
._pdt {
  padding-top: 8px;
}

._pdt-4 {
  padding-top: 4px;
}

._pdt-8 {
  padding-top: 8px;
}

._pdt-16 {
  padding-top: 16px;
}

._pdt-32 {
  padding-top: 32px;
}

._pdt-64 {
  padding-top: 64px;
}

._pdt-0 {
  padding-top: 0px;
}

._pdt-auto {
  padding-top: auto;
}

/*---------------------------
  Padding Bottom
----------------------------*/
._pdbt {
  padding-bottom: 8px;
}

._pdbt-4 {
  padding-bottom: 4px;
}

._pdbt-8 {
  padding-bottom: 8px;
}

._pdbt-16 {
  padding-bottom: 16px;
}

._pdbt-32 {
  padding-bottom: 32px;
}

._pdbt-64 {
  padding-bottom: 64px;
}

._pdbt-0 {
  padding-bottom: 0px;
}

._pdbt-auto {
  padding-bottom: auto;
}

/*---------------------------
  Padding Left
----------------------------*/
._pdl {
  padding-left: 8px;
}

._pdl-4 {
  padding-left: 4px;
}

._pdl-8 {
  padding-left: 8px;
}

._pdl-16 {
  padding-left: 16px;
}

._pdl-32 {
  padding-left: 32px;
}

._pdl-64 {
  padding-left: 64px;
}

._pdl-0 {
  padding-left: 0px;
}

._pdl-auto {
  padding-left: auto;
}

/*---------------------------
  Padding Right
----------------------------*/
._pdr {
  padding-right: 8px;
}

._pdr-4 {
  padding-right: 4px;
}

._pdr-8 {
  padding-right: 8px;
}

._pdr-16 {
  padding-right: 16px;
}

._pdr-32 {
  padding-right: 32px;
}

._pdr-64 {
  padding-right: 64px;
}

._pdr-0 {
  padding-right: 0px;
}

._pdr-auto {
  padding-right: auto;
}

/*---------------------------
  Padding Vertical
----------------------------*/
._pdv {
  padding-top: 8px;
  padding-bottom: 8px;
}

._pdv-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

._pdv-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

._pdv-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

._pdv-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

._pdv-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

._pdv-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

._pdv-auto {
  padding-top: auto;
  padding-bottom: auto;
}

/*---------------------------
  Padding Horizontal
----------------------------*/
._pdh {
  padding-left: 8px;
  padding-right: 8px;
}

._pdh-4 {
  padding-left: 4px;
  padding-right: 4px;
}

._pdh-8 {
  padding-left: 8px;
  padding-right: 8px;
}

._pdh-16 {
  padding-left: 16px;
  padding-right: 16px;
}

._pdh-32 {
  padding-left: 32px;
  padding-right: 32px;
}

._pdh-64 {
  padding-left: 64px;
  padding-right: 64px;
}

._pdh-0 {
  padding-left: 0px;
  padding-right: 0px;
}

._pdh-auto {
  padding-left: auto;
  padding-right: auto;
}
