._r-0 {
  right: 0px;
}

._r-1 {
  right: 1px;
}

._r-2 {
  right: 2px;
}

._r-4 {
  right: 4px;
}

._r-8 {
  right: 8px;
}

._r-16 {
  right: 16px;
}

._r-32 {
  right: 32px;
}

._r-64 {
  right: 64px;
}

._r-128 {
  right: 128px;
}

._r-50pct {
  right: 50%;
}