._t-0 {
  top: 0px;
}

._t-1 {
  top: 1px;
}

._t-2 {
  top: 2px;
}

._t-4 {
  top: 4px;
}

._t-8 {
  top: 8px;
}

._t-16 {
  top: 16px;
}

._t-32 {
  top: 32px;
}

._t-64 {
  top: 64px;
}

._t-128 {
  top: 128px;
}

._t-50pct {
  top: 50%;
}