._t-0px {
  top: 0px;
}

._t-1px {
  top: 1px;
}

._t-2px {
  top: 2px;
}

._t-4px {
  top: 4px;
}

._t-8px {
  top: 8px;
}

._t-16px {
  top: 16px;
}

._t-32px {
  top: 32px;
}

._t-64px {
  top: 64px;
}

._t-128px {
  top: 128px;
}

._t-50pct {
  top: 50%;
}