.u-animation-pulse {
  	animation: pulse .35s infinite alternate;
}

.u-animation-pulse-hover {
	&:hover {
		animation: pulse .35s infinite alternate;
	}
};

.u-animation-spin {
  	animation: spin 1s infinite linear;
}

.u-animation-spin-hover {
	&:hover {
		animation: spin 1s infinite linear;
	}
};

@keyframes pulse {
	100% {
		transform: scale(1.1);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
