.u-align-middle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.u-valign-center {
	display: flex;
	align-items: center;
}

.u-halign-center {
	display: flex;
	justify-content: center;
}
