.u-close {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  &:before, &:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0px;
    background-color: $color-primary;
  }
  &:hover {
    &:before, &:after {
      background-color: darken($color-primary, 8%);
    }
  }
  &.-accent {
    &:before, &:after {
      background-color: $color-accent;
    }
    &:hover {
      &:before, &:after {
        background-color: darken($color-accent, 8%);
      }
    }
  }
  &.-negative {
    &:before, &:after {
      background-color: $color-negative;
    }
    &:hover {
      &:before, &:after {
        background-color: darken($color-negative, 8%);
      }
    }
  }
  &.-positive {
    &:before, &:after {
      background-color: $color-positive;
    }
    &:hover {
      &:before, &:after {
        background-color: darken($color-positive, 8%);
      }
    }
  }
  &.-warning {
    &:before, &:after {
      background-color: $color-warning;
    }
    &:hover {
      &:before, &:after {
        background-color: darken($color-warning, 8%);
      }
    }
  }
  &.-info {
    &:before, &:after {
      background-color: $color-info;
    }
    &:hover {
      &:before, &:after {
        background-color: darken($color-info, 8%);
      }
    }
  }
  &.-dark {
    &:before, &:after {
      background-color: $color-dark;
    }
    &:hover {
      &:before, &:after {
        background-color: darken($color-dark, 8%);
      }
    }
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}