.u-hover-rise {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, .08),
    0 4px 6px rgba(50, 50, 93, .11);
  transition:
    all .26s ease-in-out
}

.u-hover-rise:hover {
  transform: translateY(-1px);
  box-shadow:
    0 7px 14px rgba(50, 50, 93, .1),
    0 5px 10px rgba(50, 50, 93, .09),
    0 3px 6px rgba(0, 0, 0, .08);
}

.u-rise-1 {
  box-shadow:
    0 1px 5px rgba(0, 0, 0, .2),
    0 2px 2px rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .12);
}

.u-rise-2 {
  box-shadow:
    0 7px 14px rgba(50, 50, 93, .1), 
    0 5px 10px rgba(50, 50, 93, .09), 
    0 3px 6px rgba(0, 0, 0, .08);
}