.u-raised-1 {
	box-shadow:
		0 0px 3px hsla(0, 0%, 0%, 0.08),
		0 4px 8px 0px hsla(0, 0%, 0%, 0.04);
}

.u-raised-2 {
	box-shadow:
		0 0px 3px rgba(0,0,0,0.08),
		0 4px 8px rgba(0,0,0,0.04),
		0 7px 10px rgba(0,0,0,0.04);
}

.u-raised-3 {
	box-shadow:
		0 0px 3px rgba(0,0,0,0.08),
		0 4px 8px rgba(0,0,0,0.04),
		0 7px 10px rgba(0,0,0,0.04),
		0 12px 10px rgba(0,0,0,0.04)
}

.u-raised-4 {
	box-shadow:
		0 0px 3px rgba(0,0,0,0.08),
		0 4px 8px rgba(0,0,0,0.04),
		0 7px 10px rgba(0,0,0,0.04),
		0 12px 10px rgba(0,0,0,0.04),
		0 16px 10px 4px rgba(0,0,0,0.04);
}

.u-raised-5 {
	box-shadow:
		0 0px 3px rgba(0,0,0,0.08),
		0 4px 8px rgba(0,0,0,0.04),
		0 7px 10px rgba(0,0,0,0.04),
		0 12px 10px rgba(0,0,0,0.04),
		0 16px 10px 0px rgba(0,0,0,0.04),
		0 28px 12px -4px rgba(0,0,0,0.06);
}
