._w-1 {
  width: 1px;
}

._w-2 {
  width: 2px;
}

._w-4 {
  width: 4px;
}

._w-8 {
  width: 8px;
}

._w-16 {
  width: 16px;
}

._w-32 {
  width: 32px;
}

._w-64 {
  width: 64px;
}

._w-128 {
  width: 128px;
}

._w-256 {
  width: 256px;
}

._w-512 {
  width: 512px;
}

._w-10pct {
  width: 10%;
}

._w-15pct {
  width: 15%;
}

._w-20pct {
  width: 20%;
}

._w-25pct {
  width: 25%;
}

._w-30pct {
  width: 30%;
}

._w-35pct {
  width: 35%;
}

._w-40pct {
  width: 40%;
}

._w-45pct {
  width: 45%;
}

._w-50pct {
  width: 50%;
}

._w-55pct {
  width: 55%;
}

._w-60pct {
  width: 60%;
}

._w-65pct {
  width: 65%;
}

._w-70pct {
  width: 70%;
}

._w-75pct {
  width: 75%;
}

._w-80pct {
  width: 80%;
}

._w-85pct {
  width: 85%;
}

._w-90pct {
  width: 90%;
}

._w-95pct {
  width: 95%;
}

._w-100pct {
  width: 100%;
}
