@mixin sm-only {
  @media (max-width: $breakpoint-sm - 1px) {
    @content;
  }
}

@mixin md-only {
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg - 1px) {
    @content;
  }
}

@mixin lg-only {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin md-upper {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg-upper {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin md-lower {
  @media (max-width: $breakpoint-md - 1px) {
    @content;
  }
}

@mixin lg-lower {
  @media (max-width: $breakpoint-lg - 1px) {
    @content;
  }
}
