/**
 * SCSS variable of the breakpoint that will be used
 * as the main breakpoints in Design Systems.
 *
 * you can change their or add/remove breakpoints as you need.
 *
 */

$xs: 500px;
$sm: 770px;
$md: 900px;
$lg: 1200px;

$breakpoints: (
	'xs': $xs,
	'sm': $sm,
	'md': $md,
	'lg': $lg
);
