/**
 * [LAYOUTS] [ATOMICS]
 *
 * Use for calculating the value in layout related classes Ex. "lo-container".
 * Use for generating layout related classes Ex. "lo-6-sm", "lo-4-md".
 * Use for generating responsive modifiler for atomic classes Ex. "_mg-16px-sm", "_cl-white-md".
 *
 * You can change the value or add/remove variables here.
 *
 * For example:
 * - You can add 'xs': 480px
 */
$breakpoints: (
	'sm': 770px,
	'md': 900px,
	'lg': 1200px
);
