/**
 * SCSS variable of the colors that will be used
 * as the color in Design Systems.
 *
 * The name can be anything but we suggest "color-" prefix
 * for better maintainability.
 */

$color-primary: hsl(206, 100%, 56%);
$color-accent: hsl(350, 100%, 60%);

$color-gray-900: hsl(210, 10%, 15%);
$color-gray-800: hsl(210, 10%, 23%);
$color-gray-700: hsl(210, 10%, 36%);
$color-gray-600: hsl(210, 10%, 52%);
$color-gray-500: hsl(210, 10%, 63%);
$color-gray-400: hsl(210, 10%, 73%);
$color-gray-300: hsl(210, 10%, 83%);
$color-gray-200: hsl(210, 10%, 91%);
$color-gray-100: hsl(210, 10%, 97%);

/* Semantic Color */
$color-positive: hsl(150, 80%, 45%);
$color-warning: hsl(40, 90%, 60%);
$color-info: hsl(200, 100%, 65%);
$color-negative: hsl(0, 100%, 65%);

/* Gray Scale Color */
$color-white: hsl(0, 255%, 100%);
$color-light: hsla(0, 255%, 100%, 0.92);
$color-dark: hsla(231, 10%, 25%, 0.94);
$color-black: hsl(0, 0%, 0%);

/**
 * The list of 'name' and 'SCSS variable'
 * that used for generating color related Atomic class.
 *
 * For example
 * 'primary': $color-primary will use to create classes _cl-primary, _bgcl-primary
 * 'tpr': transparent will use to create classes _cl-tpr, _bgcl-tpr
 */
$colors: (
	'primary': $color-primary,
	'accent': $color-accent,
	'gray-900': $color-gray-900,
	'gray-800': $color-gray-800,
	'gray-700': $color-gray-700,
	'gray-600': $color-gray-600,
	'gray-500': $color-gray-500,
	'gray-400': $color-gray-400,
	'gray-300': $color-gray-300,
	'gray-200': $color-gray-200,
	'gray-100': $color-gray-100,

	'positive': $color-positive,
	'warning': $color-warning,
	'info': $color-info,
	'negative': $color-negative,

	'white': $color-white,
	'light': $color-light,
	'dark': $color-dark,
	'black': $color-black,

	'crcl': currentColor,
	'tpr': transparent
);

/**
 * The list of 'CSS variable' and 'SCSS variable'
 * for utility use
 *
 */
:root {
	--color-primary: hsl(206, 100%, 56%);
	--color-accent: hsl(350, 100%, 60%);
	--color-gray-900: hsl(210, 10%, 15%);
	--color-gray-800: hsl(210, 10%, 23%);
	--color-gray-700: hsl(210, 10%, 36%);
	--color-gray-600: hsl(210, 10%, 52%);
	--color-gray-500: hsl(210, 10%, 63%);
	--color-gray-400: hsl(210, 10%, 73%);
	--color-gray-300: hsl(210, 10%, 83%);
	--color-gray-200: hsl(210, 10%, 91%);
	--color-gray-100: hsl(210, 10%, 97%);
	--color-positive: hsl(150, 81%, 45%);
	--color-warning: hsl(40, 90%, 60%);
	--color-info: hsl(200, 100%, 65%);
	--color-negative: hsl(0, 100%, 65%);
	--color-white: hsl(0, 255%, 100%);
	--color-light: hsla(0, 255%, 100%, 0.92);
	--color-dark: hsla(231, 10%, 25%, 0.94);
	--color-black: hsl(0, 0%, 0%);
}
