//  Main Color
$color-primary:     hsl(206, 100%, 56%);
$color-accent:      hsl(350, 100%, 60%);
$color-neutral-900: hsl(212, 28%, 46%);
$color-neutral-800: hsl(212, 28%, 52%);
$color-neutral-700: hsl(212, 28%, 59%);
$color-neutral-600: hsl(212, 28%, 65%);
$color-neutral-500: hsl(212, 28%, 71%);
$color-neutral-400: hsl(212, 28%, 77%);
$color-neutral-300: hsl(212, 28%, 83%);
$color-neutral-200: hsl(212, 28%, 88%);
$color-neutral-100: hsl(212, 30%, 92%);

// Semantic Color
$color-positive: hsl(150, 80%, 45%);
$color-warning:  hsl(40, 90%, 60%);
$color-info:     hsl(200, 100%, 65%);
$color-negative: hsl(0, 100%, 65%);

// Gray Scale Color
$color-white: hsl(0, 255%, 100%);
$color-gray: hsl(0, 0%, 92%);
$color-dark: hsla(231, 10%, 25%, 0.94);
$color-black: hsl(0, 0%, 0%);

// Map keyword
$colors: (
	'primary': $color-primary,
	'accent': $color-accent,
	'neutral-900': $color-neutral-900,
	'neutral-800': $color-neutral-800,
	'neutral-700': $color-neutral-700,
	'neutral-600': $color-neutral-600,
	'neutral-500': $color-neutral-500,
	'neutral-400': $color-neutral-400,
	'neutral-300': $color-neutral-300,
	'neutral-200': $color-neutral-200,
	'neutral-100': $color-neutral-100,

	'positive': $color-positive,
	'warning': $color-warning,
	'info': $color-info,
	'negative': $color-negative,

	'white': $color-white,
	'gray': $color-gray,
	'dark': $color-dark,
	'black': $color-black,

	'crcl': currentColor,
	'tpr': transparent
);
