/**
 * The list of "name" and "value" of spacing value
 * - use for generating spacing related classes Ex. "_l-*", "_mg-*", "_h-*"
 *
 * You can change the value or add/remove variables here.
 *
 * For example:
 * - "'8px': 8px" will create "_mg-8px" (margin: 8px) class
 * - add "'4': 4em" will create new "_bdrd-4" (border-radius: 4em) class
 */
$spacings: (
	'0px': 0px,
	'1px': 1px,
	'2px': 2px,
	'4px': 4px,
	'8px': 8px,
	'12px': 12px,
	'16px': 16px,
	'24px': 24px,
	'32px': 32px,
	'48px': 48px,
	'64px': 64px,
	'128px': 128px,
	'256px': 256px,
	'512px': 512px,
	'50pct': 50%,
	'100pct': 100%,
	'100vw': 100vw,
	'100vh': 100vh,
	'at': auto,
);
