
._bgcl-main {
  background-color: $color-main;
}

._bgcl-accent {
  background-color: $color-accent;
}

._bgcl-success {
  background-color: $color-success;
}

._bgcl-warning {
  background-color: $color-warning;
}

._bgcl-info {
  background-color: $color-info;
}

._bgcl-error {
  background-color: $color-error;
}

._bgcl-neutral-900 {
  background-color: $color-neutral-900;
}

._bgcl-neutral-800 {
  background-color: $color-neutral-800;
}

._bgcl-neutral-700 {
  background-color: $color-neutral-700;
}

._bgcl-neutral-700 {
  background-color: $color-neutral-700;
}

._bgcl-neutral-600 {
  background-color: $color-neutral-600;
}

._bgcl-neutral-500 {
  background-color: $color-neutral-500;
}

._bgcl-neutral-400 {
  background-color: $color-neutral-400;
}

._bgcl-neutral-300 {
  background-color: $color-neutral-300;
}

._bgcl-neutral-200 {
  background-color: $color-neutral-200;
}

._bgcl-neutral-100 {
  background-color: $color-neutral-100;
}
