._bdr-1 {
  border-radius: 1px;
}

._bdr-2 {
  border-radius: 2px;
}

._bdr-4 {
  border-radius: 4px;
}

._bdr-8 {
  border-radius: 8px;
}

._bdr-16 {
  border-radius: 16px;
}

._bdr-50pc {
  border-radius: 50%;
}
