
._cl-main {
  color: $color-main;
}

._cl-accent {
  color: $color-accent;
}

._cl-success {
  color: $color-success;
}

._cl-warning {
  color: $color-warning;
}

._cl-info {
  color: $color-info;
}

._cl-error {
  color: $color-error;
}

._cl-neutral-900 {
  color: $color-neutral-900;
}

._cl-neutral-800 {
  color: $color-neutral-800;
}

._cl-neutral-700 {
  color: $color-neutral-700;
}

._cl-neutral-700 {
  color: $color-neutral-700;
}

._cl-neutral-600 {
  color: $color-neutral-600;
}

._cl-neutral-500 {
  color: $color-neutral-500;
}

._cl-neutral-400 {
  color: $color-neutral-400;
}

._cl-neutral-300 {
  color: $color-neutral-300;
}

._cl-neutral-200 {
  color: $color-neutral-200;
}

._cl-neutral-100 {
  color: $color-neutral-100;
}
