/*---------------------------
  Font Size
----------------------------*/
._fs-1 {
  font-size: 3rem; 
}

._fs-2 {
  font-size: 2.5rem; 
}

._fs-3 {
  font-size: 2rem; 
}

._fs-4 {
  font-size: 1.5rem; 
}

._fs-5 {
  font-size: 1.25rem; 
}

._fs-6 {
  font-size: 1rem; 
}

._fs-7 {
  font-size: 0.75rem; 
}

._fs-8 {
  font-size: 0.25rem; 
}
