
// Margin All
._mga-4 {
  margin: 4px;
}

._mga-8 {
  margin: 8px;
}

._mga-16 {
  margin: 16px;
}

._mga-32 {
  margin: 32px;
}

._mga-64 {
  margin: 64px;
}

._mga-0 {
  margin: 0px;
}

._mga-auto {
  margin: auto;
}

// Margin Top
._mgt-4 {
  margin-top: 4px;
}

._mgt-8 {
  margin-top: 8px;
}

._mgt-16 {
  margin-top: 16px;
}

._mgt-32 {
  margin-top: 32px;
}

._mgt-64 {
  margin-top: 64px;
}

._mgt-0 {
  margin-top: 0px;
}

._mgt-auto {
  margin-top: auto;
}

// Margin Bottom
._mgb-4 {
  margin-bottom: 4px;
}

._mgb-8 {
  margin-bottom: 8px;
}

._mgb-16 {
  margin-bottom: 16px;
}

._mgb-32 {
  margin-bottom: 32px;
}

._mgb-64 {
  margin-bottom: 64px;
}

._mgb-0 {
  margin-bottom: 0px;
}

._mgb-auto {
  margin-bottom: auto;
}

// Margin Left
._mgl-4 {
  margin-left: 4px;
}

._mgl-8 {
  margin-left: 8px;
}

._mgl-16 {
  margin-left: 16px;
}

._mgl-32 {
  margin-left: 32px;
}

._mgl-64 {
  margin-left: 64px;
}

._mgl-0 {
  margin-left: 0px;
}

._mgl-auto {
  margin-left: auto;
}

// Margin Right
._mgr-4 {
  margin-right: 4px;
}

._mgr-8 {
  margin-right: 8px;
}

._mgr-16 {
  margin-right: 16px;
}

._mgr-32 {
  margin-right: 32px;
}

._mgr-64 {
  margin-right: 64px;
}

._mgr-0 {
  margin-right: 0px;
}

._mgr-auto {
  margin-right: auto;
}

// Margin Vertical
._mgv-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

._mgv-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

._mgv-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

._mgv-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

._mgv-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

._mgv-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

._mgv-auto {
  margin-top: auto;
  margin-bottom: auto;
}

// Margin Horizontal
._mgh-4 {
  margin-left: 4px;
  margin-right: 4px;
}

._mgh-8 {
  margin-left: 8px;
  margin-right: 8px;
}

._mgh-16 {
  margin-left: 16px;
  margin-right: 16px;
}

._mgh-32 {
  margin-left: 32px;
  margin-right: 32px;
}

._mgh-64 {
  margin-left: 64px;
  margin-right: 64px;
}

._mgh-0 {
  margin-left: 0px;
  margin-right: 0px;
}

._mgh-auto {
  margin-left: auto;
  margin-right: auto;
}
