/*---------------------------
  Opacity
----------------------------*/
._opct {
  opacity: .5;
}

._opct-100 {
  opacity: 1;
}

._opct-90  {
  opacity: .9;
}

._opct-80  {
  opacity: .8;
}

._opct-70  {
  opacity: .7;
}

._opct-60  {
  opacity: .6;
}

._opct-50  {
  opacity: .5;
}

._opct-40  {
  opacity: .4;
}

._opct-30  {
  opacity: .3;
}

._opct-20  {
  opacity: .2;
}

._opct-10  {
  opacity: .1;
}

._opct-0   {
  opacity: 0; 
}
