
// padding All
._pa-4 {
  padding: 4px;
}

._pa-8 {
  padding: 8px;
}

._pa-16 {
  padding: 16px;
}

._pa-32 {
  padding: 32px;
}

._pa-64 {
  padding: 64px;
}

._pa-0 {
  padding: 0px;
}

._pa-auto {
  padding: auto;
}

// padding Top
._pt-4 {
  padding-top: 4px;
}

._pt-8 {
  padding-top: 8px;
}

._pt-16 {
  padding-top: 16px;
}

._pt-32 {
  padding-top: 32px;
}

._pt-64 {
  padding-top: 64px;
}

._pt-0 {
  padding-top: 0px;
}

._pt-auto {
  padding-top: auto;
}

// padding Bottom
._pb-4 {
  padding-bottom: 4px;
}

._pb-8 {
  padding-bottom: 8px;
}

._pb-16 {
  padding-bottom: 16px;
}

._pb-32 {
  padding-bottom: 32px;
}

._pb-64 {
  padding-bottom: 64px;
}

._pb-0 {
  padding-bottom: 0px;
}

._pb-auto {
  padding-bottom: auto;
}

// padding Left
._pl-4 {
  padding-left: 4px;
}

._pl-8 {
  padding-left: 8px;
}

._pl-16 {
  padding-left: 16px;
}

._pl-32 {
  padding-left: 32px;
}

._pl-64 {
  padding-left: 64px;
}

._pl-0 {
  padding-left: 0px;
}

._pl-auto {
  padding-left: auto;
}

// padding Right
._pr-4 {
  padding-right: 4px;
}

._pr-8 {
  padding-right: 8px;
}

._pr-16 {
  padding-right: 16px;
}

._pr-32 {
  padding-right: 32px;
}

._pr-64 {
  padding-right: 64px;
}

._pr-0 {
  padding-right: 0px;
}

._pr-auto {
  padding-right: auto;
}

// padding Vertical
._pv-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

._pv-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

._pv-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

._pv-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

._pv-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

._pv-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

._pv-auto {
  padding-top: auto;
  padding-bottom: auto;
}

// padding Horizontal
._ph-4 {
  padding-left: 4px;
  padding-right: 4px;
}

._ph-8 {
  padding-left: 8px;
  padding-right: 8px;
}

._ph-16 {
  padding-left: 16px;
  padding-right: 16px;
}

._ph-32 {
  padding-left: 32px;
  padding-right: 32px;
}

._ph-64 {
  padding-left: 64px;
  padding-right: 64px;
}

._ph-0 {
  padding-left: 0px;
  padding-right: 0px;
}

._ph-auto {
  padding-left: auto;
  padding-right: auto;
}
