/*---------------------------
  Position
----------------------------*/
._pst-stt {
  position: static;
}

._pst-rlt {
  position: relative;
}

._pst-asl {
  position: absolute;
}

._pst-f {
  position: fixed;
}
