/*---------------------------
  Text Align
----------------------------*/
._tal-l {
  text-align: left;
}

._tal-r {
  text-align: right;
}

._tal-ct {
  text-align: center;
}

._tal-jtf {
  text-align: justify;
}
