/*---------------------------
  Text Transform
----------------------------*/
.ttf-cptl {
  text-transform: capitalize;
}

.ttf-lwc {
  text-transform: lowercase;
}

.ttf-upc {
  text-transform: uppercase;
}

.tt-n {
  text-transform: none;
}
