.bio-message {
    display: grid;
    padding: 16px;
    border-radius: 2px;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "content close";

	color: $color-primary;
	background-color: transparentize($color-primary, .8);
	border-left: 4px solid $color-primary;

	$arr: (
		'accent': $color-accent,
		'positive': $color-positive,
		'negative': $color-negative,
		'warning': $color-warning,
		'info': $color-info
	);

	@each $key, $value in $arr {
		&.-#{$key} {
			color: $value;
			background-color: transparentize($value, .8);
			border-left: 4px solid $value;
		}
	};

	>.bio-message-close {
		grid-area: close;
		user-select: none;
		margin-left: 8px;
		> * {
			display: block;
		}
	}

	>.bio-message-content {
		grid-area: content;
	}
}
