.bio-table,
.bio-table.-has-border {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	max-width: 100%;
	th {
		padding: 16px;
		border: 1px solid $color-gray;
	}
	td {
		vertical-align: top;
		padding: 16px;
		border: 1px solid $color-gray;
	}

}

.bio-table {
	tr th, tr td {
		border: 0px;
		vertical-align: middle;
		padding: 12px 12px;
	}
	tr th {
		border-bottom: 2px solid var(--color-gray);
		text-align: left;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	tr td {
		border-bottom: 1px solid var(--color-gray);
	}
	tbody tr, tbody tr td {
		height: 48px;
	}
}
