// Cleanup
input[type="submit"],
input[type="submit"]:focus {
  border: none;
  outline: none;
}

input[type="checkbox"] {
  @extend ._cs-pt;
}

// Placeholder Color
::-webkit-input-placeholder {
  color: darken($color-gray, 16%);
}

::-moz-placeholder {
  color: darken($color-gray, 40%);
}

// Checkbox
.bio-checkbox:not(.-switch) {
  > input[type="checkbox"] {
    @extend ._opct-0;
    @extend ._cs-pt;
    pointer-events: none;
    &:checked {
      + label::after {
        content: "";
      }
    }
    &:focus {
      + label::before {
        box-shadow: 0 0 0 2px transparentize($color-primary, 0.7);
      }
    }
  }
  > label {
    @extend ._pst-rlt;
    @extend ._dp-ilb;
    padding-left: 22px;
    margin-left: -22px;
    @extend ._cs-pt;
    &:before, &:after {
      content: "";
      @extend ._pst-asl;
      @extend ._dp-ilb;
    }
    &:before {
      @extend ._w-16px;
      @extend ._h-16px;
      @extend ._l-0px;
      @extend ._bd-1px;
      @extend ._bdcl-gray;
      @extend ._bdrd-2px;
    }
    &:after {
      content: none;
      height: 5px;
      width: 9px;
      @extend ._t-4px;
      @extend ._l-4px;
      @extend ._bdl-2px;
      @extend ._bdbt-2px;
      @extend ._bdcl-primary;
      transform: rotate(-45deg);
    }
  }
  &.-disabled {
    @extend ._opct-50;
    > input[type="checkbox"],
    > label {
      @extend ._cs-na;
    }
  }
}

// Radio
.bio-radio {
  > input[type="radio"] {
    @extend ._opct-0;
    @extend ._cs-pt;
    pointer-events: none;
    &:checked {
      + label::after {
        content: "";
      }
    }
    &:focus {
      + label::before {
        box-shadow: 0 0 0 2px transparentize($color-primary, 0.7);
      }
    }
  }
  > label {
    @extend ._pst-rlt;
    @extend ._dp-ilb;
    padding-left: 22px;
    margin-left: -22px;
    @extend ._cs-pt;
    &:before, &:after {
      content: "";
      @extend ._pst-asl;
      @extend ._dp-ilb;
    }
    &:before {
      @extend ._w-16px;
      @extend ._h-16px;
      @extend ._l-0px;
      @extend ._bd-1px;
      @extend ._bdcl-gray;
      @extend ._bdrd-50pct;
    }
    &:after {
      content: none;
      height: 10px;
      width: 10px;
      @extend ._t-4px;
      @extend ._l-4px;
      @extend ._bgcl-primary;
      @extend ._bdcl-primary;
      @extend ._bdrd-50pct;
    }
  }
  &.-disabled {
    @extend ._opct-50;
    > input[type="radio"],
    > label {
      @extend ._cs-na;
    }
  }
}

.bio-checkbox > input[type="radio"]:checked + label::after {
  content: "";
}

.bio-checkbox > input[type="radio"]:focus + label::before {
  box-shadow: 0 0 0 2px transparentize($color-primary, 0.7);
}

// Switch
.bio-checkbox.-switch {
  > input[type="checkbox"] {
    @extend ._pst-rlt;
    @extend ._bgcl-gray;
    @extend ._cs-pt;
    @extend ._bdrd-128px;
    -webkit-appearance: none;
      -moz-appearance: none;
            appearance: none;
    width: 56px;
    height: 26px;
    transition: all .2s ease-in-out;
    outline: none;
    &:checked {
      @extend ._bgcl-primary;
    }
    &:after {
      content: " ";
      @extend ._pst-asl;
      @extend ._bdrd-50pct;
      @extend ._bgcl-white;
      @extend ._h-32px;
      @extend ._w-32px;
      left: -2px;
      top: -3px;
      box-shadow: 0 0 7px rgba(0,0,0,.3);
      transform: scale(.64);
      transition: all .2s ease-in-out;
    }
    &:checked:after{
      left: calc(100% - 30px);
    }
  }
  &.-disabled {
    @extend ._opct-50;
    > input[type="checkbox"],
    > label {
      @extend ._cs-na;
    }
  }
}

// File
.bio-file {
  position: relative;
  @extend ._cs-pt;
  > input[type="file"] {
    @extend ._pst-asl;
    @extend ._dp-b;
    @extend ._w-100pct;
    @extend ._h-100pct;
    @extend ._cs-pt;
    @extend ._opct-0;
    pointer-events: none;
  }
  > input[type="file"] + * {
    @extend ._dp-b;
    @extend ._bd-1px;
    @extend ._bgcl-white;
    @extend ._cl-dark;
    @extend ._bdcl-gray;
    @extend ._bdrd-2px;
    @extend ._cs-pt;
    padding: 10px 20px;
    user-select: none;
    &:before {
      content: " ";
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>Upload</title><path fill="%231f9eff" d="M11.25 16.5h-11.25v6h22.5v-6h-11.25zM21 19.5h-3v-1.5h3v1.5zM5.25 7.5l6-6 6 6h-3.75v7.5h-4.5v-7.5z"></path></svg>');
      background-size: contain;
      vertical-align: bottom;
      margin-right: 12px;
    }
    &:hover {
      background-color: lighten($color-gray, 30%);
      border-color: lighten($color-dark, 50%);
    }
  }
  &.-disabled {
    @extend ._opct-50;
    > input[type="file"],
    > label {
      @extend ._cs-na;
    }
  }
}

// Input
.bio-input > input,
.bio-textarea > textarea,
.bio-select > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @extend ._bgcl-white;
  @extend ._bdrd-4px;
  @extend ._bd-1px;
  @extend ._bdcl-gray;
  @extend ._cl-dark;
  @extend ._w-100pct;
  // @extend ._fw-500;
  vertical-align: top;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: inset 0 1px 1px hsla(0, 0, 64, 0.24);
  outline: none;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);

  &:hover {
    border-color: darken($color-gray, 10%);
  }

  &:focus, :active {
    border-color: $color-primary;
    box-shadow: 0 0 0 2px transparentize($color-primary, 0.7);
  }
}

// -Positive
.bio-input.-positive > input,
.bio-textarea.-positive > textarea,
.bio-select.-positive > select { 
  border-color: $color-positive;
  // background-color: transparentize($color-positive, .9);
  // @extend ._cl-positive;
  &:focus, :active {
    box-shadow: 0 0 0 2px transparentize($color-positive, 0.7);
  }
}

// -Negative
.bio-input.-negative > input,
.bio-textarea.-negative > textarea,
.bio-select.-negative > select { 
  border-color: $color-negative;
  // background-color: transparentize($color-negative, .9);
  // @extend ._cl-negative;
  &:focus, :active {
    box-shadow: 0 0 0 2px transparentize($color-negative, 0.7);
  }
}
  
// -Info
.bio-input.-info > input,
.bio-textarea.-info > textarea,
.bio-select.-info > select { 
  border-color: $color-info;
  // background-color: transparentize($color-info, .9);
  // @extend ._cl-info;
  &:focus, :active {
    box-shadow: 0 0 0 2px transparentize($color-info, 0.7);
  }
}
  
// -Warning
.bio-input.-warning > input,
.bio-textarea.-warning > textarea,
.bio-select.-warning > select { 
  border-color: $color-warning;
  // background-color: transparentize($color-warning, .9);
  // @extend ._cl-warning;
  &:focus, :active {
    box-shadow: 0 0 0 2px transparentize($color-warning, 0.7);
  }
}

// -Disabled
.bio-input.-disabled > input,
.bio-textarea.-disabled > textarea,
.bio-select.-disabled > select {
  @extend ._cs-na;
  background-color: lighten($color-gray, 10%);
  border-color: $color-gray;
}

// Multiple Select
.bio-select.-multiple > select {
  @extend ._pd-0px;
  > option {
    @extend ._pdv-8px;
    @extend ._pdh-8px;
    box-shadow: none;
    &:checked {
      background: linear-gradient(darken($color-primary, 5%), $color-primary, 5%);
    }
  }
}

// Input Height
.bio-input,
.bio-select:not(.-multiple) {
  height: 36px;
  max-height: 36px;
}

.bio-input > input,
.bio-select:not(.-multiple) > select {
  height: 36px;
  max-height: 36px;
}

// Icon Left
.bio-select:not(.-multiple) {
  @extend ._pst-rlt;
}

.bio-select:not(.-multiple) > select {
  @extend ._pdr-32px;
}

// Select Caret
.bio-select:not(.-multiple)::after {
  content: " ";
  @extend ._bd-2px;
  @extend ._bdr-0px;
  @extend ._bdt-0px;
  @extend ._bdcl-gray;
  @extend ._h-8px;
  @extend ._w-8px;
  @extend ._pst-asl;
  @extend ._r-8px;
  @extend ._t-50pct;
  transform: rotate(-45deg) translate(0, calc(-50% - 4px));
  z-index: 4;
  pointer-events: none;
}

.bio-textarea > textarea {
  @extend ._pdv-8px;
}

/* TODO (Consider)
* - Size
* - Icon left / right
* - Loading state
*/