.bio-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  margin-bottom: 16px;
  th {
    padding: 16px;
    border: 1px solid $color-dark;
    border-color: $color-neutral-500;
  }
  td {
    vertical-align: top;
    padding: 16px;
    border: 1px solid $color-dark;
    border-color: $color-neutral-500;
  }
}