progress.bio-progress[value] {
  appearance: none;
  @extend ._bd-0px;
  @extend ._w-100pct;
  @extend ._bdrd-3px;
  overflow: hidden;
  &::-webkit-progress-bar {
    @extend ._bgcl-gray;
  }
  &::-webkit-progress-value { background-color: $color-primary }
  &::-moz-progress-bar { background-color: $color-primary; }
  
  &.-accent {
    &::-webkit-progress-value { background-color: $color-accent }
    &::-moz-progress-bar { background-color: $color-accent; }
  }

  &.-positive {
    &::-webkit-progress-value { background-color: $color-positive }
    &::-moz-progress-bar { background-color: $color-positive; }
  }

  &.-negative {
    &::-webkit-progress-value { background-color: $color-negative }
    &::-moz-progress-bar { background-color: $color-negative; }
  }

  &.-warning {
    &::-webkit-progress-value { background-color: $color-warning }
    &::-moz-progress-bar { background-color: $color-warning; }
  }

  &.-info {
    &::-webkit-progress-value { background-color: $color-info }
    &::-moz-progress-bar { background-color: $color-info; }
  }

  &.-dark {
    &::-webkit-progress-value { background-color: $color-dark }
    &::-moz-progress-bar { background-color: $color-dark; }
  }

  &.-black {
    &::-webkit-progress-value { background-color: $color-black }
    &::-moz-progress-bar { background-color: $color-black; }
  }
}