
::-webkit-input-placeholder {
  color: darken($color-gray, 16%);
}

::-moz-placeholder {
  color: darken($color-gray, 40%);
}

select::-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.bio-input,
.bio-textarea,
.bio-select {
  @extend ._pst-rlt;
}

.bio-input > input,
.bio-textarea > textarea,
.bio-select > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @extend ._bgcl-white;
  @extend ._bdrd-4;
  @extend ._bd-1;
  @extend ._bdcl-gray;
  @extend ._cl-dark;
  @extend ._w-100pct;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: inset 0 1px 1px hsla(0, 0, 64, 0.24);
  outline: none;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);

  &:hover {
    border-color: darken($color-gray, 10%);
  }

  &:focus, :active {
    border-color: $color-primary;
    box-shadow: 0 0 0 2px transparentize($color-primary, 0.7);
  }
}

.bio-input.-positive > input,
.bio-textarea.-positive > textarea,
.bio-select.-positive > select { 
  border-color: $color-positive;
  &:focus, :active {
    box-shadow: 0 0 0 2px transparentize($color-positive, 0.7);
  }
}

.bio-input.-negative > input,
.bio-textarea.-negative > textarea,
.bio-select.-negative > select { 
  border-color: $color-negative;
  &:focus, :active {
    box-shadow: 0 0 0 2px transparentize($color-negative, 0.7);
  }
}
  

.bio-input.-info > input,
.bio-textarea.-info > textarea,
.bio-select.-info > select { 
  border-color: $color-info;
  &:focus, :active {
    box-shadow: 0 0 0 2px transparentize($color-info, 0.7);
  }
}
  

.bio-input.-warning > input,
.bio-textarea.-warning > textarea,
.bio-select.-warning > select { 
  border-color: $color-warning;
  &:focus, :active {
    box-shadow: 0 0 0 2px transparentize($color-warning, 0.7);
  }
}

.bio-input.-disabled > input,
.bio-textarea.-disabled > textarea,
.bio-select.-disabled > select {
  @extend ._cs-na;
  background-color: lighten($color-gray, 10%);
  border-color: $color-gray;
}

.bio-select.-multiple > select {
  @extend ._pd-0;
  > option {
    @extend ._pdv-8;
    @extend ._pdh-8;
    box-shadow: none;
    &:checked {
      background: linear-gradient($color-primary-500, $color-primary-500);
    }
  }
}

.bio-input,
.bio-select:not(.-multiple) {
  height: 36px;
  max-height: 36px;
}

.bio-input > input,
.bio-select:not(.-multiple) > select {
  height: 36px;
  max-height: 36px;
}

.bio-select:not(.-multiple)::after {
    border: 2px solid $color-gray;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 8px;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg) translate(0, calc(-50% - 4px));
    width: 8px;
    right: 8px;
    top: 50%;
    z-index: 4;
  }

.bio-textarea > textarea {
  @extend ._pdv-8;
}

.svg {
  width: 100px;
  height: 100px;
  background-image: 
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='212' height='106' viewBox='0 0 212 106'><polygon fill='%23D8D8D8' fill-rule='evenodd' points='154.79 48.79 181 -75 181 75 31 75' transform='rotate(45 106 0)'/></svg>");
}