.bio-breadcrumb {
	display: flex;
	flex-wrap: wrap;
	> * {
		color: $color-dark;
		opacity: .9;
		> * {
			color: $color-dark;
			opacity: .9;
		}
		&:not(:first-child) {
			&:before {
				content: "/";
				color: $color-dark;
				opacity: .4;
				margin-left: 8px;
				margin-right: 8px;
			}
		}
		&:last-child {
			color: $color-dark;
			opacity: 1;
		}
	}
}