.bio-card {
  display: grid;
  @extend ._bgcl-white;
  grid-template-columns: 16px 1fr 16px;
  grid-template-rows: 
    min-content
    12px
    auto
    auto
    16px
    auto
    auto
    16px
    auto;

  grid-template-areas: 
    "cover cover cover"
    ".       .       ."
    ". title         ."
    ". subtitle      ."
    ".       .       ."
    ". content       ."
    ". actions       ."
    ".       .       ."
    "at      at     at";

  &.-horizontal {
    grid-template-columns: 16px max-content 16px 1fr 16px;
    grid-template-rows: 
      16px
      auto
      auto
      12px
      auto
      auto
      16px
      auto;

    grid-template-areas: 
      ".   .   .     .    ."
      ". cover . title    ."
      ". cover . subtitle ."
      ". cover .     .    ."
      ". cover . content  ."
      ". cover . actions  ."
      ".   .   .     .    ."
      "at  at  at   at   at";

    >.bio-card-cover {
      width: 112px;
      height: 112px;
      @extend ._bdrd-2px;
    }
  }
  @extend ._bdrd-4px;
  
  &:not(.u-rise) {
    border: 1px solid transparentize($color-gray, .2);
  }

  >.bio-card-cover {
    grid-area: cover;
    @extend ._w-100pct;
  }
  >.bio-card-title {
    grid-area: title;
    @extend ._fs-4;
    @extend ._cl-dark;
  }
  >.bio-card-subtitle {
    grid-area: subtitle;
    @extend ._fs-7;
    @extend ._opct-60;
    @extend ._cl-dark;
  }
  >.bio-card-content {
    grid-area: content;
    @extend ._cl-dark;
    @extend ._lh-125pct;
  }
  >.bio-card-actions {
    grid-area: actions;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 16px;
    @extend ._cl-dark;
    > * {
      &:not(:last-child) {
        @extend ._mgr-16px;
      }
    }
    &.-push-left {
      justify-content: flex-start;
    }
    &.-attached {
      grid-area: at;
      justify-content: justify;
      @extend ._mgt-0px;
      border-top: 1px solid transparentize($color-gray, .2);
      > * {
        flex: 1;
        padding: 12px;
        @extend ._mgr-0px;
        @extend ._tal-ct;
        &:not(:last-child) {
          border-right: 1px solid transparentize($color-gray, .4);
        }
      }
    }
  }
}
// TODO
// - card action ?