.bio-icon {
  @extend .bio-icon;
  display: inline-block;
  background-repeat: no-repeat;
  background-color: $color-neutral-700;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="192" height="144" viewBox="0 0 192 144"><svg id="bio-icon-account_circle" width="24" height="24" viewBox="0 0 24 24" x="0" y="0"><path d="M12 19.219c2.484 0 4.688-1.313 6-3.234-0.047-1.969-4.031-3.094-6-3.094-2.016 0-5.953 1.125-6 3.094 1.313 1.922 3.516 3.234 6 3.234zM12 5.016c-1.641 0-3 1.359-3 3s1.359 3 3 3 3-1.359 3-3-1.359-3-3-3zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984z"></path></svg><svg id="bio-icon-add" width="24" height="24" viewBox="0 0 24 24" x="24" y="0"><path d="M18.984 12.984h-6v6h-1.969v-6h-6v-1.969h6v-6h1.969v6h6v1.969z"></path></svg><svg id="bio-icon-arrow_back" width="24" height="24" viewBox="0 0 24 24" x="48" y="0"><path d="M20.016 11.016v1.969h-12.188l5.578 5.625-1.406 1.406-8.016-8.016 8.016-8.016 1.406 1.406-5.578 5.625h12.188z"></path></svg><svg id="bio-icon-arrow_downward" width="24" height="24" viewBox="0 0 24 24" x="72" y="0"><path d="M20.016 12l-8.016 8.016-8.016-8.016 1.453-1.406 5.578 5.578v-12.188h1.969v12.188l5.625-5.578z"></path></svg><svg id="bio-icon-arrow_drop_down" width="24" height="24" viewBox="0 0 24 24" x="96" y="0"><path d="M6.984 9.984h10.031l-5.016 5.016z"></path></svg><svg id="bio-icon-arrow_drop_up" width="24" height="24" viewBox="0 0 24 24" x="120" y="0"><path d="M6.984 14.016l5.016-5.016 5.016 5.016h-10.031z"></path></svg><svg id="bio-icon-arrow_forward" width="24" height="24" viewBox="0 0 24 24" x="144" y="0"><path d="M12 3.984l8.016 8.016-8.016 8.016-1.406-1.406 5.578-5.625h-12.188v-1.969h12.188l-5.578-5.625z"></path></svg><svg id="bio-icon-arrow_upward" width="24" height="24" viewBox="0 0 24 24" x="168" y="0"><path d="M3.984 12l8.016-8.016 8.016 8.016-1.453 1.406-5.578-5.578v12.188h-1.969v-12.188l-5.625 5.578z"></path></svg><svg id="bio-icon-flag" width="24" height="24" viewBox="0 0 24 24" x="0" y="24"><path d="M14.391 6h5.625v9.984h-7.031l-0.375-1.969h-5.625v6.984h-1.969v-17.016h9z"></path></svg><svg id="bio-icon-attach_file" width="24" height="24" viewBox="0 0 24 24" x="24" y="24"><path d="M16.5 6h1.5v11.484c0 3.047-2.438 5.531-5.484 5.531s-5.531-2.484-5.531-5.531v-12.469c0-2.203 1.828-4.031 4.031-4.031s3.984 1.828 3.984 4.031v10.5c0 1.359-1.125 2.484-2.484 2.484s-2.531-1.125-2.531-2.484v-9.516h1.5v9.516c0 0.563 0.469 0.984 1.031 0.984s0.984-0.422 0.984-0.984v-10.5c0-1.359-1.125-2.531-2.484-2.531s-2.531 1.172-2.531 2.531v12.469c0 2.203 1.828 4.031 4.031 4.031s3.984-1.828 3.984-4.031v-11.484z"></path></svg><svg id="bio-icon-attachment" width="24" height="24" viewBox="0 0 24 24" x="48" y="24"><path d="M2.016 12.516c0-3.047 2.438-5.531 5.484-5.531h10.5c2.203 0 3.984 1.828 3.984 4.031s-1.781 3.984-3.984 3.984h-8.484c-1.359 0-2.531-1.125-2.531-2.484s1.172-2.531 2.531-2.531h7.5v2.016h-7.594c-0.563 0-0.563 0.984 0 0.984h8.578c1.078 0 2.016-0.891 2.016-1.969s-0.938-2.016-2.016-2.016h-10.5c-1.922 0-3.516 1.594-3.516 3.516s1.594 3.469 3.516 3.469h9.516v2.016h-9.516c-3.047 0-5.484-2.438-5.484-5.484z"></path></svg><svg id="bio-icon-autorenew" width="24" height="24" viewBox="0 0 24 24" x="72" y="24"><path d="M18.75 7.734c0.797 1.219 1.266 2.719 1.266 4.266 0 4.406-3.609 8.016-8.016 8.016v3l-3.984-4.031 3.984-3.984v3c3.328 0 6-2.672 6-6 0-1.031-0.281-1.969-0.703-2.813zM12 6c-3.328 0-6 2.672-6 6 0 1.031 0.234 1.969 0.703 2.813l-1.453 1.453c-0.797-1.219-1.266-2.719-1.266-4.266 0-4.406 3.609-8.016 8.016-8.016v-3l3.984 4.031-3.984 3.984v-3z"></path></svg><svg id="bio-icon-cloud_upload" width="24" height="24" viewBox="0 0 24 24" x="96" y="24"><path d="M14.016 12.984h3l-5.016-4.969-5.016 4.969h3v4.031h4.031v-4.031zM19.359 10.031c2.578 0.188 4.641 2.344 4.641 4.969 0 2.766-2.25 5.016-5.016 5.016h-12.984c-3.328 0-6-2.672-6-6 0-3.094 2.344-5.625 5.344-5.953 1.266-2.391 3.75-4.078 6.656-4.078 3.656 0 6.656 2.578 7.359 6.047z"></path></svg><svg id="bio-icon-block" width="24" height="24" viewBox="0 0 24 24" x="120" y="24"><path d="M12 20.016c4.406 0 8.016-3.609 8.016-8.016 0-1.828-0.609-3.563-1.688-4.922l-11.25 11.25c1.359 1.078 3.094 1.688 4.922 1.688zM3.984 12c0 1.828 0.609 3.563 1.688 4.922l11.25-11.25c-1.359-1.078-3.094-1.688-4.922-1.688-4.406 0-8.016 3.609-8.016 8.016zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984z"></path></svg><svg id="bio-icon-check" width="24" height="24" viewBox="0 0 24 24" x="144" y="24"><path d="M9 16.172l10.594-10.594 1.406 1.406-12 12-5.578-5.578 1.406-1.406z"></path></svg><svg id="bio-icon-close" width="24" height="24" viewBox="0 0 24 24" x="168" y="24"><path d="M18.984 6.422l-5.578 5.578 5.578 5.578-1.406 1.406-5.578-5.578-5.578 5.578-1.406-1.406 5.578-5.578-5.578-5.578 1.406-1.406 5.578 5.578 5.578-5.578z"></path></svg><svg id="bio-icon-cloud_download" width="24" height="24" viewBox="0 0 24 24" x="0" y="48"><path d="M17.016 12.984h-3v-3.984h-4.031v3.984h-3l5.016 5.016zM19.359 10.031c2.578 0.188 4.641 2.344 4.641 4.969 0 2.766-2.25 5.016-5.016 5.016h-12.984c-3.328 0-6-2.672-6-6 0-3.094 2.344-5.625 5.344-5.953 1.266-2.391 3.75-4.078 6.656-4.078 3.656 0 6.656 2.578 7.359 6.047z"></path></svg><svg id="bio-icon-delete" width="24" height="24" viewBox="0 0 24 24" x="24" y="48"><path d="M18.984 3.984v2.016h-13.969v-2.016h3.469l1.031-0.984h4.969l1.031 0.984h3.469zM6 18.984v-12h12v12c0 1.078-0.938 2.016-2.016 2.016h-7.969c-1.078 0-2.016-0.938-2.016-2.016z"></path></svg><svg id="bio-icon-error_outline" width="24" height="24" viewBox="0 0 24 24" x="48" y="48"><path d="M12 20.016c4.406 0 8.016-3.609 8.016-8.016s-3.609-8.016-8.016-8.016-8.016 3.609-8.016 8.016 3.609 8.016 8.016 8.016zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984zM11.016 6.984h1.969v6h-1.969v-6zM11.016 15h1.969v2.016h-1.969v-2.016z"></path></svg><svg id="bio-icon-favorite" width="24" height="24" viewBox="0 0 24 24" x="72" y="48"><path d="M12 21.328l-1.453-1.313c-5.156-4.688-8.531-7.734-8.531-11.531 0-3.094 2.391-5.484 5.484-5.484 1.734 0 3.422 0.844 4.5 2.109 1.078-1.266 2.766-2.109 4.5-2.109 3.094 0 5.484 2.391 5.484 5.484 0 3.797-3.375 6.891-8.531 11.578z"></path></svg><svg id="bio-icon-favorite_border" width="24" height="24" viewBox="0 0 24 24" x="96" y="48"><path d="M12.094 18.563c4.781-4.313 7.922-7.172 7.922-10.078 0-2.016-1.5-3.469-3.516-3.469-1.547 0-3.047 0.984-3.563 2.344h-1.875c-0.516-1.359-2.016-2.344-3.563-2.344-2.016 0-3.516 1.453-3.516 3.469 0 2.906 3.141 5.766 7.922 10.078l0.094 0.094zM16.5 3c3.094 0 5.484 2.391 5.484 5.484 0 3.797-3.375 6.844-8.531 11.531l-1.453 1.313-1.453-1.266c-5.156-4.688-8.531-7.781-8.531-11.578 0-3.094 2.391-5.484 5.484-5.484 1.734 0 3.422 0.844 4.5 2.109 1.078-1.266 2.766-2.109 4.5-2.109z"></path></svg><svg id="bio-icon-star" width="24" height="24" viewBox="0 0 24 24" x="120" y="48"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"></path></svg><svg id="bio-icon-help_outline" width="24" height="24" viewBox="0 0 24 24" x="144" y="48"><path d="M12 6c2.203 0 3.984 1.781 3.984 3.984 0 2.484-3 2.766-3 5.016h-1.969c0-3.234 3-3 3-5.016 0-1.078-0.938-1.969-2.016-1.969s-2.016 0.891-2.016 1.969h-1.969c0-2.203 1.781-3.984 3.984-3.984zM12 20.016c4.406 0 8.016-3.609 8.016-8.016s-3.609-8.016-8.016-8.016-8.016 3.609-8.016 8.016 3.609 8.016 8.016 8.016zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984zM11.016 18v-2.016h1.969v2.016h-1.969z"></path></svg><svg id="bio-icon-highlight_off" width="24" height="24" viewBox="0 0 24 24" x="168" y="48"><path d="M12 20.016c4.406 0 8.016-3.609 8.016-8.016s-3.609-8.016-8.016-8.016-8.016 3.609-8.016 8.016 3.609 8.016 8.016 8.016zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984zM14.578 8.016l1.406 1.406-2.578 2.578 2.578 2.578-1.406 1.406-2.578-2.578-2.578 2.578-1.406-1.406 2.578-2.578-2.578-2.578 1.406-1.406 2.578 2.578z"></path></svg><svg id="bio-icon-home" width="24" height="24" viewBox="0 0 24 24" x="0" y="72"><path d="M9.984 20.016h-4.969v-8.016h-3l9.984-9 9.984 9h-3v8.016h-4.969v-6h-4.031v6z"></path></svg><svg id="bio-icon-keyboard_arrow_down" width="24" height="24" viewBox="0 0 24 24" x="24" y="72"><path d="M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z"></path></svg><svg id="bio-icon-keyboard_arrow_left" width="24" height="24" viewBox="0 0 24 24" x="48" y="72"><path d="M15.422 16.078l-1.406 1.406-6-6 6-6 1.406 1.406-4.594 4.594z"></path></svg><svg id="bio-icon-keyboard_arrow_right" width="24" height="24" viewBox="0 0 24 24" x="72" y="72"><path d="M8.578 16.359l4.594-4.594-4.594-4.594 1.406-1.406 6 6-6 6z"></path></svg><svg id="bio-icon-keyboard_arrow_up" width="24" height="24" viewBox="0 0 24 24" x="96" y="72"><path d="M7.406 15.422l-1.406-1.406 6-6 6 6-1.406 1.406-4.594-4.594z"></path></svg><svg id="bio-icon-keyboard_backspace" width="24" height="24" viewBox="0 0 24 24" x="120" y="72"><path d="M21 11.016v1.969h-14.156l3.563 3.609-1.406 1.406-6-6 6-6 1.406 1.406-3.563 3.609h14.156z"></path></svg><svg id="bio-icon-shopping_cart" width="24" height="24" viewBox="0 0 24 24" x="144" y="72"><path d="M17.016 18c1.078 0 1.969 0.938 1.969 2.016s-0.891 1.969-1.969 1.969-2.016-0.891-2.016-1.969 0.938-2.016 2.016-2.016zM0.984 2.016h3.281l0.938 1.969h14.813c0.563 0 0.984 0.469 0.984 1.031 0 0.188-0.047 0.328-0.141 0.469l-3.563 6.469c-0.328 0.609-0.984 1.031-1.734 1.031h-7.453l-0.891 1.641-0.047 0.141c0 0.141 0.094 0.234 0.234 0.234h11.578v2.016h-12c-1.078 0-1.969-0.938-1.969-2.016 0-0.328 0.094-0.656 0.234-0.938l1.359-2.484-3.609-7.594h-2.016v-1.969zM6.984 18c1.078 0 2.016 0.938 2.016 2.016s-0.938 1.969-2.016 1.969-1.969-0.891-1.969-1.969 0.891-2.016 1.969-2.016z"></path></svg><svg id="bio-icon-local_offer" width="24" height="24" viewBox="0 0 24 24" x="168" y="72"><path d="M5.484 6.984c0.844 0 1.5-0.656 1.5-1.5s-0.656-1.5-1.5-1.5-1.5 0.656-1.5 1.5 0.656 1.5 1.5 1.5zM21.422 11.578c0.375 0.375 0.563 0.844 0.563 1.406s-0.188 1.031-0.563 1.406l-7.031 7.031c-0.375 0.375-0.844 0.563-1.406 0.563s-1.031-0.188-1.406-0.563l-9-9c-0.375-0.375-0.563-0.844-0.563-1.406v-7.031c0-1.078 0.891-1.969 1.969-1.969h7.031c0.563 0 1.031 0.188 1.406 0.563z"></path></svg><svg id="bio-icon-room" width="24" height="24" viewBox="0 0 24 24" x="0" y="96"><path d="M12 11.484c1.359 0 2.484-1.125 2.484-2.484s-1.125-2.484-2.484-2.484-2.484 1.125-2.484 2.484 1.125 2.484 2.484 2.484zM12 2.016c3.891 0 6.984 3.094 6.984 6.984 0 5.25-6.984 12.984-6.984 12.984s-6.984-7.734-6.984-12.984c0-3.891 3.094-6.984 6.984-6.984z"></path></svg><svg id="bio-icon-lock_open" width="24" height="24" viewBox="0 0 24 24" x="24" y="96"><path d="M18 20.016v-10.031h-12v10.031h12zM18 8.016c1.078 0 2.016 0.891 2.016 1.969v10.031c0 1.078-0.938 1.969-2.016 1.969h-12c-1.078 0-2.016-0.891-2.016-1.969v-10.031c0-1.078 0.938-1.969 2.016-1.969h9.094v-2.016c0-1.688-1.406-3.094-3.094-3.094s-3.094 1.406-3.094 3.094h-1.922c0-2.766 2.25-5.016 5.016-5.016s5.016 2.25 5.016 5.016v2.016h0.984zM12 17.016c-1.078 0-2.016-0.938-2.016-2.016s0.938-2.016 2.016-2.016 2.016 0.938 2.016 2.016-0.938 2.016-2.016 2.016z"></path></svg><svg id="bio-icon-lock_outline" width="24" height="24" viewBox="0 0 24 24" x="48" y="96"><path d="M18 20.016v-10.031h-12v10.031h12zM8.906 6v2.016h6.188v-2.016c0-1.688-1.406-3.094-3.094-3.094s-3.094 1.406-3.094 3.094zM18 8.016c1.078 0 2.016 0.891 2.016 1.969v10.031c0 1.078-0.938 1.969-2.016 1.969h-12c-1.078 0-2.016-0.891-2.016-1.969v-10.031c0-1.078 0.938-1.969 2.016-1.969h0.984v-2.016c0-2.766 2.25-5.016 5.016-5.016s5.016 2.25 5.016 5.016v2.016h0.984zM12 17.016c-1.078 0-2.016-0.938-2.016-2.016s0.938-2.016 2.016-2.016 2.016 0.938 2.016 2.016-0.938 2.016-2.016 2.016z"></path></svg><svg id="bio-icon-mail_outline" width="24" height="24" viewBox="0 0 24 24" x="72" y="96"><path d="M12 11.016l8.016-5.016h-16.031zM20.016 18v-9.984l-8.016 4.969-8.016-4.969v9.984h16.031zM20.016 3.984c1.078 0 1.969 0.938 1.969 2.016v12c0 1.078-0.891 2.016-1.969 2.016h-16.031c-1.078 0-1.969-0.938-1.969-2.016v-12c0-1.078 0.891-2.016 1.969-2.016h16.031z"></path></svg><svg id="bio-icon-more_horiz" width="24" height="24" viewBox="0 0 24 24" x="96" y="96"><path d="M12 9.984c1.078 0 2.016 0.938 2.016 2.016s-0.938 2.016-2.016 2.016-2.016-0.938-2.016-2.016 0.938-2.016 2.016-2.016zM18 9.984c1.078 0 2.016 0.938 2.016 2.016s-0.938 2.016-2.016 2.016-2.016-0.938-2.016-2.016 0.938-2.016 2.016-2.016zM6 9.984c1.078 0 2.016 0.938 2.016 2.016s-0.938 2.016-2.016 2.016-2.016-0.938-2.016-2.016 0.938-2.016 2.016-2.016z"></path></svg><svg id="bio-icon-more_vert" width="24" height="24" viewBox="0 0 24 24" x="120" y="96"><path d="M12 15.984c1.078 0 2.016 0.938 2.016 2.016s-0.938 2.016-2.016 2.016-2.016-0.938-2.016-2.016 0.938-2.016 2.016-2.016zM12 9.984c1.078 0 2.016 0.938 2.016 2.016s-0.938 2.016-2.016 2.016-2.016-0.938-2.016-2.016 0.938-2.016 2.016-2.016zM12 8.016c-1.078 0-2.016-0.938-2.016-2.016s0.938-2.016 2.016-2.016 2.016 0.938 2.016 2.016-0.938 2.016-2.016 2.016z"></path></svg><svg id="bio-icon-person" width="24" height="24" viewBox="0 0 24 24" x="144" y="96"><path d="M12 14.016c2.672 0 8.016 1.313 8.016 3.984v2.016h-16.031v-2.016c0-2.672 5.344-3.984 8.016-3.984zM12 12c-2.203 0-3.984-1.781-3.984-3.984s1.781-4.031 3.984-4.031 3.984 1.828 3.984 4.031-1.781 3.984-3.984 3.984z"></path></svg><svg id="bio-icon-priority_high" width="24" height="24" viewBox="0 0 24 24" x="168" y="96"><path d="M9.984 3h4.031v12h-4.031v-12zM9.984 18.984c0-1.125 0.891-1.969 2.016-1.969s2.016 0.844 2.016 1.969-0.891 2.016-2.016 2.016-2.016-0.891-2.016-2.016z"></path></svg><svg id="bio-icon-refresh" width="24" height="24" viewBox="0 0 24 24" x="0" y="120"><path d="M17.672 6.328l2.344-2.344v7.031h-7.031l3.234-3.234c-1.078-1.078-2.578-1.781-4.219-1.781-3.328 0-6 2.672-6 6s2.672 6 6 6c2.625 0 4.875-1.641 5.672-3.984h2.063c-0.891 3.469-3.984 6-7.734 6-4.406 0-7.969-3.609-7.969-8.016s3.563-8.016 7.969-8.016c2.203 0 4.219 0.891 5.672 2.344z"></path></svg><svg id="bio-icon-settings" width="24" height="24" viewBox="0 0 24 24" x="24" y="120"><path d="M12 15.516c1.922 0 3.516-1.594 3.516-3.516s-1.594-3.516-3.516-3.516-3.516 1.594-3.516 3.516 1.594 3.516 3.516 3.516zM19.453 12.984l2.109 1.641c0.188 0.141 0.234 0.422 0.094 0.656l-2.016 3.469c-0.141 0.234-0.375 0.281-0.609 0.188l-2.484-0.984c-0.516 0.375-1.078 0.75-1.688 0.984l-0.375 2.625c-0.047 0.234-0.234 0.422-0.469 0.422h-4.031c-0.234 0-0.422-0.188-0.469-0.422l-0.375-2.625c-0.609-0.234-1.172-0.563-1.688-0.984l-2.484 0.984c-0.234 0.094-0.469 0.047-0.609-0.188l-2.016-3.469c-0.141-0.234-0.094-0.516 0.094-0.656l2.109-1.641c-0.047-0.328-0.047-0.656-0.047-0.984s0-0.656 0.047-0.984l-2.109-1.641c-0.188-0.141-0.234-0.422-0.094-0.656l2.016-3.469c0.141-0.234 0.375-0.281 0.609-0.188l2.484 0.984c0.516-0.375 1.078-0.75 1.688-0.984l0.375-2.625c0.047-0.234 0.234-0.422 0.469-0.422h4.031c0.234 0 0.422 0.188 0.469 0.422l0.375 2.625c0.609 0.234 1.172 0.563 1.688 0.984l2.484-0.984c0.234-0.094 0.469-0.047 0.609 0.188l2.016 3.469c0.141 0.234 0.094 0.516-0.094 0.656l-2.109 1.641c0.047 0.328 0.047 0.656 0.047 0.984s0 0.656-0.047 0.984z"></path></svg><svg id="bio-icon-star_border" width="24" height="24" viewBox="0 0 24 24" x="48" y="120"><path d="M12 15.422l3.75 2.25-0.984-4.266 3.328-2.906-4.406-0.375-1.688-4.031-1.688 4.031-4.406 0.375 3.328 2.906-0.984 4.266zM21.984 9.234l-5.438 4.734 1.641 7.031-6.188-3.75-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609z"></path></svg><svg id="bio-icon-star_half" width="24" height="24" viewBox="0 0 24 24" x="72" y="120"><path d="M12 15.422l3.75 2.25-0.984-4.266 3.328-2.906-4.406-0.375-1.688-4.031v9.328zM21.984 9.234l-5.438 4.734 1.641 7.031-6.188-3.75-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609z"></path></svg></svg>');
}

.bio-icon-account_circle {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: 0 0;
}

.bio-icon-add {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -24px 0;
}

.bio-icon-arrow_back {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -48px 0;
}

.bio-icon-arrow_downward {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -72px 0;
}

.bio-icon-arrow_drop_down {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -96px 0;
}

.bio-icon-arrow_drop_up {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -120px 0;
}

.bio-icon-arrow_forward {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -144px 0;
}

.bio-icon-arrow_upward {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -168px 0;
}

.bio-icon-flag {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: 0 -24px;
}

.bio-icon-attach_file {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -24px -24px;
}

.bio-icon-attachment {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -48px -24px;
}

.bio-icon-autorenew {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -72px -24px;
}

.bio-icon-cloud_upload {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -96px -24px;
}

.bio-icon-block {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -120px -24px;
}

.bio-icon-check {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -144px -24px;
}

.bio-icon-close {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -168px -24px;
}

.bio-icon-cloud_download {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: 0 -48px;
}

.bio-icon-delete {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -24px -48px;
}

.bio-icon-error_outline {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -48px -48px;
}

.bio-icon-favorite {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -72px -48px;
}

.bio-icon-favorite_border {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -96px -48px;
}

.bio-icon-star {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -120px -48px;
}

.bio-icon-help_outline {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -144px -48px;
}

.bio-icon-highlight_off {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -168px -48px;
}

.bio-icon-home {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: 0 -72px;
}

.bio-icon-keyboard_arrow_down {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -24px -72px;
}

.bio-icon-keyboard_arrow_left {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -48px -72px;
}

.bio-icon-keyboard_arrow_right {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -72px -72px;
}

.bio-icon-keyboard_arrow_up {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -96px -72px;
}

.bio-icon-keyboard_backspace {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -120px -72px;
}

.bio-icon-shopping_cart {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -144px -72px;
}

.bio-icon-local_offer {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -168px -72px;
}

.bio-icon-room {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: 0 -96px;
}

.bio-icon-lock_open {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -24px -96px;
}

.bio-icon-lock_outline {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -48px -96px;
}

.bio-icon-mail_outline {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -72px -96px;
}

.bio-icon-more_horiz {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -96px -96px;
}

.bio-icon-more_vert {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -120px -96px;
}

.bio-icon-person {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -144px -96px;
}

.bio-icon-priority_high {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -168px -96px;
}

.bio-icon-refresh {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: 0 -120px;
}

.bio-icon-settings {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -24px -120px;
}

.bio-icon-star_border {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -48px -120px;
}

.bio-icon-star_half {
  @extend .bio-icon;
  width: 24px;
  height: 24px;
  -webkit-mask-position: -72px -120px;
}