progress.bio-progress[value] {
	appearance: none;
	border: 0px solid $color-dark;
	width: 100%;
	border-radius: 3px;
	overflow: hidden;

	&::-webkit-progress-bar {
	  	background-color: $color-gray;
	}

	&::-webkit-progress-value { background-color: $color-primary }
	&::-moz-progress-bar { background-color: $color-primary; }

	&.-accent {
		&::-webkit-progress-value { background-color: $color-accent }
		&::-moz-progress-bar { background-color: $color-accent; }
	}

	&.-positive {
		&::-webkit-progress-value { background-color: $color-positive }
		&::-moz-progress-bar { background-color: $color-positive; }
	}

	&.-negative {
		&::-webkit-progress-value { background-color: $color-negative }
		&::-moz-progress-bar { background-color: $color-negative; }
	}

	&.-warning {
		&::-webkit-progress-value { background-color: $color-warning }
		&::-moz-progress-bar { background-color: $color-warning; }
	}

	&.-info {
		&::-webkit-progress-value { background-color: $color-info }
		&::-moz-progress-bar { background-color: $color-info; }
	}
}
