.bio-button {
  @extend ._pd-8px;
  @extend ._bdrd-2px;
  @extend ._bgcl-primary;
  @extend ._tal-ct;
  @extend ._cs-pt;
  @extend ._lh-150pct;
  @extend ._pst-rlt;
  @extend ._cl-white;
  user-select: none;
  transition:
    transform 0.18s ease,
    box-shadow 0.18s ease,
    background-color 0.18s ease,
    border-color 0.18s ease;
  
  &:hover {
    background-color: lighten($color-primary, 5%)
  }

  &.-primary {
    @extend ._bgcl-primary;
    &.-outline {
      @extend ._bd-1px;
      @extend ._bdcl-primary;
      @extend ._cl-primary;
      @extend ._bgcl-tpr;
      &.-loading {
        @extend ._cl-tpr;
        &:after {
          border-left-color: $color-primary;
          border-bottom-color: $color-primary;
        }
      }
    }
    &:not(.-outline):hover {
      background-color: lighten($color-primary, 5%)
    }
  }
  
  &.-accent {
    @extend ._bgcl-accent;
    &.-outline {
      @extend ._bd-1px;
      @extend ._bdcl-accent;
      @extend ._cl-accent;
      @extend ._bgcl-tpr;
      &.-loading {
        @extend ._cl-tpr;
        &:after {
          border-left-color: $color-accent;
          border-bottom-color: $color-accent;
        }
      }
    }
    &:not(.-outline):hover {
      background-color: lighten($color-accent, 10%)
    }
  }

  &.-positive {
    @extend ._bgcl-positive;
    &.-outline {
      @extend ._bd-1px;
      @extend ._bdcl-positive;
      @extend ._cl-positive;
      @extend ._bgcl-tpr;
      &.-loading {
        @extend ._cl-tpr;
        &:after {
          border-left-color: $color-positive;
          border-bottom-color: $color-positive;
        }
      }
    }
    &:not(.-outline):hover {
      background-color: lighten($color-positive, 3%);
    }
  }

  &.-info {
    @extend ._bgcl-info;
    &.-outline {
      @extend ._bd-1px;
      @extend ._bdcl-info;
      @extend ._cl-info;
      @extend ._bgcl-tpr;
      &.-loading {
        @extend ._cl-tpr;
        &:after {
          border-left-color: $color-info;
          border-bottom-color: $color-info;
        }
      }
    }
    &:not(.-outline):hover {
      background-color: lighten($color-info, 5%);
    }
  }
  
  &.-warning {
    @extend ._bgcl-warning;
    &.-outline {
      @extend ._bd-1px;
      @extend ._bdcl-warning;
      @extend ._cl-warning;
      @extend ._bgcl-tpr;
      &.-loading {
        @extend ._cl-tpr;
        &:after {
          border-left-color: $color-warning;
          border-bottom-color: $color-warning;
        }
      }
    }
    &:not(.-outline):hover {
      background-color: lighten($color-warning, 7%);
    }
  }

  &.-negative {
    @extend ._bgcl-negative;
    &.-outline {
      @extend ._bd-1px;
      @extend ._bdcl-negative;
      @extend ._cl-negative;
      @extend ._bgcl-tpr;
      &.-loading {
        @extend ._cl-tpr;
        &:after {
          border-left-color: $color-negative;
          border-bottom-color: $color-negative;
        }
      }
    }
    &:not(.-outline):hover {
      background-color: lighten($color-negative, 6%);
    }
  }

  &.-dark {
    @extend ._bgcl-dark;
    &:hover {
      background-color: lighten($color-dark, 5%);
    }
  }

  &.-black {
    @extend ._bgcl-black;
    &:hover {
      background-color: lighten($color-black, 15%);
    }
  }
  
  &.-gray {
    @extend ._bgcl-gray;
    @extend ._cl-dark;
    &:hover {
      background-color: lighten($color-gray, 5%);
    }
  }

  &.-white {
    @extend ._bgcl-white;
    @extend ._cl-dark;
    @extend ._bd-1px;
    @extend ._bdcl-gray;
    &:hover {
      background-color: lighten($color-gray, 30%);
      border-color: lighten($color-dark, 50%);
    }
  }

  // &.-rise {
  //   @extend ._bsd-1;
  //   &:hover {
  //     @extend ._bsd-2;
  //     transform: translate(0, -1px);
  //   }
  // }

  &.-disabled {
    @extend ._cs-na;
    @extend ._opct-40;
    @extend ._cs-na;
  }
  
  &.-loading {
    @extend ._cl-tpr;
    &:after {
      content: "";
      position: absolute;
      height: 1em;
      width: 1em;
      left: calc(50% - ((1em + 6px) / 2));
      top: calc(50% - ((1em + 6px) / 2));
      animation: spinAround 500ms infinite linear;
      border: 3px solid;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
    }
    
    &:not(.-outline) {
      &:after {
        border-left-color: $color-white;
        border-bottom-color: $color-white;
      }
    }

    &.-white {
      &:after {
        border-left-color: $color-dark;
        border-bottom-color: $color-dark;
      }
    }
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}