.bio-card {
  display: grid;
  background-color: $color-white;
  grid-template-columns: 16px 1fr 16px;
  grid-template-rows: 
    min-content
    12px
    auto
    auto
    auto
    auto
    16px
    auto;

  grid-template-areas: 
    "cover cover cover"
    ".       .       ."
    ". title         ."
    ". subtitle      ."
    ". content       ."
    ". actions       ."
    ".       .       ."
    "at      at     at";

  &.-horizontal {
    grid-template-columns: 16px max-content 16px 1fr 16px;
    grid-template-rows: 
      16px
      auto
      auto
      auto
      auto
      16px
      auto;

    grid-template-areas: 
      ".   .   .     .    ."
      ". cover . title    ."
      ". cover . subtitle ."
      ". cover . content  ."
      ". cover . actions  ."
      ".   .   .     .    ."
      "at  at  at   at   at";

    >.bio-card-cover {
      width: 112px;
      height: 112px;
      border-radius: 2px;
    }
  }
  border-radius: 4px;
  
  &:not(.u-rise) {
    border: 1px solid $color-gray;
  }

  >.bio-card-cover {
    grid-area: cover;
    width: 100%;
  }
  >.bio-card-title {
    grid-area: title;
    font-size: 1.5rem;
    color: $color-dark;
  }
  >.bio-card-subtitle {
    grid-area: subtitle;
    font-size: 0.75rem;
    opacity: .6;
    color: $color-dark;
  }
  >.bio-card-content {
    grid-area: content;
    padding-top: 12px;
    color: $color-dark;
    line-height: 125%;
    &:first-child {
      padding-top: 0px;
    }
  }
  >.bio-card-actions {
    grid-area: actions;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 16px;
    color: $color-dark;
    > * {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
    &.-push-left {
      justify-content: flex-start;
    }
    &.-attached {
      grid-area: at;
      justify-content: justify;
      margin-top: 0px;
      border-top: 1px solid transparentize($color-gray, .2);
      > * {
        flex: 1;
        padding: 12px;
        margin-right: 0px;
        text-align: center;
        &:not(:last-child) {
          border-right: 1px solid transparentize($color-gray, .4);
        }
      }
    }
  }
}
// TODO
// - card action ?