._alct-st    { align-content: start !important; }
._alct-e     { align-content: end !important; }
._alct-l     { align-content: left !important; }
._alct-r     { align-content: right !important; }
._alct-ct    { align-content: center !important; }
._alct-str   { align-content: stretch !important; }
._alct-fst   { align-content: flex-start !important; }
._alct-fe    { align-content: flex-end !important; }
._alct-spbtw { align-content: space-between !important; }
._alct-spar  { align-content: space-around !important; }
._alct-spevl { align-content: space-evenly !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._alct-st-#{$breakpointName}    { align-content: start !important; }
		._alct-e-#{$breakpointName}     { align-content: end !important; }
		._alct-l-#{$breakpointName}     { align-content: left !important; }
		._alct-r-#{$breakpointName}     { align-content: right !important; }
		._alct-ct-#{$breakpointName}    { align-content: center !important; }
		._alct-str-#{$breakpointName}   { align-content: stretch !important; }
		._alct-fst-#{$breakpointName}   { align-content: flex-start !important; }
		._alct-fe-#{$breakpointName}    { align-content: flex-end !important; }
		._alct-spbtw-#{$breakpointName} { align-content: space-between !important; }
		._alct-spar-#{$breakpointName}  { align-content: space-around !important; }
		._alct-spevl-#{$breakpointName} { align-content: space-evenly !important; }
	};
};
