._bgrp-rp  { background-repeat: repeat !important; }
._bgrp-rpx { background-repeat: repeat-x !important; }
._bgrp-rpy { background-repeat: repeat-y !important; }
._bgrp-nrp { background-repeat: no-repeat !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._bgrp-rp-#{$breakpointName}  { background-repeat: repeat !important; }
		._bgrp-rpx-#{$breakpointName} { background-repeat: repeat-x !important; }
		._bgrp-rpy-#{$breakpointName} { background-repeat: repeat-y !important; }
		._bgrp-nrp-#{$breakpointName} { background-repeat: no-repeat !important; }
	};
};
