._bgpst-t   { background-position: top !important; }
._bgpst-tr  { background-position: top right !important; }
._bgpst-tl  { background-position: top left !important; }
._bgpst-bt  { background-position: bottom !important; }
._bgpst-btr { background-position: bottom right !important; }
._bgpst-btl { background-position: bottom left !important; }
._bgpst-ct  { background-position: center !important; }
._bgpst-ctr { background-position: center right !important; }
._bgpst-ctl { background-position: center left!important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._bgpst-t-#{$breakpointName}   { background-position: top !important; }
		._bgpst-tr-#{$breakpointName}  { background-position: top right !important; }
		._bgpst-tl-#{$breakpointName}  { background-position: top left !important; }
		._bgpst-bt-#{$breakpointName}  { background-position: bottom !important; }
		._bgpst-btr-#{$breakpointName} { background-position: bottom right !important; }
		._bgpst-btl-#{$breakpointName} { background-position: bottom left !important; }
		._bgpst-ct-#{$breakpointName}  { background-position: center !important; }
		._bgpst-ctr-#{$breakpointName} { background-position: center right !important; }
		._bgpst-ctl-#{$breakpointName} { background-position: center left!important; }
	};
};
