._bgs-cv { background-size: cover !important; }
._bgs-ct { background-size: contain !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._bgs-cv-#{$breakpointName} { background-size: cover !important; }
		._bgs-ct-#{$breakpointName} { background-size: contain !important; }
	};
};
