._dp-b   { display: block !important; }
._dp-f   { display: flex !important; }
._dp-g   { display: grid !important; }
._dp-il  { display: inline !important; }
._dp-ilb { display: inline-block !important; }
._dp-ilf { display: inline-flex !important; }
._dp-tb  { display: table !important; }
._dp-tbc { display: table-cell !important; }
._dp-n   { display: none !important; }

@each $breakpoint, $mediaQuery in $breakpoint-rules {
	@include minimum-screen-size ($mediaQuery) {
		._dp-b-#{$breakpoint}   { display: block !important; }
		._dp-f-#{$breakpoint}   { display: flex !important; }
		._dp-g-#{$breakpoint}   { display: grid !important; }
		._dp-il-#{$breakpoint}  { display: inline !important; }
		._dp-ilb-#{$breakpoint} { display: inline-block !important; }
		._dp-ilf-#{$breakpoint} { display: inline-flex !important; }
		._dp-tb-#{$breakpoint}  { display: table !important; }
		._dp-tbc-#{$breakpoint} { display: table-cell !important; }
		._dp-n-#{$breakpoint}   { display: none !important; }
	};
};
