._dp-b   { display: block !important; }
._dp-f   { display: flex !important; }
._dp-g   { display: grid !important; }
._dp-il  { display: inline !important; }
._dp-ilb { display: inline-block !important; }
._dp-ilf { display: inline-flex !important; }
._dp-tb  { display: table !important; }
._dp-tbc { display: table-cell !important; }
._dp-n   { display: none !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._dp-b-#{$breakpointName}   { display: block !important; }
		._dp-f-#{$breakpointName}   { display: flex !important; }
		._dp-g-#{$breakpointName}   { display: grid !important; }
		._dp-il-#{$breakpointName}  { display: inline !important; }
		._dp-ilb-#{$breakpointName} { display: inline-block !important; }
		._dp-ilf-#{$breakpointName} { display: inline-flex !important; }
		._dp-tb-#{$breakpointName}  { display: table !important; }
		._dp-tbc-#{$breakpointName} { display: table-cell !important; }
		._dp-n-#{$breakpointName}   { display: none !important; }
	};
};
