._fdrt-r { flex-direction: row !important; }
._fdrt-cl { flex-direction: column !important; }
._fdrt-rrw { flex-direction: row-reverse !important; }
._fdrt-clrv { flex-direction: column-reverse !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._fdrt-r-#{$breakpointName} { flex-direction: row !important; }
		._fdrt-cl-#{$breakpointName} { flex-direction: column !important; }
		._fdrt-rrw-#{$breakpointName} { flex-direction: row-reverse !important; }
		._fdrt-clrv-#{$breakpointName} { flex-direction: column-reverse !important; }
	};
};
