._jtfs-st  { justify-self: start !important; }
._jtfs-e   { justify-self: end !important; }
._jtfs-fst { justify-self: flex-start !important; }
._jtfs-fe  { justify-self: flex-end !important; }
._jtfs-ct  { justify-self: center !important; }
._jtfs-str { justify-self: stretch !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._jtfs-st-#{$breakpointName}  { justify-self: start !important; }
		._jtfs-e-#{$breakpointName}   { justify-self: end !important; }
		._jtfs-fst-#{$breakpointName} { justify-self: flex-start !important; }
		._jtfs-fe-#{$breakpointName}  { justify-self: flex-end !important; }
		._jtfs-ct-#{$breakpointName}  { justify-self: center !important; }
		._jtfs-str-#{$breakpointName} { justify-self: stretch !important; }
	};
};
