._jtfit-st  { justify-items: start !important; }
._jtfit-e  { justify-items: end !important; }
._jtfit-ct { justify-items: center !important; }
._jtfit-str { justify-items: stretch !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._jtfit-st-#{$breakpointName}  { justify-items: start !important; }
		._jtfit-e-#{$breakpointName}  { justify-items: end !important; }
		._jtfit-ct-#{$breakpointName} { justify-items: center !important; }
		._jtfit-str-#{$breakpointName} { justify-items: stretch !important; }
	};
};
