._ltspc-1px  { letter-spacing: 1px !important; }
._ltspc-2px  { letter-spacing: 2px !important; }
._ltspc-4px  { letter-spacing: 4px !important; }
._ltspc-8px  { letter-spacing: 8px !important; }
._ltspc-16px { letter-spacing: 16px !important; }
._ltspc-24px { letter-spacing: 24px !important; }
._ltspc-32px { letter-spacing: 32px !important; }

@each $breakpoint, $mediaQuery in $breakpoint-rules {
	@include minimum-screen-size ($mediaQuery) {
		._ltspc-1px-#{$breakpoint}  { letter-spacing: 1px !important; }
		._ltspc-2px-#{$breakpoint}  { letter-spacing: 2px !important; }
		._ltspc-4px-#{$breakpoint}  { letter-spacing: 4px !important; }
		._ltspc-8px-#{$breakpoint}  { letter-spacing: 8px !important; }
		._ltspc-16px-#{$breakpoint} { letter-spacing: 16px !important; }
		._ltspc-24px-#{$breakpoint} { letter-spacing: 24px !important; }
		._ltspc-32px-#{$breakpoint} { letter-spacing: 32px !important; }
	};
};
