._ojf-cv { object-fit: cover !important; }
._ojf-ct { object-fit: contain !important; }
._ojf-f  { object-fit: fill !important; }
._ojf-n  { object-fit: none !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._ojf-cv-#{$breakpointName} { object-fit: cover !important; }
		._ojf-ct-#{$breakpointName} { object-fit: contain !important; }
		._ojf-f-#{$breakpointName}  { object-fit: fill !important; }
		._ojf-n-#{$breakpointName}  { object-fit: none !important; }
	};
};
