._od-0  { order: 0 !important; }
._od-1  { order: 1 !important; }
._od-2  { order: 2 !important; }
._od-3  { order: 3 !important; }
._od--1 { order: -1 !important; }
._od--2 { order: -2 !important; }
._od--3 { order: -3 !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._od-0-#{$breakpointName}  { order: 0 !important; }
		._od-1-#{$breakpointName}  { order: 1 !important; }
		._od-2-#{$breakpointName}  { order: 2 !important; }
		._od-3-#{$breakpointName}  { order: 3 !important; }
		._od--1-#{$breakpointName} { order: -1 !important; }
		._od--2-#{$breakpointName} { order: -2 !important; }
		._od--3-#{$breakpointName} { order: -3 !important; }
	};
};
