._ovf-vsb  { overflow: visible !important; }
._ovf-at   { overflow: auto !important; }
._ovf-hd   { overflow: hidden !important; }
._ovf-sc   { overflow: scroll !important; }
._ovfx-vsb { overflow-x: visible !important; }
._ovfx-at  { overflow-x: auto !important; }
._ovfx-hd  { overflow-x: hidden !important; }
._ovfx-sc  { overflow-x: scroll !important; }
._ovfy-vsb { overflow-y: visible !important; }
._ovfy-at  { overflow-y: auto !important; }
._ovfy-hd  { overflow-y: hidden !important; }
._ovfy-sc  { overflow-y: scroll !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._ovf-vsb-#{$breakpointName}  { overflow: visible !important; }
		._ovf-at-#{$breakpointName}   { overflow: auto !important; }
		._ovf-hd-#{$breakpointName}   { overflow: hidden !important; }
		._ovf-sc-#{$breakpointName}   { overflow: scroll !important; }
		._ovfx-vsb-#{$breakpointName} { overflow-x: visible !important; }
		._ovfx-at-#{$breakpointName}  { overflow-x: auto !important; }
		._ovfx-hd-#{$breakpointName}  { overflow-x: hidden !important; }
		._ovfx-sc-#{$breakpointName}  { overflow-x: scroll !important; }
		._ovfy-vsb-#{$breakpointName} { overflow-y: visible !important; }
		._ovfy-at-#{$breakpointName}  { overflow-y: auto !important; }
		._ovfy-hd-#{$breakpointName}  { overflow-y: hidden !important; }
		._ovfy-sc-#{$breakpointName}  { overflow-y: scroll !important; }
	};
};
