._ovfw-nm  { overflow-wrap: normal !important; }
._ovfw-bw  { overflow-wrap: break-word !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._ovfw-nm-#{$breakpointName}  { overflow-wrap: visible !important; }
		._ovfw-bw-#{$breakpointName}  { overflow-wrap: break-word !important; }
	};
};
