._ovfw-nm  { overflow-wrap: normal !important; }
._ovfw-bw  { overflow-wrap: break-word !important; }

@each $breakpoint, $mediaQuery in $breakpoints {
	@include minimum-screen-size ($mediaQuery) {
		._ovfw-nm-#{$breakpoint}  { overflow-wrap: visible !important; }
		._ovfw-bw-#{$breakpoint}  { overflow-wrap: break-word !important; }
	};
};
