._ptev-at { pointer-events: auto !important; }
._ptev-n { pointer-events: none !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._ptev-at-#{$breakpointName} { pointer-events: auto !important; }
		._ptev-n-#{$breakpointName} { pointer-events: none !important; }
	};
};
