._tdcrt-udl { text-decoration: underline !important; }
._tdcrt-ovl { text-decoration: overline !important; }
._tdcrt-lt  { text-decoration: line-through !important; }
._tdcrt-n   { text-decoration: none !important; }

@each $breakpoint, $mediaQuery in $breakpoint-rules {
	@include minimum-screen-size ($mediaQuery) {
		._tdcrt-udl-#{$breakpoint} { text-decoration: underline !important; }
		._tdcrt-ovl-#{$breakpoint} { text-decoration: overline !important; }
		._tdcrt-lt-#{$breakpoint}  { text-decoration: line-through !important; }
		._tdcrt-n-#{$breakpoint}   { text-decoration: none !important; }
	};
};
