._tdcrt-udl { text-decoration: underline !important; }
._tdcrt-ovl { text-decoration: overline !important; }
._tdcrt-lt  { text-decoration: line-through !important; }
._tdcrt-n   { text-decoration: none !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._tdcrt-udl-#{$breakpointName} { text-decoration: underline !important; }
		._tdcrt-ovl-#{$breakpointName} { text-decoration: overline !important; }
		._tdcrt-lt-#{$breakpointName}  { text-decoration: line-through !important; }
		._tdcrt-n-#{$breakpointName}   { text-decoration: none !important; }
	};
};
