._tal-l   { text-align: left !important; }
._tal-r   { text-align: right !important; }
._tal-ct  { text-align: center !important; }
._tal-jtf { text-align: justify !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._tal-l-#{$breakpointName}   { text-align: left !important; }
		._tal-r-#{$breakpointName}   { text-align: right !important; }
		._tal-ct-#{$breakpointName}  { text-align: center !important; }
		._tal-jtf-#{$breakpointName} { text-align: justify !important; }
	};
};
