._tal-l   { text-align: left !important; }
._tal-r   { text-align: right !important; }
._tal-ct  { text-align: center !important; }
._tal-jtf { text-align: justify !important; }

@each $breakpoint, $mediaQuery in $breakpoint-rules {
	@include minimum-screen-size ($mediaQuery) {
		._tal-l-#{$breakpoint}   { text-align: left !important; }
		._tal-r-#{$breakpoint}   { text-align: right !important; }
		._tal-ct-#{$breakpoint}  { text-align: center !important; }
		._tal-jtf-#{$breakpoint} { text-align: justify !important; }
	};
};
