._ttf-cptl { text-transform: capitalize !important; }
._ttf-lwc  { text-transform: lowercase !important; }
._ttf-upc  { text-transform: uppercase !important; }
._ttf-n    { text-transform: none !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._ttf-cptl-#{$breakpointName} { text-transform: capitalize !important; }
		._ttf-lwc-#{$breakpointName}  { text-transform: lowercase !important; }
		._ttf-upc-#{$breakpointName}  { text-transform: uppercase !important; }
		._ttf-n-#{$breakpointName}    { text-transform: none !important; }
	};
};
