._tovf-c   { text-overflow: clip !important; }
._tovf-els { text-overflow: ellipsis !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._tovf-c-#{$breakpointName}   { text-overflow: clip !important; }
		._tovf-els-#{$breakpointName} { text-overflow: ellipsis !important; }
	};
};
