._ussl-n { user-select: none !important; }
._ussl-t { user-select: text !important; }

@each $breakpoint, $mediaQuery in $breakpoints {
	@include minimum-screen-size ($mediaQuery) {
		._ussl-n-#{$breakpoint} { user-select: none !important; }
		._ussl-t-#{$breakpoint} { user-select: text !important; }
	};
};
