._ussl-n { user-select: none !important; }
._ussl-t { user-select: text !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		._ussl-n-#{$breakpointName} { user-select: none !important; }
		._ussl-t-#{$breakpointName} { user-select: text !important; }
	};
};
