._vtcal-t { vertical-align: top !important; }
._vtcal-bt { vertical-align: bottom !important; }
._vtcal-bl { vertical-align: baseline !important; }
._vtcal-md { vertical-align: middle !important; }

@each $breakpoint, $mediaQuery in $breakpoints {
	@include minimum-screen-size ($mediaQuery) {
		._vtcal-t-#{$breakpoint} { vertical-align: top !important; }
		._vtcal-bt-#{$breakpoint} { vertical-align: bottom !important; }
		._vtcal-bl-#{$breakpoint} { vertical-align: baseline !important; }
		._vtcal-md-#{$breakpoint} { vertical-align: middle !important; }
	};
};
