@import '_align-content';
@import '_align-items';
@import '_align-self';
@import '_backface-visibility';
@import '_background-attachment';
@import '_background-blend-mode';
@import '_background-color';
@import '_background-position';
@import '_background-repeat';
@import '_background-size';
@import '_border-color';
@import '_border-radius';
@import '_border-width';
@import '_bottom';
@import '_box-shadow';
@import '_color';
@import '_cursor';
@import '_display';
@import '_flex';
@import '_flex-direction';
@import '_flex-wrap';
@import '_float';
@import '_font-family';
@import '_font-size';
@import '_font-weight';
@import '_grid-auto-flow';
@import '_grid-gap';
@import '_height';
@import '_isolation';
@import '_justify-content';
@import '_justify-items';
@import '_justify-self';
@import '_left';
@import '_letter-spacing';
@import '_line-height';
@import '_list-style';
@import '_list-style-position';
@import '_margin';
@import '_max-width';
@import '_min-width';
@import '_mix-blend-mode';
@import '_object-fit';
@import '_opacity';
@import '_order';
@import '_overflow';
@import '_overflow-wrap';
@import '_padding';
@import '_pointer-events';
@import '_position';
@import '_right';
@import '_svg';
@import '_text-align';
@import '_text-decoration';
@import '_text-decoration-color';
@import '_text-overflow';
@import '_text-transform';
@import '_top';
@import '_user-select';
@import '_vertical-align';
@import '_white-space';
@import '_width';
@import '_word-break';
@import '_z-index';
