._alit-st  { align-items: start !important; }
._alit-e   { align-items: end !important; }
._alit-ct  { align-items: center !important; }
._alit-str { align-items: stretch !important; }
._alit-fst { align-items: flex-start !important; }
._alit-fe  { align-items: flex-end !important; }

@include sm-upper {
  ._alit-st-sm  { align-items: start !important; }
  ._alit-e-sm   { align-items: end !important; }
  ._alit-ct-sm  { align-items: center !important; }
  ._alit-str-sm { align-items: stretch !important; }
  ._alit-fst-sm { align-items: flex-start !important; }
  ._alit-fe-sm  { align-items: flex-end !important; }
}

@include md-upper {
  ._alit-st-md  { align-items: start !important; }
  ._alit-e-md   { align-items: end !important; }
  ._alit-ct-md  { align-items: center !important; }
  ._alit-str-md { align-items: stretch !important; }
  ._alit-fst-md { align-items: flex-start !important; }
  ._alit-fe-md  { align-items: flex-end !important; }
}

@include lg-upper {
  ._alit-st-lg  { align-items: start !important; }
  ._alit-e-lg   { align-items: end !important; }
  ._alit-ct-lg  { align-items: center !important; }
  ._alit-str-lg { align-items: stretch !important; }
  ._alit-fst-lg { align-items: flex-start !important; }
  ._alit-fe-lg  { align-items: flex-end !important; }
}
