._alct-st    { align-content: start !important; }
._alct-e     { align-content: end !important; }
._alct-l     { align-content: left !important; }
._alct-r     { align-content: right !important; }
._alct-ct    { align-content: center !important; }
._alct-str   { align-content: stretch !important; }
._alct-fst   { align-content: flex-start !important; }
._alct-fe    { align-content: flex-end !important; }
._alct-spbtw { align-content: space-between !important; }
._alct-spar  { align-content: space-around !important; }
._alct-spevl { align-content: space-evenly !important; }

@include sm-upper {
  ._alct-st-sm    { align-content: start !important; }
  ._alct-e-sm     { align-content: end !important; }
  ._alct-l-sm     { align-content: left !important; }
  ._alct-r-sm     { align-content: right !important; }
  ._alct-ct-sm    { align-content: center !important; }
  ._alct-str-sm   { align-content: stretch !important; }
  ._alct-fst-sm   { align-content: flex-start !important; }
  ._alct-fe-sm    { align-content: flex-end !important; }
  ._alct-spbtw-sm { align-content: space-between !important; }
  ._alct-spar-sm  { align-content: space-around !important; }
  ._alct-spevl-sm { align-content: space-evenly !important; }
}

@include md-upper {
  ._alct-st-md    { align-content: start !important; }
  ._alct-e-md     { align-content: end !important; }
  ._alct-l-md     { align-content: left !important; }
  ._alct-r-md     { align-content: right !important; }
  ._alct-ct-md    { align-content: center !important; }
  ._alct-str-md   { align-content: stretch !important; }
  ._alct-fst-md   { align-content: flex-start !important; }
  ._alct-fe-md    { align-content: flex-end !important; }
  ._alct-spbtw-md { align-content: space-between !important; }
  ._alct-spar-md  { align-content: space-around !important; }
  ._alct-spevl-md { align-content: space-evenly !important; }
}

@include lg-upper {
  ._alct-st-lg    { align-content: start !important; }
  ._alct-e-lg     { align-content: end !important; }
  ._alct-l-lg     { align-content: left !important; }
  ._alct-r-lg     { align-content: right !important; }
  ._alct-ct-lg    { align-content: center !important; }
  ._alct-str-lg   { align-content: stretch !important; }
  ._alct-fst-lg   { align-content: flex-start !important; }
  ._alct-fe-lg    { align-content: flex-end !important; }
  ._alct-spbtw-lg { align-content: space-between !important; }
  ._alct-spar-lg  { align-content: space-around !important; }
  ._alct-spevl-lg { align-content: space-evenly !important; }
}
