._bfvsblt-hd   { backface-visibility: hidden !important; }
._bfvsblt-vsb  { backface-visibility: visible !important; }

@include sm-upper {
  ._bfvsblt-hd-sm   { backface-visibility: hidden !important; }
  ._bfvsblt-vsb-sm  { backface-visibility: visible !important; }
}

@include md-upper {
  ._bfvsblt-hd-md   { backface-visibility: hidden !important; }
  ._bfvsblt-vsb-md  { backface-visibility: visible !important; }
}

@include lg-upper {
  ._bfvsblt-hd-lg   { backface-visibility: hidden !important; }
  ._bfvsblt-vsb-lg  { backface-visibility: visible !important; }
}
