._bgatm-sc { background-attachment: scroll !important; }
._bgatm-f { background-attachment: fixed !important; }
._bgatm-lc { background-attachment: local !important; }

@each $breakpoint, $mediaQuery in $breakpoints {
	@include minimum-screen-size ($mediaQuery) {
		._bgatm-sc-#{$breakpoint} { background-attachment: scroll !important; }
		._bgatm-f-#{$breakpoint} { background-attachment: fixed !important; }
		._bgatm-lc-#{$breakpoint} { background-attachment: local !important; }
	}
}
