._bfvsblt-hd   { backface-visibility: hidden !important; }
._bfvsblt-vsb  { backface-visibility: visible !important; }

@each $breakpoint, $mediaQuery in $breakpoints {
	@include minimum-screen-size( $mediaQuery ) {
		._bfvsblt-hd-#{$breakpoint}   { backface-visibility: hidden !important; }
		._bfvsblt-vsb-#{$breakpoint}  { backface-visibility: visible !important; }
	}
}
