._bgs-cv { background-size: cover !important; }
._bgs-ct { background-size: contain !important; }

@each $breakpoint, $mediaQuery in $breakpoints {
	@include minimum-screen-size( $mediaQuery ) {
		._bgs-cv-#{$breakpoint} { background-size: cover !important; }
		._bgs-ct-#{$breakpoint} { background-size: contain !important; }
	}
}
