._bgs-cv { background-size: cover !important; }
._bgs-ct { background-size: contain !important; }

@include sm-upper {
  ._bgs-cv-sm { background-size: cover !important; }
  ._bgs-ct-sm { background-size: contain !important; }
}

@include md-upper {
  ._bgs-cv-md { background-size: cover !important; }
  ._bgs-ct-md { background-size: contain !important; }
}

@include lg-upper {
  ._bgs-cv-lg { background-size: cover !important; }
  ._bgs-ct-lg { background-size: contain !important; }
}
