/*---------------------------
  Border Radius
----------------------------*/
._bdrd-1px {
  border-radius: 1px;
}

._bdrd-2px {
  border-radius: 2px;
}

._bdrd-4px {
  border-radius: 4px;
}

._bdrd-8px {
  border-radius: 8px;
}

._bdrd-16px {
  border-radius: 16px;
}

._bdrd-32px {
  border-radius: 32px;
}

._bdrd-64px {
  border-radius: 64px;
}

._bdrd-128px {
  border-radius: 128px;
}

._bdrd-50pct {
  border-radius: 50%;
}
