
$border-default-color: $color-dark;

/*---------------------------
  Border All
----------------------------*/
._bd {
  border: 1px solid $border-default-color;
}

._bd-0px {
  border: 0px;
}

._bd-1px {
  border: 1px solid $border-default-color;
}

._bd-2px {
  border: 2px solid $border-default-color;
}

._bd-4px {
  border: 4px solid $border-default-color;
}

._bd-8px {
  border: 8px solid $border-default-color;
}

._bd-16px {
  border: 16px solid $border-default-color;
}

._bd-32px {
  border: 32px solid $border-default-color;
}

/*---------------------------
  Border Left
----------------------------*/
._bdl-0px {
  border-left: 0px;
}

._bdl {
  border-left: 1px solid $border-default-color;
}

._bdl-1px {
  border-left: 1px solid $border-default-color;
}

._bdl-2px {
  border-left: 2px solid $border-default-color;
}

._bdl-4px {
  border-left: 4px solid $border-default-color;
}

._bdl-8px {
  border-left: 8px solid $border-default-color;
}

._bdl-16px {
  border-left: 16px solid $border-default-color;
}

._bdl-32px {
  border-left: 32px solid $border-default-color;
}

/*---------------------------
  Border Right
----------------------------*/
._bdr {
  border-right: 1px solid $border-default-color;
}

._bdr-0px {
  border-right: 0px;
}

._bdr-1px {
  border-right: 1px solid $border-default-color;
}

._bdr-2px {
  border-right: 2px solid $border-default-color;
}

._bdr-4px {
  border-right: 4px solid $border-default-color;
}

._bdr-8px {
  border-right: 8px solid $border-default-color;
}

._bdr-16px {
  border-right: 16px solid $border-default-color;
}

._bdr-32px {
  border-right: 32px solid $border-default-color;
}

/*---------------------------
  Border Top
----------------------------*/
._bdt {
  border-top: 1px solid $border-default-color;
}

._bdt-0px {
  border-top: 0px;
}

._bdt-1px {
  border-top: 1px solid $border-default-color;
}

._bdt-2px {
  border-top: 2px solid $border-default-color;
}

._bdt-4px {
  border-top: 4px solid $border-default-color;
}

._bdt-8px {
  border-top: 8px solid $border-default-color;
}

._bdt-16px {
  border-top: 16px solid $border-default-color;
}

._bdt-32px {
  border-top: 32px solid $border-default-color;
}

/*---------------------------
  Border Bottom
----------------------------*/
._bdbt {
  border-bottom: 1px solid $border-default-color;
}

._bdbt-0px {
  border-bottom: 0px;
}

._bdbt-1px {
  border-bottom: 1px solid $border-default-color;
}

._bdbt-2px {
  border-bottom: 2px solid $border-default-color;
}

._bdbt-4px {
  border-bottom: 4px solid $border-default-color;
}

._bdbt-8px {
  border-bottom: 8px solid $border-default-color;
}

._bdbt-16px {
  border-bottom: 16px solid $border-default-color;
}

._bdbt-32px {
  border-bottom: 32px solid $border-default-color;
}

/*---------------------------
  Border Color
----------------------------*/
._bdcl-primary {
  border-color: $color-primary;
}

._bdcl-primary-100 {
  border-color: $color-primary-100;
}

._bdcl-primary-200 {
  border-color: $color-primary-200;
}

._bdcl-primary-300 {
  border-color: $color-primary-300;
}

._bdcl-primary-400 {
  border-color: $color-primary-400;
}

._bdcl-primary-500 {
  border-color: $color-primary-500;
}

._bdcl-primary-600 {
  border-color: $color-primary-600;
}

._bdcl-primary-700 {
  border-color: $color-primary-700;
}

._bdcl-primary-800 {
  border-color: $color-primary-800;
}

._bdcl-primary-900 {
  border-color: $color-primary-900;
}

._bdcl-accent {
  border-color: $color-accent;
}

._bdcl-accent-100 {
  border-color: $color-accent-100;
}

._bdcl-accent-200 {
  border-color: $color-accent-200;
}

._bdcl-accent-300 {
  border-color: $color-accent-300;
}

._bdcl-accent-400 {
  border-color: $color-accent-400;
}

._bdcl-accent-500 {
  border-color: $color-accent-500;
}

._bdcl-accent-600 {
  border-color: $color-accent-600;
}

._bdcl-accent-700 {
  border-color: $color-accent-700;
}

._bdcl-accent-800 {
  border-color: $color-accent-800;
}

._bdcl-accent-900 {
  border-color: $color-accent-900;
}

._bdcl-positive {
  border-color: $color-positive;
}

._bdcl-warning {
  border-color: $color-warning;
}

._bdcl-info {
  border-color: $color-info;
}

._bdcl-negative {
  border-color: $color-negative;
}

._bdcl-neutral {
  border-color: $color-neutral;
}

._bdcl-neutral-900 {
  border-color: $color-neutral-900;
}

._bdcl-neutral-800 {
  border-color: $color-neutral-800;
}

._bdcl-neutral-700 {
  border-color: $color-neutral-700;
}

._bdcl-neutral-700 {
  border-color: $color-neutral-700;
}

._bdcl-neutral-600 {
  border-color: $color-neutral-600;
}

._bdcl-neutral-500 {
  border-color: $color-neutral-500;
}

._bdcl-neutral-400 {
  border-color: $color-neutral-400;
}

._bdcl-neutral-300 {
  border-color: $color-neutral-300;
}

._bdcl-neutral-200 {
  border-color: $color-neutral-200;
}

._bdcl-neutral-100 {
  border-color: $color-neutral-100;
}

._bdcl-white {
  border-color: $color-white;
}

._bdcl-gray {
  border-color: $color-gray;
}

._bdcl-dark {
  border-color: $color-dark;
}

._bdcl-black {
  border-color: $color-black;
}