$border-default-color: $color-dark;

._bd      { border: 1px solid $border-default-color; }
._bd-0px  { border: 0px; }
._bd-1px  { border: 1px solid $border-default-color; }
._bd-2px  { border: 2px solid $border-default-color; }
._bd-4px  { border: 4px solid $border-default-color; }
._bd-8px  { border: 8px solid $border-default-color; }
._bd-16px { border: 16px solid $border-default-color; }
._bd-32px { border: 32px solid $border-default-color; }

._bdl-0px  { border-left: 0px; }
._bdl      { border-left: 1px solid $border-default-color; }
._bdl-1px  { border-left: 1px solid $border-default-color; }
._bdl-2px  { border-left: 2px solid $border-default-color; }
._bdl-4px  { border-left: 4px solid $border-default-color; }
._bdl-8px  { border-left: 8px solid $border-default-color; }
._bdl-16px { border-left: 16px solid $border-default-color; }
._bdl-32px { border-left: 32px solid $border-default-color; }

._bdr      { border-right: 1px solid $border-default-color; }
._bdr-0px  { border-right: 0px; }
._bdr-1px  { border-right: 1px solid $border-default-color; }
._bdr-2px  { border-right: 2px solid $border-default-color; }
._bdr-4px  { border-right: 4px solid $border-default-color; }
._bdr-8px  { border-right: 8px solid $border-default-color; }
._bdr-16px { border-right: 16px solid $border-default-color; }
._bdr-32px { border-right: 32px solid $border-default-color; }

._bdt      { border-top: 1px solid $border-default-color; }
._bdt-0px  { border-top: 0px; }
._bdt-1px  { border-top: 1px solid $border-default-color; }
._bdt-2px  { border-top: 2px solid $border-default-color; }
._bdt-4px  { border-top: 4px solid $border-default-color; }
._bdt-8px  { border-top: 8px solid $border-default-color; }
._bdt-16px { border-top: 16px solid $border-default-color; }
._bdt-32px { border-top: 32px solid $border-default-color; }

._bdbt      { border-bottom: 1px solid $border-default-color; }
._bdbt-0px  { border-bottom: 0px; }
._bdbt-1px  { border-bottom: 1px solid $border-default-color; }
._bdbt-2px  { border-bottom: 2px solid $border-default-color; }
._bdbt-4px  { border-bottom: 4px solid $border-default-color; }
._bdbt-8px  { border-bottom: 8px solid $border-default-color; }
._bdbt-16px { border-bottom: 16px solid $border-default-color; }
._bdbt-32px { border-bottom: 32px solid $border-default-color; }

._bdcl-primary     { border-color: $color-primary; }
._bdcl-primary-100 { border-color: $color-primary-100; }
._bdcl-primary-200 { border-color: $color-primary-200; }
._bdcl-primary-300 { border-color: $color-primary-300; }
._bdcl-primary-400 { border-color: $color-primary-400; }
._bdcl-primary-500 { border-color: $color-primary-500; }
._bdcl-primary-600 { border-color: $color-primary-600; }
._bdcl-primary-700 { border-color: $color-primary-700; }
._bdcl-primary-800 { border-color: $color-primary-800; }
._bdcl-primary-900 { border-color: $color-primary-900; }

._bdcl-accent     { border-color: $color-accent; }
._bdcl-accent-100 { border-color: $color-accent-100; }
._bdcl-accent-200 { border-color: $color-accent-200; }
._bdcl-accent-300 { border-color: $color-accent-300; }
._bdcl-accent-400 { border-color: $color-accent-400; }
._bdcl-accent-500 { border-color: $color-accent-500; }
._bdcl-accent-600 { border-color: $color-accent-600; }
._bdcl-accent-700 { border-color: $color-accent-700; }
._bdcl-accent-800 { border-color: $color-accent-800; }
._bdcl-accent-900 { border-color: $color-accent-900; }

._bdcl-neutral     { border-color: $color-neutral; }
._bdcl-neutral-900 { border-color: $color-neutral-900; }
._bdcl-neutral-800 { border-color: $color-neutral-800; }
._bdcl-neutral-700 { border-color: $color-neutral-700; }
._bdcl-neutral-700 { border-color: $color-neutral-700; }
._bdcl-neutral-600 { border-color: $color-neutral-600; }
._bdcl-neutral-500 { border-color: $color-neutral-500; }
._bdcl-neutral-400 { border-color: $color-neutral-400; }
._bdcl-neutral-300 { border-color: $color-neutral-300; }
._bdcl-neutral-200 { border-color: $color-neutral-200; }
._bdcl-neutral-100 { border-color: $color-neutral-100; }

._bdcl-positive { border-color: $color-positive; }
._bdcl-warning  { border-color: $color-warning; }
._bdcl-info     { border-color: $color-info; }
._bdcl-negative { border-color: $color-negative; }

._bdcl-white { border-color: $color-white; }
._bdcl-gray  { border-color: $color-gray; }
._bdcl-dark  { border-color: $color-dark; }
._bdcl-black { border-color: $color-black; }

@include sm-upper {
  ._bd-sm      { border: 1px solid $border-default-color; }
  ._bd-0px-sm  { border: 0px; }
  ._bd-1px-sm  { border: 1px solid $border-default-color; }
  ._bd-2px-sm  { border: 2px solid $border-default-color; }
  ._bd-4px-sm  { border: 4px solid $border-default-color; }
  ._bd-8px-sm  { border: 8px solid $border-default-color; }
  ._bd-16px-sm { border: 16px solid $border-default-color; }
  ._bd-32px-sm { border: 32px solid $border-default-color; }
  
  ._bdl-0px-sm  { border-left: 0px; }
  ._bdl-sm      { border-left: 1px solid $border-default-color; }
  ._bdl-1px-sm  { border-left: 1px solid $border-default-color; }
  ._bdl-2px-sm  { border-left: 2px solid $border-default-color; }
  ._bdl-4px-sm  { border-left: 4px solid $border-default-color; }
  ._bdl-8px-sm  { border-left: 8px solid $border-default-color; }
  ._bdl-16px-sm { border-left: 16px solid $border-default-color; }
  ._bdl-32px-sm { border-left: 32px solid $border-default-color; }
  
  ._bdr-sm      { border-right: 1px solid $border-default-color; }
  ._bdr-0px-sm  { border-right: 0px; }
  ._bdr-1px-sm  { border-right: 1px solid $border-default-color; }
  ._bdr-2px-sm  { border-right: 2px solid $border-default-color; }
  ._bdr-4px-sm  { border-right: 4px solid $border-default-color; }
  ._bdr-8px-sm  { border-right: 8px solid $border-default-color; }
  ._bdr-16px-sm { border-right: 16px solid $border-default-color; }
  ._bdr-32px-sm { border-right: 32px solid $border-default-color; }
  
  ._bdt-sm      { border-top: 1px solid $border-default-color; }
  ._bdt-0px-sm  { border-top: 0px; }
  ._bdt-1px-sm  { border-top: 1px solid $border-default-color; }
  ._bdt-2px-sm  { border-top: 2px solid $border-default-color; }
  ._bdt-4px-sm  { border-top: 4px solid $border-default-color; }
  ._bdt-8px-sm  { border-top: 8px solid $border-default-color; }
  ._bdt-16px-sm { border-top: 16px solid $border-default-color; }
  ._bdt-32px-sm { border-top: 32px solid $border-default-color; }
  
  ._bdbt-sm      { border-bottom: 1px solid $border-default-color; }
  ._bdbt-0px-sm  { border-bottom: 0px; }
  ._bdbt-1px-sm  { border-bottom: 1px solid $border-default-color; }
  ._bdbt-2px-sm  { border-bottom: 2px solid $border-default-color; }
  ._bdbt-4px-sm  { border-bottom: 4px solid $border-default-color; }
  ._bdbt-8px-sm  { border-bottom: 8px solid $border-default-color; }
  ._bdbt-16px-sm { border-bottom: 16px solid $border-default-color; }
  ._bdbt-32px-sm { border-bottom: 32px solid $border-default-color; }
  
  ._bdcl-primary-sm     { border-color: $color-primary; }
  ._bdcl-primary-100-sm { border-color: $color-primary-100; }
  ._bdcl-primary-200-sm { border-color: $color-primary-200; }
  ._bdcl-primary-300-sm { border-color: $color-primary-300; }
  ._bdcl-primary-400-sm { border-color: $color-primary-400; }
  ._bdcl-primary-500-sm { border-color: $color-primary-500; }
  ._bdcl-primary-600-sm { border-color: $color-primary-600; }
  ._bdcl-primary-700-sm { border-color: $color-primary-700; }
  ._bdcl-primary-800-sm { border-color: $color-primary-800; }
  ._bdcl-primary-900-sm { border-color: $color-primary-900; }
  
  ._bdcl-accent-sm     { border-color: $color-accent; }
  ._bdcl-accent-100-sm { border-color: $color-accent-100; }
  ._bdcl-accent-200-sm { border-color: $color-accent-200; }
  ._bdcl-accent-300-sm { border-color: $color-accent-300; }
  ._bdcl-accent-400-sm { border-color: $color-accent-400; }
  ._bdcl-accent-500-sm { border-color: $color-accent-500; }
  ._bdcl-accent-600-sm { border-color: $color-accent-600; }
  ._bdcl-accent-700-sm { border-color: $color-accent-700; }
  ._bdcl-accent-800-sm { border-color: $color-accent-800; }
  ._bdcl-accent-900-sm { border-color: $color-accent-900; }
  
  ._bdcl-neutral-sm     { border-color: $color-neutral; }
  ._bdcl-neutral-900-sm { border-color: $color-neutral-900; }
  ._bdcl-neutral-800-sm { border-color: $color-neutral-800; }
  ._bdcl-neutral-700-sm { border-color: $color-neutral-700; }
  ._bdcl-neutral-700-sm { border-color: $color-neutral-700; }
  ._bdcl-neutral-600-sm { border-color: $color-neutral-600; }
  ._bdcl-neutral-500-sm { border-color: $color-neutral-500; }
  ._bdcl-neutral-400-sm { border-color: $color-neutral-400; }
  ._bdcl-neutral-300-sm { border-color: $color-neutral-300; }
  ._bdcl-neutral-200-sm { border-color: $color-neutral-200; }
  ._bdcl-neutral-100-sm { border-color: $color-neutral-100; }
  
  ._bdcl-positive-sm { border-color: $color-positive; }
  ._bdcl-warning-sm  { border-color: $color-warning; }
  ._bdcl-info-sm     { border-color: $color-info; }
  ._bdcl-negative-sm { border-color: $color-negative; }
  
  ._bdcl-white-sm { border-color: $color-white; }
  ._bdcl-gray-sm  { border-color: $color-gray; }
  ._bdcl-dark-sm  { border-color: $color-dark; }
  ._bdcl-black-sm { border-color: $color-black; }
}

@include md-upper {
  ._bd-md      { border: 1px solid $border-default-color; }
  ._bd-0px-md  { border: 0px; }
  ._bd-1px-md  { border: 1px solid $border-default-color; }
  ._bd-2px-md  { border: 2px solid $border-default-color; }
  ._bd-4px-md  { border: 4px solid $border-default-color; }
  ._bd-8px-md  { border: 8px solid $border-default-color; }
  ._bd-16px-md { border: 16px solid $border-default-color; }
  ._bd-32px-md { border: 32px solid $border-default-color; }
  
  ._bdl-0px-md  { border-left: 0px; }
  ._bdl-md      { border-left: 1px solid $border-default-color; }
  ._bdl-1px-md  { border-left: 1px solid $border-default-color; }
  ._bdl-2px-md  { border-left: 2px solid $border-default-color; }
  ._bdl-4px-md  { border-left: 4px solid $border-default-color; }
  ._bdl-8px-md  { border-left: 8px solid $border-default-color; }
  ._bdl-16px-md { border-left: 16px solid $border-default-color; }
  ._bdl-32px-md { border-left: 32px solid $border-default-color; }
  
  ._bdr-md      { border-right: 1px solid $border-default-color; }
  ._bdr-0px-md  { border-right: 0px; }
  ._bdr-1px-md  { border-right: 1px solid $border-default-color; }
  ._bdr-2px-md  { border-right: 2px solid $border-default-color; }
  ._bdr-4px-md  { border-right: 4px solid $border-default-color; }
  ._bdr-8px-md  { border-right: 8px solid $border-default-color; }
  ._bdr-16px-md { border-right: 16px solid $border-default-color; }
  ._bdr-32px-md { border-right: 32px solid $border-default-color; }
  
  ._bdt-md      { border-top: 1px solid $border-default-color; }
  ._bdt-0px-md  { border-top: 0px; }
  ._bdt-1px-md  { border-top: 1px solid $border-default-color; }
  ._bdt-2px-md  { border-top: 2px solid $border-default-color; }
  ._bdt-4px-md  { border-top: 4px solid $border-default-color; }
  ._bdt-8px-md  { border-top: 8px solid $border-default-color; }
  ._bdt-16px-md { border-top: 16px solid $border-default-color; }
  ._bdt-32px-md { border-top: 32px solid $border-default-color; }
  
  ._bdbt-md      { border-bottom: 1px solid $border-default-color; }
  ._bdbt-0px-md  { border-bottom: 0px; }
  ._bdbt-1px-md  { border-bottom: 1px solid $border-default-color; }
  ._bdbt-2px-md  { border-bottom: 2px solid $border-default-color; }
  ._bdbt-4px-md  { border-bottom: 4px solid $border-default-color; }
  ._bdbt-8px-md  { border-bottom: 8px solid $border-default-color; }
  ._bdbt-16px-md { border-bottom: 16px solid $border-default-color; }
  ._bdbt-32px-md { border-bottom: 32px solid $border-default-color; }
  
  ._bdcl-primary-md     { border-color: $color-primary; }
  ._bdcl-primary-100-md { border-color: $color-primary-100; }
  ._bdcl-primary-200-md { border-color: $color-primary-200; }
  ._bdcl-primary-300-md { border-color: $color-primary-300; }
  ._bdcl-primary-400-md { border-color: $color-primary-400; }
  ._bdcl-primary-500-md { border-color: $color-primary-500; }
  ._bdcl-primary-600-md { border-color: $color-primary-600; }
  ._bdcl-primary-700-md { border-color: $color-primary-700; }
  ._bdcl-primary-800-md { border-color: $color-primary-800; }
  ._bdcl-primary-900-md { border-color: $color-primary-900; }
  
  ._bdcl-accent-md     { border-color: $color-accent; }
  ._bdcl-accent-100-md { border-color: $color-accent-100; }
  ._bdcl-accent-200-md { border-color: $color-accent-200; }
  ._bdcl-accent-300-md { border-color: $color-accent-300; }
  ._bdcl-accent-400-md { border-color: $color-accent-400; }
  ._bdcl-accent-500-md { border-color: $color-accent-500; }
  ._bdcl-accent-600-md { border-color: $color-accent-600; }
  ._bdcl-accent-700-md { border-color: $color-accent-700; }
  ._bdcl-accent-800-md { border-color: $color-accent-800; }
  ._bdcl-accent-900-md { border-color: $color-accent-900; }
  
  ._bdcl-neutral-md     { border-color: $color-neutral; }
  ._bdcl-neutral-900-md { border-color: $color-neutral-900; }
  ._bdcl-neutral-800-md { border-color: $color-neutral-800; }
  ._bdcl-neutral-700-md { border-color: $color-neutral-700; }
  ._bdcl-neutral-700-md { border-color: $color-neutral-700; }
  ._bdcl-neutral-600-md { border-color: $color-neutral-600; }
  ._bdcl-neutral-500-md { border-color: $color-neutral-500; }
  ._bdcl-neutral-400-md { border-color: $color-neutral-400; }
  ._bdcl-neutral-300-md { border-color: $color-neutral-300; }
  ._bdcl-neutral-200-md { border-color: $color-neutral-200; }
  ._bdcl-neutral-100-md { border-color: $color-neutral-100; }
  
  ._bdcl-positive-md { border-color: $color-positive; }
  ._bdcl-warning-md  { border-color: $color-warning; }
  ._bdcl-info-md     { border-color: $color-info; }
  ._bdcl-negative-md { border-color: $color-negative; }
  
  ._bdcl-white-md { border-color: $color-white; }
  ._bdcl-gray-md  { border-color: $color-gray; }
  ._bdcl-dark-md  { border-color: $color-dark; }
  ._bdcl-black-md { border-color: $color-black; }
}

@include lg-upper {
  ._bd-lg      { border: 1px solid $border-default-color; }
  ._bd-0px-lg  { border: 0px; }
  ._bd-1px-lg  { border: 1px solid $border-default-color; }
  ._bd-2px-lg  { border: 2px solid $border-default-color; }
  ._bd-4px-lg  { border: 4px solid $border-default-color; }
  ._bd-8px-lg  { border: 8px solid $border-default-color; }
  ._bd-16px-lg { border: 16px solid $border-default-color; }
  ._bd-32px-lg { border: 32px solid $border-default-color; }
  
  ._bdl-0px-lg  { border-left: 0px; }
  ._bdl-lg      { border-left: 1px solid $border-default-color; }
  ._bdl-1px-lg  { border-left: 1px solid $border-default-color; }
  ._bdl-2px-lg  { border-left: 2px solid $border-default-color; }
  ._bdl-4px-lg  { border-left: 4px solid $border-default-color; }
  ._bdl-8px-lg  { border-left: 8px solid $border-default-color; }
  ._bdl-16px-lg { border-left: 16px solid $border-default-color; }
  ._bdl-32px-lg { border-left: 32px solid $border-default-color; }
  
  ._bdr-lg      { border-right: 1px solid $border-default-color; }
  ._bdr-0px-lg  { border-right: 0px; }
  ._bdr-1px-lg  { border-right: 1px solid $border-default-color; }
  ._bdr-2px-lg  { border-right: 2px solid $border-default-color; }
  ._bdr-4px-lg  { border-right: 4px solid $border-default-color; }
  ._bdr-8px-lg  { border-right: 8px solid $border-default-color; }
  ._bdr-16px-lg { border-right: 16px solid $border-default-color; }
  ._bdr-32px-lg { border-right: 32px solid $border-default-color; }
  
  ._bdt-lg      { border-top: 1px solid $border-default-color; }
  ._bdt-0px-lg  { border-top: 0px; }
  ._bdt-1px-lg  { border-top: 1px solid $border-default-color; }
  ._bdt-2px-lg  { border-top: 2px solid $border-default-color; }
  ._bdt-4px-lg  { border-top: 4px solid $border-default-color; }
  ._bdt-8px-lg  { border-top: 8px solid $border-default-color; }
  ._bdt-16px-lg { border-top: 16px solid $border-default-color; }
  ._bdt-32px-lg { border-top: 32px solid $border-default-color; }
  
  ._bdbt-lg      { border-bottom: 1px solid $border-default-color; }
  ._bdbt-0px-lg  { border-bottom: 0px; }
  ._bdbt-1px-lg  { border-bottom: 1px solid $border-default-color; }
  ._bdbt-2px-lg  { border-bottom: 2px solid $border-default-color; }
  ._bdbt-4px-lg  { border-bottom: 4px solid $border-default-color; }
  ._bdbt-8px-lg  { border-bottom: 8px solid $border-default-color; }
  ._bdbt-16px-lg { border-bottom: 16px solid $border-default-color; }
  ._bdbt-32px-lg { border-bottom: 32px solid $border-default-color; }
  
  ._bdcl-primary-lg     { border-color: $color-primary; }
  ._bdcl-primary-100-lg { border-color: $color-primary-100; }
  ._bdcl-primary-200-lg { border-color: $color-primary-200; }
  ._bdcl-primary-300-lg { border-color: $color-primary-300; }
  ._bdcl-primary-400-lg { border-color: $color-primary-400; }
  ._bdcl-primary-500-lg { border-color: $color-primary-500; }
  ._bdcl-primary-600-lg { border-color: $color-primary-600; }
  ._bdcl-primary-700-lg { border-color: $color-primary-700; }
  ._bdcl-primary-800-lg { border-color: $color-primary-800; }
  ._bdcl-primary-900-lg { border-color: $color-primary-900; }
  
  ._bdcl-accent-lg     { border-color: $color-accent; }
  ._bdcl-accent-100-lg { border-color: $color-accent-100; }
  ._bdcl-accent-200-lg { border-color: $color-accent-200; }
  ._bdcl-accent-300-lg { border-color: $color-accent-300; }
  ._bdcl-accent-400-lg { border-color: $color-accent-400; }
  ._bdcl-accent-500-lg { border-color: $color-accent-500; }
  ._bdcl-accent-600-lg { border-color: $color-accent-600; }
  ._bdcl-accent-700-lg { border-color: $color-accent-700; }
  ._bdcl-accent-800-lg { border-color: $color-accent-800; }
  ._bdcl-accent-900-lg { border-color: $color-accent-900; }
  
  ._bdcl-neutral-lg     { border-color: $color-neutral; }
  ._bdcl-neutral-900-lg { border-color: $color-neutral-900; }
  ._bdcl-neutral-800-lg { border-color: $color-neutral-800; }
  ._bdcl-neutral-700-lg { border-color: $color-neutral-700; }
  ._bdcl-neutral-700-lg { border-color: $color-neutral-700; }
  ._bdcl-neutral-600-lg { border-color: $color-neutral-600; }
  ._bdcl-neutral-500-lg { border-color: $color-neutral-500; }
  ._bdcl-neutral-400-lg { border-color: $color-neutral-400; }
  ._bdcl-neutral-300-lg { border-color: $color-neutral-300; }
  ._bdcl-neutral-200-lg { border-color: $color-neutral-200; }
  ._bdcl-neutral-100-lg { border-color: $color-neutral-100; }
  
  ._bdcl-positive-lg { border-color: $color-positive; }
  ._bdcl-warning-lg  { border-color: $color-warning; }
  ._bdcl-info-lg     { border-color: $color-info; }
  ._bdcl-negative-lg { border-color: $color-negative; }
  
  ._bdcl-white-lg { border-color: $color-white; }
  ._bdcl-gray-lg  { border-color: $color-gray; }
  ._bdcl-dark-lg  { border-color: $color-dark; }
  ._bdcl-black-lg { border-color: $color-black; }
}
