._bt-0px {
  bottom: 0px;
}

._bt-1px {
  bottom: 1px;
}

._bt-2px {
  bottom: 2px;
}

._bt-4px {
  bottom: 4px;
}

._bt-8px {
  bottom: 8px;
}

._bt-16px {
  bottom: 16px;
}

._bt-32px {
  bottom: 32px;
}

._bt-64px {
  bottom: 64px;
}

._bt-128px {
  bottom: 128px;
}

._bt-256px {
  bottom: 256px;
}

._bt-50pct {
  bottom: 50%;
}

._bt-auto {
  bottom: auto;
}