._cs-pt  { cursor: pointer !important; }
._cs-h   { cursor: help !important; }
._cs-nal { cursor: not-allowed !important; }

@include sm-upper {
  ._cs-pt-sm  { cursor: pointer !important; }
  ._cs-h-sm   { cursor: help !important; }
  ._cs-nal-sm { cursor: not-allowed !important; }
}

@include md-upper {
  ._cs-pt-md  { cursor: pointer !important; }
  ._cs-h-md   { cursor: help !important; }
  ._cs-nal-md { cursor: not-allowed !important; }
}

@include lg-upper {
  ._cs-pt-lg  { cursor: pointer !important; }
  ._cs-h-lg   { cursor: help !important; }
  ._cs-nal-lg { cursor: not-allowed !important; }
}
