/*---------------------------
  Display
----------------------------*/
._dp-b {
  display: block;
}

._dp-f {
  display: flex;
}

._dp-g {
  display: grid;
}

._dp-sg {
  display: subgrid;
}

._dp-il {
  display: inline;
}

._dp-ilb {
  display: inline-block;
}

._dp-tb {
  display: table;
}

._dp-tbc {
  display: table-cell;
}

._dp-n {
  display: none;
}
