._f-1 { flex: 1 !important; }
._f-n { flex: none !important; }
._f-at { flex: auto !important; }

@each $breakpoint, $mediaQuery in $breakpoints {
	@include minimum-screen-size ($mediaQuery) {
		._f-1-#{$breakpoint} { flex: 1 !important; }
		._f-n-#{$breakpoint} { flex: none !important; }
		._f-at-#{$breakpoint} { flex: auto !important; }
	};
};
