._jtfs-st  { justify-self: start !important; }
._jtfs-e   { justify-self: end !important; }
._jtfs-l   { justify-self: left !important; }
._jtfs-r   { justify-self: right !important; }
._jtfs-fst { justify-self: flex-start !important; }
._jtfs-fe  { justify-self: flex-end !important; }
._jtfs-sst { justify-self: self-start !important; }
._jtfs-se  { justify-self: self-end !important; }
._jtfs-ct  { justify-self: center !important; }
._jtfs-str { justify-self: stretch !important; }

@include sm-upper {
  ._jtfs-st-sm  { justify-self: start !important; }
  ._jtfs-e-sm   { justify-self: end !important; }
  ._jtfs-l-sm   { justify-self: left !important; }
  ._jtfs-r-sm   { justify-self: right !important; }
  ._jtfs-fst-sm { justify-self: flex-start !important; }
  ._jtfs-fe-sm  { justify-self: flex-end !important; }
  ._jtfs-sst-sm { justify-self: self-start !important; }
  ._jtfs-se-sm  { justify-self: self-end !important; }
  ._jtfs-ct-sm  { justify-self: center !important; }
  ._jtfs-str-sm { justify-self: stretch !important; }
}
@include md-upper {
  ._jtfs-st-md  { justify-self: start !important; }
  ._jtfs-e-md   { justify-self: end !important; }
  ._jtfs-l-md   { justify-self: left !important; }
  ._jtfs-r-md   { justify-self: right !important; }
  ._jtfs-fst-md { justify-self: flex-start !important; }
  ._jtfs-fe-md  { justify-self: flex-end !important; }
  ._jtfs-sst-md { justify-self: self-start !important; }
  ._jtfs-se-md  { justify-self: self-end !important; }
  ._jtfs-ct-md  { justify-self: center !important; }
  ._jtfs-str-md { justify-self: stretch !important; }
}
@include lg-upper {
  ._jtfs-st-lg  { justify-self: start !important; }
  ._jtfs-e-lg   { justify-self: end !important; }
  ._jtfs-l-lg   { justify-self: left !important; }
  ._jtfs-r-lg   { justify-self: right !important; }
  ._jtfs-fst-lg { justify-self: flex-start !important; }
  ._jtfs-fe-lg  { justify-self: flex-end !important; }
  ._jtfs-sst-lg { justify-self: self-start !important; }
  ._jtfs-se-lg  { justify-self: self-end !important; }
  ._jtfs-ct-lg  { justify-self: center !important; }
  ._jtfs-str-lg { justify-self: stretch !important; }
}