._jtfct-st    { justify-content: start !important; }
._jtfct-e     { justify-content: end !important; }
._jtfct-l     { justify-content: left !important; }
._jtfct-r     { justify-content: right !important; }
._jtfct-ct    { justify-content: center !important; }
._jtfct-str   { justify-content: stretch !important; }
._jtfct-fst   { justify-content: flex-start !important; }
._jtfct-fe    { justify-content: flex-end !important; }
._jtfct-spbtw { justify-content: space-between !important; }
._jtfct-spar  { justify-content: space-around !important; }
._jtfct-spevl { justify-content: space-evenly !important; }

@each $breakpoint, $mediaQuery in $breakpoints {
	@include minimum-screen-size ($mediaQuery) {
		._jtfct-st-#{$breakpoint}    { justify-content: start !important; }
		._jtfct-e-#{$breakpoint}     { justify-content: end !important; }
		._jtfct-l-#{$breakpoint}     { justify-content: left !important; }
		._jtfct-r-#{$breakpoint}     { justify-content: right !important; }
		._jtfct-ct-#{$breakpoint}    { justify-content: center !important; }
		._jtfct-str-#{$breakpoint}   { justify-content: stretch !important; }
		._jtfct-fst-#{$breakpoint}   { justify-content: flex-start !important; }
		._jtfct-fe-#{$breakpoint}    { justify-content: flex-end !important; }
		._jtfct-spbtw-#{$breakpoint} { justify-content: space-between !important; }
		._jtfct-spar-#{$breakpoint}  { justify-content: space-around !important; }
		._jtfct-spevl-#{$breakpoint} { justify-content: space-evenly !important; }
	};
};
