._jtfs-st  { justify-self: start !important; }
._jtfs-e   { justify-self: end !important; }
._jtfs-l   { justify-self: left !important; }
._jtfs-r   { justify-self: right !important; }
._jtfs-fst { justify-self: flex-start !important; }
._jtfs-fe  { justify-self: flex-end !important; }
._jtfs-sst { justify-self: self-start !important; }
._jtfs-se  { justify-self: self-end !important; }
._jtfs-ct  { justify-self: center !important; }
._jtfs-str { justify-self: stretch !important; }

@each $breakpoint, $mediaQuery in $breakpoints {
	@include minimum-screen-size ($mediaQuery) {
		._jtfs-st-#{$breakpoint}  { justify-self: start !important; }
		._jtfs-e-#{$breakpoint}   { justify-self: end !important; }
		._jtfs-l-#{$breakpoint}   { justify-self: left !important; }
		._jtfs-r-#{$breakpoint}   { justify-self: right !important; }
		._jtfs-fst-#{$breakpoint} { justify-self: flex-start !important; }
		._jtfs-fe-#{$breakpoint}  { justify-self: flex-end !important; }
		._jtfs-sst-#{$breakpoint} { justify-self: self-start !important; }
		._jtfs-se-#{$breakpoint}  { justify-self: self-end !important; }
		._jtfs-ct-#{$breakpoint}  { justify-self: center !important; }
		._jtfs-str-#{$breakpoint} { justify-self: stretch !important; }
	};
};
