._ltspc-1px {
  letter-spacing: 1px;
}

._ltspc-2px {
  letter-spacing: 2px;
}

._ltspc-4px {
  letter-spacing: 4px;
}

._ltspc-8px {
  letter-spacing: 8px;
}

._ltspc-16px {
  letter-spacing: 16px;
}

._ltspc-32px {
  letter-spacing: 32px;
}
