._lh-100pct { line-height: 100% !important; }
._lh-125pct { line-height: 125% !important; }
._lh-150pct { line-height: 150% !important; }
._lh-175pct { line-height: 175% !important; }
._lh-200pct { line-height: 200% !important; }

@each $breakpoint, $mediaQuery in $breakpoints {
	@include minimum-screen-size ($mediaQuery) {
		._lh-100pct-#{$breakpoint} { line-height: 100% !important; }
		._lh-125pct-#{$breakpoint} { line-height: 125% !important; }
		._lh-150pct-#{$breakpoint} { line-height: 150% !important; }
		._lh-175pct-#{$breakpoint} { line-height: 175% !important; }
		._lh-200pct-#{$breakpoint} { line-height: 200% !important; }
	};
};
