/*---------------------------
  Margin All
----------------------------*/
._mg {
  margin: 8px;
}

._mg-1px {
  margin: 1px;
}

._mg-2px {
  margin: 2px;
}

._mg-4px {
  margin: 4px;
}

._mg-8px {
  margin: 8px;
}

._mg-16px {
  margin: 16px;
}

._mg-32px {
  margin: 32px;
}

._mg-64px {
  margin: 64px;
}

._mg-128px {
  margin: 128px;
}

._mg-256px {
  margin: 256px;
}

._mg-0px {
  margin: 0px;
}

._mg-auto {
  margin: auto;
}

/*---------------------------
  Margin Top
----------------------------*/
._mgt {
  margin-top: 8px;
}

._mgt-1px {
  margin-top: 1px;
}

._mgt-2px {
  margin-top: 2px;
}

._mgt-4px {
  margin-top: 4px;
}

._mgt-8px {
  margin-top: 8px;
}

._mgt-16px {
  margin-top: 16px;
}

._mgt-32px {
  margin-top: 32px;
}

._mgt-64px {
  margin-top: 64px;
}

._mgt-64px {
  margin-top: 64px;
}

._mgt-128px {
  margin-top: 128px;
}

._mgt-256px {
  margin-top: 256px;
}

._mgt-0px {
  margin-top: 0px;
}

._mgt-auto {
  margin-top: auto;
}

/*---------------------------
  Margin Bottom
----------------------------*/
._mgbt {
  margin-bottom: 8px;
}

._mgbt-1px {
  margin-bottom: 1px;
}

._mgbt-2px {
  margin-bottom: 2px;
}

._mgbt-4px {
  margin-bottom: 4px;
}

._mgbt-8px {
  margin-bottom: 8px;
}

._mgbt-16px {
  margin-bottom: 16px;
}

._mgbt-32px {
  margin-bottom: 32px;
}

._mgbt-64px {
  margin-bottom: 64px;
}

._mgbt-128px {
  margin-bottom: 128px;
}

._mgbt-256px {
  margin-bottom: 256px;
}

._mgbt-0px {
  margin-bottom: 0px;
}

._mgbt-auto {
  margin-bottom: auto;
}

/*---------------------------
  Margin Left
----------------------------*/
._mgl {
  margin-left: 8px;
}

._mgl-1px {
  margin-left: 1px;
}

._mgl-2px {
  margin-left: 2px;
}

._mgl-4px {
  margin-left: 4px;
}

._mgl-8px {
  margin-left: 8px;
}

._mgl-16px {
  margin-left: 16px;
}

._mgl-32px {
  margin-left: 32px;
}

._mgl-64px {
  margin-left: 64px;
}

._mgl-128px {
  margin-left: 128px;
}

._mgl-256px {
  margin-left: 256px;
}

._mgl-0px {
  margin-left: 0px;
}

._mgl-auto {
  margin-left: auto;
}

/*---------------------------
  Margin Right
----------------------------*/
._mgr {
  margin-right: 8px;
}

._mgr-1px {
  margin-right: 1px;
}

._mgr-2px {
  margin-right: 2px;
}

._mgr-4px {
  margin-right: 4px;
}

._mgr-8px {
  margin-right: 8px;
}

._mgr-16px {
  margin-right: 16px;
}

._mgr-32px {
  margin-right: 32px;
}

._mgr-64px {
  margin-right: 64px;
}

._mgr-128px {
  margin-right: 128px;
}

._mgr-256px {
  margin-right: 256px;
}

._mgr-0px {
  margin-right: 0px;
}

._mgr-auto {
  margin-right: auto;
}

/*---------------------------
  Margin Vertical
----------------------------*/
._mgv {
  margin-top: 8px;
  margin-bottom: 8px;
}

._mgv-1px {
  margin-top: 1px;
  margin-bottom: 1px;
}

._mgv-2px {
  margin-top: 2px;
  margin-bottom: 2px;
}

._mgv-4px {
  margin-top: 4px;
  margin-bottom: 4px;
}

._mgv-8px {
  margin-top: 8px;
  margin-bottom: 8px;
}

._mgv-16px {
  margin-top: 16px;
  margin-bottom: 16px;
}

._mgv-32px {
  margin-top: 32px;
  margin-bottom: 32px;
}

._mgv-64px {
  margin-top: 64px;
  margin-bottom: 64px;
}

._mgv-128px {
  margin-top: 128px;
  margin-bottom: 128px;
}

._mgv-256px {
  margin-top: 256px;
  margin-bottom: 256px;
}

._mgv-0px {
  margin-top: 0px;
  margin-bottom: 0px;
}

._mgv-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/*---------------------------
  Margin Horizontal
----------------------------*/
._mgh {
  margin-left: 8px;
  margin-right: 8px;
}

._mgh-1px {
  margin-left: 1px;
  margin-right: 1px;
}

._mgh-2px {
  margin-left: 2px;
  margin-right: 2px;
}
._mgh-4px {
  margin-left: 4px;
  margin-right: 4px;
}

._mgh-8px {
  margin-left: 8px;
  margin-right: 8px;
}

._mgh-16px {
  margin-left: 16px;
  margin-right: 16px;
}

._mgh-32px {
  margin-left: 32px;
  margin-right: 32px;
}

._mgh-64px {
  margin-left: 64px;
  margin-right: 64px;
}

._mgh-128px {
  margin-left: 128px;
  margin-right: 128px;
}

._mgh-256px {
  margin-left: 256px;
  margin-right: 256px;
}

._mgh-0px {
  margin-left: 0px;
  margin-right: 0px;
}

._mgh-auto {
  margin-left: auto;
  margin-right: auto;
}
