._mg        { margin: 8px; }
._mg-0px    { margin: 0px; }
._mg-1px    { margin: 1px; }
._mg-2px    { margin: 2px; }
._mg-4px    { margin: 4px; }
._mg-8px    { margin: 8px; }
._mg-12px   { margin: 12px; }
._mg-16px   { margin: 16px; }
._mg-24px   { margin: 24px; }
._mg-32px   { margin: 32px; }
._mg-64px   { margin: 64px; }
._mg-128px  { margin: 128px; }
._mg-256px  { margin: 256px; }
._mg-auto   { margin: auto; }

._mgt        { margin-top: 8px; }
._mgt-0px    { margin-top: 0px; }
._mgt-1px    { margin-top: 1px; }
._mgt-2px    { margin-top: 2px; }
._mgt-4px    { margin-top: 4px; }
._mgt-8px    { margin-top: 8px; }
._mgt-12px   { margin-top: 12px; }
._mgt-16px   { margin-top: 16px; }
._mgt-24px   { margin-top: 24px; }
._mgt-32px   { margin-top: 32px; }
._mgt-64px   { margin-top: 64px; }
._mgt-128px  { margin-top: 128px; }
._mgt-256px  { margin-top: 256px; }
._mgt-auto   { margin-top: auto; }

._mgbt        { margin-bottom: 8px; }
._mgbt-0px    { margin-bottom: 0px; }
._mgbt-1px    { margin-bottom: 1px; }
._mgbt-2px    { margin-bottom: 2px; }
._mgbt-4px    { margin-bottom: 4px; }
._mgbt-8px    { margin-bottom: 8px; }
._mgbt-12px   { margin-bottom: 12px; }
._mgbt-16px   { margin-bottom: 16px; }
._mgbt-24px   { margin-bottom: 24px; }
._mgbt-32px   { margin-bottom: 32px; }
._mgbt-64px   { margin-bottom: 64px; }
._mgbt-128px  { margin-bottom: 128px; }
._mgbt-256px  { margin-bottom: 256px; }
._mgbt-auto   { margin-bottom: auto; }

._mgl       { margin-left: 8px; }
._mgl-0px   { margin-left: 0px; }
._mgl-1px   { margin-left: 1px; }
._mgl-2px   { margin-left: 2px; }
._mgl-4px   { margin-left: 4px; }
._mgl-8px   { margin-left: 8px; }
._mgl-12px  { margin-left: 12px; }
._mgl-16px  { margin-left: 16px; }
._mgl-24px  { margin-left: 24px; }
._mgl-32px  { margin-left: 32px; }
._mgl-64px  { margin-left: 64px; }
._mgl-128px { margin-left: 128px; }
._mgl-256px { margin-left: 256px; }
._mgl-auto  { margin-left: auto; }

._mgr       { margin-right: 8px; }
._mgr-0px   { margin-right: 0px; }
._mgr-1px   { margin-right: 1px; }
._mgr-2px   { margin-right: 2px; }
._mgr-4px   { margin-right: 4px; }
._mgr-8px   { margin-right: 8px; }
._mgr-12px  { margin-right: 12px; }
._mgr-16px  { margin-right: 16px; }
._mgr-24px  { margin-right: 24px; }
._mgr-32px  { margin-right: 32px; }
._mgr-64px  { margin-right: 64px; }
._mgr-128px { margin-right: 128px; }
._mgr-256px { margin-right: 256px; }
._mgr-auto  { margin-right: auto; }

._mgv       { margin-top: 8px; margin-bottom: 8px; }
._mgv-0px   { margin-top: 0px; margin-bottom: 0px; }
._mgv-1px   { margin-top: 1px; margin-bottom: 1px; }
._mgv-2px   { margin-top: 2px; margin-bottom: 2px; }
._mgv-4px   { margin-top: 4px; margin-bottom: 4px; }
._mgv-8px   { margin-top: 8px; margin-bottom: 8px; }
._mgv-12px  { margin-top: 12px; margin-bottom: 12px; }
._mgv-16px  { margin-top: 16px; margin-bottom: 16px; }
._mgv-24px  { margin-top: 24px; margin-bottom: 24px; }
._mgv-32px  { margin-top: 32px; margin-bottom: 32px; }
._mgv-64px  { margin-top: 64px; margin-bottom: 64px; }
._mgv-128px { margin-top: 128px; margin-bottom: 128px; }
._mgv-256px { margin-top: 256px; margin-bottom: 256px; }
._mgv-auto  { margin-top: auto; margin-bottom: auto; }

._mgh       { margin-left: 8px; margin-right: 8px; }
._mgh-0px   { margin-left: 0px; margin-right: 0px; }
._mgh-1px   { margin-left: 1px; margin-right: 1px; }
._mgh-2px   { margin-left: 2px; margin-right: 2px; }
._mgh-4px   { margin-left: 4px; margin-right: 4px; }
._mgh-8px   { margin-left: 8px; margin-right: 8px; }
._mgh-12px  { margin-left: 12px; margin-right: 12px; }
._mgh-16px  { margin-left: 16px; margin-right: 16px; }
._mgh-24px  { margin-left: 24px; margin-right: 24px; }
._mgh-32px  { margin-left: 32px; margin-right: 32px; }
._mgh-64px  { margin-left: 64px; margin-right: 64px; }
._mgh-128px { margin-left: 128px; margin-right: 128px; }
._mgh-256px { margin-left: 256px; margin-right: 256px; }
._mgh-auto  { margin-left: auto; margin-right: auto; }

@include sm-upper {
  ._mg-sm       { margin: 8px; }
  ._mg-0px-sm   { margin: 0px; }
  ._mg-1px-sm   { margin: 1px; }
  ._mg-2px-sm   { margin: 2px; }
  ._mg-4px-sm   { margin: 4px; }
  ._mg-8px-sm   { margin: 8px; }
  ._mg-12px-sm  { margin: 12px; }
  ._mg-16px-sm  { margin: 16px; }
  ._mg-24px-sm  { margin: 24px; }
  ._mg-32px-sm  { margin: 32px; }
  ._mg-64px-sm  { margin: 64px; }
  ._mg-128px-sm { margin: 128px; }
  ._mg-256px-sm { margin: 256px; }
  ._mg-auto-sm  { margin: auto; }
  
  ._mgt-sm       { margin-top: 8px; }
  ._mgt-0px-sm   { margin-top: 0px; }
  ._mgt-1px-sm   { margin-top: 1px; }
  ._mgt-2px-sm   { margin-top: 2px; }
  ._mgt-4px-sm   { margin-top: 4px; }
  ._mgt-8px-sm   { margin-top: 8px; }
  ._mgt-12px-sm  { margin-top: 12px; }
  ._mgt-16px-sm  { margin-top: 16px; }
  ._mgt-24px-sm  { margin-top: 24px; }
  ._mgt-32px-sm  { margin-top: 32px; }
  ._mgt-64px-sm  { margin-top: 64px; }
  ._mgt-128px-sm { margin-top: 128px; }
  ._mgt-256px-sm { margin-top: 256px; }
  ._mgt-auto-sm  { margin-top: auto; }
  
  ._mgbt-sm       { margin-bottom: 8px; }
  ._mgbt-0px-sm   { margin-bottom: 0px; }
  ._mgbt-1px-sm   { margin-bottom: 1px; }
  ._mgbt-2px-sm   { margin-bottom: 2px; }
  ._mgbt-4px-sm   { margin-bottom: 4px; }
  ._mgbt-8px-sm   { margin-bottom: 8px; }
  ._mgbt-12px-sm  { margin-bottom: 12px; }
  ._mgbt-16px-sm  { margin-bottom: 16px; }
  ._mgbt-24px-sm  { margin-bottom: 24px; }
  ._mgbt-32px-sm  { margin-bottom: 32px; }
  ._mgbt-64px-sm  { margin-bottom: 64px; }
  ._mgbt-128px-sm { margin-bottom: 128px; }
  ._mgbt-256px-sm { margin-bottom: 256px; }
  ._mgbt-auto-sm  { margin-bottom: auto; }
  
  ._mgl-sm       { margin-left: 8px; }
  ._mgl-0px-sm   { margin-left: 0px; }
  ._mgl-1px-sm   { margin-left: 1px; }
  ._mgl-2px-sm   { margin-left: 2px; }
  ._mgl-4px-sm   { margin-left: 4px; }
  ._mgl-8px-sm   { margin-left: 8px; }
  ._mgl-12px-sm  { margin-left: 12px; }
  ._mgl-16px-sm  { margin-left: 16px; }
  ._mgl-24px-sm  { margin-left: 24px; }
  ._mgl-32px-sm  { margin-left: 32px; }
  ._mgl-64px-sm  { margin-left: 64px; }
  ._mgl-128px-sm { margin-left: 128px; }
  ._mgl-256px-sm { margin-left: 256px; }
  ._mgl-auto-sm  { margin-left: auto; }
  
  ._mgr-sm       { margin-right: 8px; }
  ._mgr-0px-sm   { margin-right: 0px; }
  ._mgr-1px-sm   { margin-right: 1px; }
  ._mgr-2px-sm   { margin-right: 2px; }
  ._mgr-4px-sm   { margin-right: 4px; }
  ._mgr-8px-sm   { margin-right: 8px; }
  ._mgr-12px-sm  { margin-right: 12px; }
  ._mgr-16px-sm  { margin-right: 16px; }
  ._mgr-24px-sm  { margin-right: 24px; }
  ._mgr-32px-sm  { margin-right: 32px; }
  ._mgr-64px-sm  { margin-right: 64px; }
  ._mgr-128px-sm { margin-right: 128px; }
  ._mgr-256px-sm { margin-right: 256px; }
  ._mgr-auto-sm  { margin-right: auto; }
  
  ._mgv-sm       { margin-top: 8px; margin-bottom: 8px; }
  ._mgv-0px-sm   { margin-top: 0px; margin-bottom: 0px; }
  ._mgv-1px-sm   { margin-top: 1px; margin-bottom: 1px; }
  ._mgv-2px-sm   { margin-top: 2px; margin-bottom: 2px; }
  ._mgv-4px-sm   { margin-top: 4px; margin-bottom: 4px; }
  ._mgv-8px-sm   { margin-top: 8px; margin-bottom: 8px; }
  ._mgv-12px-sm  { margin-top: 12px; margin-bottom: 12px; }
  ._mgv-16px-sm  { margin-top: 16px; margin-bottom: 16px; }
  ._mgv-24px-sm  { margin-top: 24px; margin-bottom: 24px; }
  ._mgv-32px-sm  { margin-top: 32px; margin-bottom: 32px; }
  ._mgv-64px-sm  { margin-top: 64px; margin-bottom: 64px; }
  ._mgv-128px-sm { margin-top: 128px; margin-bottom: 128px; }
  ._mgv-256px-sm { margin-top: 256px; margin-bottom: 256px; }
  ._mgv-auto-sm  { margin-top: auto; margin-bottom: auto; }
  
  ._mgh-sm       { margin-left: 8px; margin-right: 8px; }
  ._mgh-0px-sm   { margin-left: 0px; margin-right: 0px; }
  ._mgh-1px-sm   { margin-left: 1px; margin-right: 1px; }
  ._mgh-2px-sm   { margin-left: 2px; margin-right: 2px; }
  ._mgh-4px-sm   { margin-left: 4px; margin-right: 4px; }
  ._mgh-8px-sm   { margin-left: 8px; margin-right: 8px; }
  ._mgh-12px-sm  { margin-left: 12px; margin-right: 12px; }
  ._mgh-16px-sm  { margin-left: 16px; margin-right: 16px; }
  ._mgh-24px-sm  { margin-left: 24px; margin-right: 24px; }
  ._mgh-32px-sm  { margin-left: 32px; margin-right: 32px; }
  ._mgh-64px-sm  { margin-left: 64px; margin-right: 64px; }
  ._mgh-128px-sm { margin-left: 128px; margin-right: 128px; }
  ._mgh-256px-sm { margin-left: 256px; margin-right: 256px; }
  ._mgh-auto-sm  { margin-left: auto; margin-right: auto; }
}

@include md-upper {
  ._mg-md       { margin: 8px; }
  ._mg-0px-md   { margin: 0px; }
  ._mg-1px-md   { margin: 1px; }
  ._mg-2px-md   { margin: 2px; }
  ._mg-4px-md   { margin: 4px; }
  ._mg-8px-md   { margin: 8px; }
  ._mg-12px-md  { margin: 12px; }
  ._mg-16px-md  { margin: 16px; }
  ._mg-24px-md  { margin: 24px; }
  ._mg-32px-md  { margin: 32px; }
  ._mg-64px-md  { margin: 64px; }
  ._mg-128px-md { margin: 128px; }
  ._mg-256px-md { margin: 256px; }
  ._mg-auto-md  { margin: auto; }
  
  ._mgt-md       { margin-top: 8px; }
  ._mgt-0px-md   { margin-top: 0px; }
  ._mgt-1px-md   { margin-top: 1px; }
  ._mgt-2px-md   { margin-top: 2px; }
  ._mgt-4px-md   { margin-top: 4px; }
  ._mgt-8px-md   { margin-top: 8px; }
  ._mgt-12px-md  { margin-top: 12px; }
  ._mgt-16px-md  { margin-top: 16px; }
  ._mgt-24px-md  { margin-top: 24px; }
  ._mgt-32px-md  { margin-top: 32px; }
  ._mgt-64px-md  { margin-top: 64px; }
  ._mgt-128px-md { margin-top: 128px; }
  ._mgt-256px-md { margin-top: 256px; }
  ._mgt-auto-md  { margin-top: auto; }
  
  ._mgbt-md       { margin-bottom: 8px; }
  ._mgbt-0px-md   { margin-bottom: 0px; }
  ._mgbt-1px-md   { margin-bottom: 1px; }
  ._mgbt-2px-md   { margin-bottom: 2px; }
  ._mgbt-4px-md   { margin-bottom: 4px; }
  ._mgbt-8px-md   { margin-bottom: 8px; }
  ._mgbt-12px-md  { margin-bottom: 12px; }
  ._mgbt-16px-md  { margin-bottom: 16px; }
  ._mgbt-24px-md  { margin-bottom: 24px; }
  ._mgbt-32px-md  { margin-bottom: 32px; }
  ._mgbt-64px-md  { margin-bottom: 64px; }
  ._mgbt-128px-md { margin-bottom: 128px; }
  ._mgbt-256px-md { margin-bottom: 256px; }
  ._mgbt-auto-md  { margin-bottom: auto; }
  
  ._mgl-md       { margin-left: 8px; }
  ._mgl-0px-md   { margin-left: 0px; }
  ._mgl-1px-md   { margin-left: 1px; }
  ._mgl-2px-md   { margin-left: 2px; }
  ._mgl-4px-md   { margin-left: 4px; }
  ._mgl-8px-md   { margin-left: 8px; }
  ._mgl-12px-md  { margin-left: 12px; }
  ._mgl-16px-md  { margin-left: 16px; }
  ._mgl-24px-md  { margin-left: 24px; }
  ._mgl-32px-md  { margin-left: 32px; }
  ._mgl-64px-md  { margin-left: 64px; }
  ._mgl-128px-md { margin-left: 128px; }
  ._mgl-256px-md { margin-left: 256px; }
  ._mgl-auto-md  { margin-left: auto; }
  
  ._mgr-md       { margin-right: 8px; }
  ._mgr-0px-md   { margin-right: 0px; }
  ._mgr-1px-md   { margin-right: 1px; }
  ._mgr-2px-md   { margin-right: 2px; }
  ._mgr-4px-md   { margin-right: 4px; }
  ._mgr-8px-md   { margin-right: 8px; }
  ._mgr-12px-md  { margin-right: 12px; }
  ._mgr-16px-md  { margin-right: 16px; }
  ._mgr-24px-md  { margin-right: 24px; }
  ._mgr-32px-md  { margin-right: 32px; }
  ._mgr-64px-md  { margin-right: 64px; }
  ._mgr-128px-md { margin-right: 128px; }
  ._mgr-256px-md { margin-right: 256px; }
  ._mgr-auto-md  { margin-right: auto; }
  
  ._mgv-md       { margin-top: 8px; margin-bottom: 8px; }
  ._mgv-0px-md   { margin-top: 0px; margin-bottom: 0px; }
  ._mgv-1px-md   { margin-top: 1px; margin-bottom: 1px; }
  ._mgv-2px-md   { margin-top: 2px; margin-bottom: 2px; }
  ._mgv-4px-md   { margin-top: 4px; margin-bottom: 4px; }
  ._mgv-8px-md   { margin-top: 8px; margin-bottom: 8px; }
  ._mgv-12px-md  { margin-top: 12px; margin-bottom: 12px; }
  ._mgv-16px-md  { margin-top: 16px; margin-bottom: 16px; }
  ._mgv-24px-md  { margin-top: 24px; margin-bottom: 24px; }
  ._mgv-32px-md  { margin-top: 32px; margin-bottom: 32px; }
  ._mgv-64px-md  { margin-top: 64px; margin-bottom: 64px; }
  ._mgv-128px-md { margin-top: 128px; margin-bottom: 128px; }
  ._mgv-256px-md { margin-top: 256px; margin-bottom: 256px; }
  ._mgv-auto-md  { margin-top: auto; margin-bottom: auto; }
  
  ._mgh-md       { margin-left: 8px; margin-right: 8px; }
  ._mgh-0px-md   { margin-left: 0px; margin-right: 0px; }
  ._mgh-1px-md   { margin-left: 1px; margin-right: 1px; }
  ._mgh-2px-md   { margin-left: 2px; margin-right: 2px; }
  ._mgh-4px-md   { margin-left: 4px; margin-right: 4px; }
  ._mgh-8px-md   { margin-left: 8px; margin-right: 8px; }
  ._mgh-12px-md  { margin-left: 12px; margin-right: 12px; }
  ._mgh-16px-md  { margin-left: 16px; margin-right: 16px; }
  ._mgh-24px-md  { margin-left: 24px; margin-right: 24px; }
  ._mgh-32px-md  { margin-left: 32px; margin-right: 32px; }
  ._mgh-64px-md  { margin-left: 64px; margin-right: 64px; }
  ._mgh-128px-md { margin-left: 128px; margin-right: 128px; }
  ._mgh-256px-md { margin-left: 256px; margin-right: 256px; }
  ._mgh-auto-md  { margin-left: auto; margin-right: auto; }
}

@include lg-upper {
  ._mg-lg       { margin: 8px; }
  ._mg-0px-lg   { margin: 0px; }
  ._mg-1px-lg   { margin: 1px; }
  ._mg-2px-lg   { margin: 2px; }
  ._mg-4px-lg   { margin: 4px; }
  ._mg-8px-lg   { margin: 8px; }
  ._mg-12px-lg  { margin: 12px; }
  ._mg-16px-lg  { margin: 16px; }
  ._mg-24px-lg  { margin: 24px; }
  ._mg-32px-lg  { margin: 32px; }
  ._mg-64px-lg  { margin: 64px; }
  ._mg-128px-lg { margin: 128px; }
  ._mg-256px-lg { margin: 256px; }
  ._mg-auto-lg  { margin: auto; }
  
  ._mgt-lg       { margin-top: 8px; }
  ._mgt-0px-lg   { margin-top: 0px; }
  ._mgt-1px-lg   { margin-top: 1px; }
  ._mgt-2px-lg   { margin-top: 2px; }
  ._mgt-4px-lg   { margin-top: 4px; }
  ._mgt-8px-lg   { margin-top: 8px; }
  ._mgt-12px-lg  { margin-top: 12px; }
  ._mgt-16px-lg  { margin-top: 16px; }
  ._mgt-24px-lg  { margin-top: 24px; }
  ._mgt-32px-lg  { margin-top: 32px; }
  ._mgt-64px-lg  { margin-top: 64px; }
  ._mgt-128px-lg { margin-top: 128px; }
  ._mgt-256px-lg { margin-top: 256px; }
  ._mgt-auto-lg  { margin-top: auto; }
  
  ._mgbt-lg       { margin-bottom: 8px; }
  ._mgbt-0px-lg   { margin-bottom: 0px; }
  ._mgbt-1px-lg   { margin-bottom: 1px; }
  ._mgbt-2px-lg   { margin-bottom: 2px; }
  ._mgbt-4px-lg   { margin-bottom: 4px; }
  ._mgbt-8px-lg   { margin-bottom: 8px; }
  ._mgbt-12px-lg  { margin-bottom: 12px; }
  ._mgbt-16px-lg  { margin-bottom: 16px; }
  ._mgbt-24px-lg  { margin-bottom: 24px; }
  ._mgbt-32px-lg  { margin-bottom: 32px; }
  ._mgbt-64px-lg  { margin-bottom: 64px; }
  ._mgbt-128px-lg { margin-bottom: 128px; }
  ._mgbt-256px-lg { margin-bottom: 256px; }
  ._mgbt-auto-lg  { margin-bottom: auto; }
  
  ._mgl-lg       { margin-left: 8px; }
  ._mgl-0px-lg   { margin-left: 0px; }
  ._mgl-1px-lg   { margin-left: 1px; }
  ._mgl-2px-lg   { margin-left: 2px; }
  ._mgl-4px-lg   { margin-left: 4px; }
  ._mgl-8px-lg   { margin-left: 8px; }
  ._mgl-12px-lg  { margin-left: 12px; }
  ._mgl-16px-lg  { margin-left: 16px; }
  ._mgl-24px-lg  { margin-left: 24px; }
  ._mgl-32px-lg  { margin-left: 32px; }
  ._mgl-64px-lg  { margin-left: 64px; }
  ._mgl-128px-lg { margin-left: 128px; }
  ._mgl-256px-lg { margin-left: 256px; }
  ._mgl-auto-lg  { margin-left: auto; }
  
  ._mgr-lg       { margin-right: 8px; }
  ._mgr-0px-lg   { margin-right: 0px; }
  ._mgr-1px-lg   { margin-right: 1px; }
  ._mgr-2px-lg   { margin-right: 2px; }
  ._mgr-4px-lg   { margin-right: 4px; }
  ._mgr-8px-lg   { margin-right: 8px; }
  ._mgr-12px-lg  { margin-right: 12px; }
  ._mgr-16px-lg  { margin-right: 16px; }
  ._mgr-24px-lg  { margin-right: 24px; }
  ._mgr-32px-lg  { margin-right: 32px; }
  ._mgr-64px-lg  { margin-right: 64px; }
  ._mgr-128px-lg { margin-right: 128px; }
  ._mgr-256px-lg { margin-right: 256px; }
  ._mgr-auto-lg  { margin-right: auto; }
  
  ._mgv-lg       { margin-top: 8px; margin-bottom: 8px; }
  ._mgv-0px-lg   { margin-top: 0px; margin-bottom: 0px; }
  ._mgv-1px-lg   { margin-top: 1px; margin-bottom: 1px; }
  ._mgv-2px-lg   { margin-top: 2px; margin-bottom: 2px; }
  ._mgv-4px-lg   { margin-top: 4px; margin-bottom: 4px; }
  ._mgv-8px-lg   { margin-top: 8px; margin-bottom: 8px; }
  ._mgv-12px-lg  { margin-top: 12px; margin-bottom: 12px; }
  ._mgv-16px-lg  { margin-top: 16px; margin-bottom: 16px; }
  ._mgv-24px-lg  { margin-top: 24px; margin-bottom: 24px; }
  ._mgv-32px-lg  { margin-top: 32px; margin-bottom: 32px; }
  ._mgv-64px-lg  { margin-top: 64px; margin-bottom: 64px; }
  ._mgv-128px-lg { margin-top: 128px; margin-bottom: 128px; }
  ._mgv-256px-lg { margin-top: 256px; margin-bottom: 256px; }
  ._mgv-auto-lg  { margin-top: auto; margin-bottom: auto; }
  
  ._mgh-lg       { margin-left: 8px; margin-right: 8px; }
  ._mgh-0px-lg   { margin-left: 0px; margin-right: 0px; }
  ._mgh-1px-lg   { margin-left: 1px; margin-right: 1px; }
  ._mgh-2px-lg   { margin-left: 2px; margin-right: 2px; }
  ._mgh-4px-lg   { margin-left: 4px; margin-right: 4px; }
  ._mgh-8px-lg   { margin-left: 8px; margin-right: 8px; }
  ._mgh-12px-lg  { margin-left: 12px; margin-right: 12px; }
  ._mgh-16px-lg  { margin-left: 16px; margin-right: 16px; }
  ._mgh-24px-lg  { margin-left: 24px; margin-right: 24px; }
  ._mgh-32px-lg  { margin-left: 32px; margin-right: 32px; }
  ._mgh-64px-lg  { margin-left: 64px; margin-right: 64px; }
  ._mgh-128px-lg { margin-left: 128px; margin-right: 128px; }
  ._mgh-256px-lg { margin-left: 256px; margin-right: 256px; }
  ._mgh-auto-lg  { margin-left: auto; margin-right: auto; }
}