._mxw-0px {
  max-width: 0px;
}

._mxw-1px {
  max-width: 1px;
}

._mxw-2px {
  max-width: 2px;
}

._mxw-4px {
  max-width: 4px;
}

._mxw-8px {
  max-width: 8px;
}

._mxw-16px {
  max-width: 16px;
}

._mxw-32px {
  max-width: 32px;
}

._mxw-64px {
  max-width: 64px;
}

._mxw-128px {
  max-width: 128px;
}

._mxw-256px {
  max-width: 256px;
}

._mxw-512px {
  max-width: 512px;
}

._mxw-5pct {
  max-width: 5%;
}

._mxw-10pct {
  max-width: 10%;
}

._mxw-15pct {
  max-width: 15%;
}

._mxw-20pct {
  max-width: 20%;
}

._mxw-25pct {
  max-width: 25%;
}

._mxw-30pct {
  max-width: 30%;
}

._mxw-35pct {
  max-width: 35%;
}

._mxw-40pct {
  max-width: 40%;
}

._mxw-45pct {
  max-width: 45%;
}

._mxw-50pct {
  max-width: 50%;
}

._mxw-55pct {
  max-width: 55%;
}

._mxw-60pct {
  max-width: 60%;
}

._mxw-65pct {
  max-width: 65%;
}

._mxw-70pct {
  max-width: 70%;
}

._mxw-75pct {
  max-width: 75%;
}

._mxw-80pct {
  max-width: 80%;
}

._mxw-85pct {
  max-width: 85%;
}

._mxw-90pct {
  max-width: 90%;
}

._mxw-95pct {
  max-width: 95%;
}

._mxw-100pct {
  max-width: 100%;
}

._mxw-auto {
  max-width: auto;
}
