._mxh-1px {
  max-height: 1px;
}

._mxh-2px {
  max-height: 2px;
}

._mxh-4px {
  max-height: 4px;
}

._mxh-8px {
  max-height: 8px;
}

._mxh-16px {
  max-height: 16px;
}

._mxh-32px {
  max-height: 32px;
}

._mxh-64px {
  max-height: 64px;
}

._mxh-128px {
  max-height: 128px;
}

._mxh-256px {
  max-height: 256px;
}

._mxh-512px {
  max-height: 512px;
}

._mxh-10pct {
  max-height: 10%;
}

._mxh-15pct {
  max-height: 15%;
}

._mxh-20pct {
  max-height: 20%;
}

._mxh-25pct {
  max-height: 25%;
}

._mxh-30pct {
  max-height: 30%;
}

._mxh-35pct {
  max-height: 35%;
}

._mxh-40pct {
  max-height: 40%;
}

._mxh-45pct {
  max-height: 45%;
}

._mxh-50pct {
  max-height: 50%;
}

._mxh-55pct {
  max-height: 55%;
}

._mxh-60pct {
  max-height: 60%;
}

._mxh-65pct {
  max-height: 65%;
}

._mxh-70pct {
  max-height: 70%;
}

._mxh-75pct {
  max-height: 75%;
}

._mxh-80pct {
  max-height: 80%;
}

._mxh-85pct {
  max-height: 85%;
}

._mxh-90pct {
  max-height: 90%;
}

._mxh-95pct {
  max-height: 95%;
}

._mxh-100pct {
  max-height: 100%;
}
