._ojf-cv { object-fit: cover !important; }
._ojf-ct { object-fit: contain !important; }
._ojf-f  { object-fit: fill !important; }
._ojf-n  { object-fit: none !important; }

@include sm-upper {
  ._ojf-cv-sm { object-fit: cover !important; }
  ._ojf-ct-sm { object-fit: contain !important; }
  ._ojf-f-sm  { object-fit: fill !important; }
  ._ojf-n-sm  { object-fit: none !important; }
}

@include md-upper {
  ._ojf-cv-md { object-fit: cover !important; }
  ._ojf-ct-md { object-fit: contain !important; }
  ._ojf-f-md  { object-fit: fill !important; }
  ._ojf-n-md  { object-fit: none !important; }
}

@include lg-upper {
  ._ojf-cv-lg { object-fit: cover !important; }
  ._ojf-ct-lg { object-fit: contain !important; }
  ._ojf-f-lg  { object-fit: fill !important; }
  ._ojf-n-lg  { object-fit: none !important; }
}
