._od-0  { opacity: 0 !important; }
._od-1  { opacity: 1 !important; }
._od-2  { opacity: 2 !important; }
._od--1 { opacity: -1 !important; }
._od--2 { opacity: -2 !important; }

@include sm-upper {
  ._od-0-sm  { opacity: 0 !important; }
  ._od-1-sm  { opacity: 1 !important; }
  ._od-2-sm  { opacity: 2 !important; }
  ._od--1-sm { opacity: -1 !important; }
  ._od--2-sm { opacity: -2 !important; }
}

@include md-upper {
  ._od-0-md  { opacity: 0 !important; }
  ._od-1-md  { opacity: 1 !important; }
  ._od-2-md  { opacity: 2 !important; }
  ._od--1-md { opacity: -1 !important; }
  ._od--2-md { opacity: -2 !important; }
}

@include lg-upper {
  ._od-0-lg  { opacity: 0 !important; }
  ._od-1-lg  { opacity: 1 !important; }
  ._od-2-lg  { opacity: 2 !important; }
  ._od--1-lg { opacity: -1 !important; }
  ._od--2-lg { opacity: -2 !important; }
}
