._pd       { padding: 8px; }
._pd-0px   { padding: 0px; }
._pd-1px   { padding: 1px; }
._pd-2px   { padding: 2px; }
._pd-4px   { padding: 4px; }
._pd-8px   { padding: 8px; }
._pd-12px  { padding: 12px; }
._pd-16px  { padding: 16px; }
._pd-24px  { padding: 24px; }
._pd-32px  { padding: 32px; }
._pd-64px  { padding: 64px; }
._pd-128px { padding: 128px; }
._pd-256px { padding: 256px; }
._pd-auto  { padding: auto; }

._pdt       { padding-top: 8px; }
._pdt-0px   { padding-top: 0px; }
._pdt-1px   { padding-top: 1px; }
._pdt-2px   { padding-top: 2px; }
._pdt-4px   { padding-top: 4px; }
._pdt-8px   { padding-top: 8px; }
._pdt-12px  { padding-top: 12px; }
._pdt-16px  { padding-top: 16px; }
._pdt-24px  { padding-top: 24px; }
._pdt-32px  { padding-top: 32px; }
._pdt-64px  { padding-top: 64px; }
._pdt-128px { padding-top: 128px; }
._pdt-256px { padding-top: 256px; }
._pdt-auto  { padding-top: auto; }

._pdbt       { padding-bottom: 8px; }
._pdbt-0px   { padding-bottom: 0px; }
._pdbt-1px   { padding-bottom: 1px; }
._pdbt-2px   { padding-bottom: 2px; }
._pdbt-4px   { padding-bottom: 4px; }
._pdbt-8px   { padding-bottom: 8px; }
._pdbt-12px  { padding-bottom: 12px; }
._pdbt-16px  { padding-bottom: 16px; }
._pdbt-24px  { padding-bottom: 24px; }
._pdbt-32px  { padding-bottom: 32px; }
._pdbt-64px  { padding-bottom: 64px; }
._pdbt-128px { padding-bottom: 128px; }
._pdbt-256px { padding-bottom: 256px; }
._pdbt-auto  { padding-bottom: auto; }

._pdl       { padding-left: 8px; }
._pdl-0px   { padding-left: 0px; }
._pdl-1px   { padding-left: 1px; }
._pdl-2px   { padding-left: 2px; }
._pdl-4px   { padding-left: 4px; }
._pdl-8px   { padding-left: 8px; }
._pdl-12px  { padding-left: 12px; }
._pdl-16px  { padding-left: 16px; }
._pdl-24px  { padding-left: 24px; }
._pdl-32px  { padding-left: 32px; }
._pdl-64px  { padding-left: 64px; }
._pdl-128px { padding-left: 128px; }
._pdl-256px { padding-left: 256px; }
._pdl-auto  { padding-left: auto; }

._pdr       { padding-right: 8px; }
._pdr-0px   { padding-right: 0px; }
._pdr-1px   { padding-right: 1px; }
._pdr-2px   { padding-right: 2px; }
._pdr-4px   { padding-right: 4px; }
._pdr-8px   { padding-right: 8px; }
._pdr-12px  { padding-right: 12px; }
._pdr-16px  { padding-right: 16px; }
._pdr-24px  { padding-right: 24px; }
._pdr-32px  { padding-right: 32px; }
._pdr-64px  { padding-right: 64px; }
._pdr-128px { padding-right: 128px; }
._pdr-256px { padding-right: 256px; }
._pdr-auto  { padding-right: auto; }

._pdv       { padding-top: 8px; padding-bottom: 8px; }
._pdv-0px   { padding-top: 0px; padding-bottom: 0px; }
._pdv-1px   { padding-top: 1px; padding-bottom: 1px; }
._pdv-2px   { padding-top: 2px; padding-bottom: 2px; }
._pdv-4px   { padding-top: 4px; padding-bottom: 4px; }
._pdv-8px   { padding-top: 8px; padding-bottom: 8px; }
._pdv-12px  { padding-top: 12px; padding-bottom: 12px; }
._pdv-16px  { padding-top: 16px; padding-bottom: 16px; }
._pdv-24px  { padding-top: 24px; padding-bottom: 24px; }
._pdv-32px  { padding-top: 32px; padding-bottom: 32px; }
._pdv-64px  { padding-top: 64px; padding-bottom: 64px; }
._pdv-128px { padding-top: 128px; padding-bottom: 128px; }
._pdv-256px { padding-top: 256px; padding-bottom: 256px; }
._pdv-auto  { padding-top: auto; padding-bottom: auto; }

._pdh       { padding-left: 8px; padding-right: 8px; }
._pdh-0px   { padding-left: 0px; padding-right: 0px; }
._pdh-1px   { padding-left: 1px; padding-right: 1px; }
._pdh-2px   { padding-left: 2px; padding-right: 2px; }
._pdh-4px   { padding-left: 4px; padding-right: 4px; }
._pdh-8px   { padding-left: 8px; padding-right: 8px; }
._pdh-12px  { padding-left: 12px; padding-right: 12px; }
._pdh-16px  { padding-left: 16px; padding-right: 16px; }
._pdh-24px  { padding-left: 24px; padding-right: 24px; }
._pdh-32px  { padding-left: 32px; padding-right: 32px; }
._pdh-64px  { padding-left: 64px; padding-right: 64px; }
._pdh-128px { padding-left: 128px; padding-right: 128px; }
._pdh-256px { padding-left: 256px; padding-right: 256px; }
._pdh-auto  { padding-left: auto; padding-right: auto; }

@include sm-upper {
  ._pd-sm       { padding: 8px; }
  ._pd-0px-sm   { padding: 0px; }
  ._pd-1px-sm   { padding: 1px; }
  ._pd-2px-sm   { padding: 2px; }
  ._pd-4px-sm   { padding: 4px; }
  ._pd-8px-sm   { padding: 8px; }
  ._pd-12px-sm  { padding: 12px; }
  ._pd-16px-sm  { padding: 16px; }
  ._pd-24px-sm  { padding: 24px; }
  ._pd-32px-sm  { padding: 32px; }
  ._pd-64px-sm  { padding: 64px; }
  ._pd-128px-sm { padding: 128px; }
  ._pd-256px-sm { padding: 256px; }
  ._pd-auto-sm  { padding: auto; }
  
  ._pdt-sm       { padding-top: 8px; }
  ._pdt-0px-sm   { padding-top: 0px; }
  ._pdt-1px-sm   { padding-top: 1px; }
  ._pdt-2px-sm   { padding-top: 2px; }
  ._pdt-4px-sm   { padding-top: 4px; }
  ._pdt-8px-sm   { padding-top: 8px; }
  ._pdt-12px-sm  { padding-top: 12px; }
  ._pdt-16px-sm  { padding-top: 16px; }
  ._pdt-24px-sm  { padding-top: 24px; }
  ._pdt-32px-sm  { padding-top: 32px; }
  ._pdt-64px-sm  { padding-top: 64px; }
  ._pdt-128px-sm { padding-top: 128px; }
  ._pdt-256px-sm { padding-top: 256px; }
  ._pdt-auto-sm  { padding-top: auto; }
  
  ._pdbt-sm       { padding-bottom: 8px; }
  ._pdbt-0px-sm   { padding-bottom: 0px; }
  ._pdbt-1px-sm   { padding-bottom: 1px; }
  ._pdbt-2px-sm   { padding-bottom: 2px; }
  ._pdbt-4px-sm   { padding-bottom: 4px; }
  ._pdbt-8px-sm   { padding-bottom: 8px; }
  ._pdbt-12px-sm  { padding-bottom: 12px; }
  ._pdbt-16px-sm  { padding-bottom: 16px; }
  ._pdbt-24px-sm  { padding-bottom: 24px; }
  ._pdbt-32px-sm  { padding-bottom: 32px; }
  ._pdbt-64px-sm  { padding-bottom: 64px; }
  ._pdbt-128px-sm { padding-bottom: 128px; }
  ._pdbt-256px-sm { padding-bottom: 256px; }
  ._pdbt-auto-sm  { padding-bottom: auto; }
  
  ._pdl-sm       { padding-left: 8px; }
  ._pdl-0px-sm   { padding-left: 0px; }
  ._pdl-1px-sm   { padding-left: 1px; }
  ._pdl-2px-sm   { padding-left: 2px; }
  ._pdl-4px-sm   { padding-left: 4px; }
  ._pdl-8px-sm   { padding-left: 8px; }
  ._pdl-12px-sm  { padding-left: 12px; }
  ._pdl-16px-sm  { padding-left: 16px; }
  ._pdl-24px-sm  { padding-left: 24px; }
  ._pdl-32px-sm  { padding-left: 32px; }
  ._pdl-64px-sm  { padding-left: 64px; }
  ._pdl-128px-sm { padding-left: 128px; }
  ._pdl-256px-sm { padding-left: 256px; }
  ._pdl-auto-sm  { padding-left: auto; }
  
  ._pdr-sm       { padding-right: 8px; }
  ._pdr-0px-sm   { padding-right: 0px; }
  ._pdr-1px-sm   { padding-right: 1px; }
  ._pdr-2px-sm   { padding-right: 2px; }
  ._pdr-4px-sm   { padding-right: 4px; }
  ._pdr-8px-sm   { padding-right: 8px; }
  ._pdr-12px-sm  { padding-right: 12px; }
  ._pdr-16px-sm  { padding-right: 16px; }
  ._pdr-24px-sm  { padding-right: 24px; }
  ._pdr-32px-sm  { padding-right: 32px; }
  ._pdr-64px-sm  { padding-right: 64px; }
  ._pdr-128px-sm { padding-right: 128px; }
  ._pdr-256px-sm { padding-right: 256px; }
  ._pdr-auto-sm  { padding-right: auto; }
  
  ._pdv-sm       { padding-top: 8px; padding-bottom: 8px; }
  ._pdv-0px-sm   { padding-top: 0px; padding-bottom: 0px; }
  ._pdv-1px-sm   { padding-top: 1px; padding-bottom: 1px; }
  ._pdv-2px-sm   { padding-top: 2px; padding-bottom: 2px; }
  ._pdv-4px-sm   { padding-top: 4px; padding-bottom: 4px; }
  ._pdv-8px-sm   { padding-top: 8px; padding-bottom: 8px; }
  ._pdv-12px-sm  { padding-top: 12px; padding-bottom: 12px; }
  ._pdv-16px-sm  { padding-top: 16px; padding-bottom: 16px; }
  ._pdv-24px-sm  { padding-top: 24px; padding-bottom: 24px; }
  ._pdv-32px-sm  { padding-top: 32px; padding-bottom: 32px; }
  ._pdv-64px-sm  { padding-top: 64px; padding-bottom: 64px; }
  ._pdv-128px-sm { padding-top: 128px; padding-bottom: 128px; }
  ._pdv-256px-sm { padding-top: 256px; padding-bottom: 256px; }
  ._pdv-auto-sm  { padding-top: auto; padding-bottom: auto; }
  
  ._pdh-sm       { padding-left: 8px; padding-right: 8px; }
  ._pdh-0px-sm   { padding-left: 0px; padding-right: 0px; }
  ._pdh-1px-sm   { padding-left: 1px; padding-right: 1px; }
  ._pdh-2px-sm   { padding-left: 2px; padding-right: 2px; }
  ._pdh-4px-sm   { padding-left: 4px; padding-right: 4px; }
  ._pdh-8px-sm   { padding-left: 8px; padding-right: 8px; }
  ._pdh-12px-sm  { padding-left: 12px; padding-right: 12px; }
  ._pdh-16px-sm  { padding-left: 16px; padding-right: 16px; }
  ._pdh-24px-sm  { padding-left: 24px; padding-right: 24px; }
  ._pdh-32px-sm  { padding-left: 32px; padding-right: 32px; }
  ._pdh-64px-sm  { padding-left: 64px; padding-right: 64px; }
  ._pdh-128px-sm { padding-left: 128px; padding-right: 128px; }
  ._pdh-256px-sm { padding-left: 256px; padding-right: 256px; }
  ._pdh-auto-sm  { padding-left: auto; padding-right: auto; }
}

@include md-upper {
  ._pd-md       { padding: 8px; }
  ._pd-0px-md   { padding: 0px; }
  ._pd-1px-md   { padding: 1px; }
  ._pd-2px-md   { padding: 2px; }
  ._pd-4px-md   { padding: 4px; }
  ._pd-8px-md   { padding: 8px; }
  ._pd-12px-md  { padding: 12px; }
  ._pd-16px-md  { padding: 16px; }
  ._pd-24px-md  { padding: 24px; }
  ._pd-32px-md  { padding: 32px; }
  ._pd-64px-md  { padding: 64px; }
  ._pd-128px-md { padding: 128px; }
  ._pd-256px-md { padding: 256px; }
  ._pd-auto-md  { padding: auto; }
  
  ._pdt-md       { padding-top: 8px; }
  ._pdt-0px-md   { padding-top: 0px; }
  ._pdt-1px-md   { padding-top: 1px; }
  ._pdt-2px-md   { padding-top: 2px; }
  ._pdt-4px-md   { padding-top: 4px; }
  ._pdt-8px-md   { padding-top: 8px; }
  ._pdt-12px-md  { padding-top: 12px; }
  ._pdt-16px-md  { padding-top: 16px; }
  ._pdt-24px-md  { padding-top: 24px; }
  ._pdt-32px-md  { padding-top: 32px; }
  ._pdt-64px-md  { padding-top: 64px; }
  ._pdt-128px-md { padding-top: 128px; }
  ._pdt-256px-md { padding-top: 256px; }
  ._pdt-auto-md  { padding-top: auto; }
  
  ._pdbt-md       { padding-bottom: 8px; }
  ._pdbt-0px-md   { padding-bottom: 0px; }
  ._pdbt-1px-md   { padding-bottom: 1px; }
  ._pdbt-2px-md   { padding-bottom: 2px; }
  ._pdbt-4px-md   { padding-bottom: 4px; }
  ._pdbt-8px-md   { padding-bottom: 8px; }
  ._pdbt-12px-md  { padding-bottom: 12px; }
  ._pdbt-16px-md  { padding-bottom: 16px; }
  ._pdbt-24px-md  { padding-bottom: 24px; }
  ._pdbt-32px-md  { padding-bottom: 32px; }
  ._pdbt-64px-md  { padding-bottom: 64px; }
  ._pdbt-128px-md { padding-bottom: 128px; }
  ._pdbt-256px-md { padding-bottom: 256px; }
  ._pdbt-auto-md  { padding-bottom: auto; }
  
  ._pdl-md       { padding-left: 8px; }
  ._pdl-0px-md   { padding-left: 0px; }
  ._pdl-1px-md   { padding-left: 1px; }
  ._pdl-2px-md   { padding-left: 2px; }
  ._pdl-4px-md   { padding-left: 4px; }
  ._pdl-8px-md   { padding-left: 8px; }
  ._pdl-12px-md  { padding-left: 12px; }
  ._pdl-16px-md  { padding-left: 16px; }
  ._pdl-24px-md  { padding-left: 24px; }
  ._pdl-32px-md  { padding-left: 32px; }
  ._pdl-64px-md  { padding-left: 64px; }
  ._pdl-128px-md { padding-left: 128px; }
  ._pdl-256px-md { padding-left: 256px; }
  ._pdl-auto-md  { padding-left: auto; }
  
  ._pdr-md       { padding-right: 8px; }
  ._pdr-0px-md   { padding-right: 0px; }
  ._pdr-1px-md   { padding-right: 1px; }
  ._pdr-2px-md   { padding-right: 2px; }
  ._pdr-4px-md   { padding-right: 4px; }
  ._pdr-8px-md   { padding-right: 8px; }
  ._pdr-12px-md  { padding-right: 12px; }
  ._pdr-16px-md  { padding-right: 16px; }
  ._pdr-24px-md  { padding-right: 24px; }
  ._pdr-32px-md  { padding-right: 32px; }
  ._pdr-64px-md  { padding-right: 64px; }
  ._pdr-128px-md { padding-right: 128px; }
  ._pdr-256px-md { padding-right: 256px; }
  ._pdr-auto-md  { padding-right: auto; }
  
  ._pdv-md       { padding-top: 8px; padding-bottom: 8px; }
  ._pdv-0px-md   { padding-top: 0px; padding-bottom: 0px; }
  ._pdv-1px-md   { padding-top: 1px; padding-bottom: 1px; }
  ._pdv-2px-md   { padding-top: 2px; padding-bottom: 2px; }
  ._pdv-4px-md   { padding-top: 4px; padding-bottom: 4px; }
  ._pdv-8px-md   { padding-top: 8px; padding-bottom: 8px; }
  ._pdv-12px-md  { padding-top: 12px; padding-bottom: 12px; }
  ._pdv-16px-md  { padding-top: 16px; padding-bottom: 16px; }
  ._pdv-24px-md  { padding-top: 24px; padding-bottom: 24px; }
  ._pdv-32px-md  { padding-top: 32px; padding-bottom: 32px; }
  ._pdv-64px-md  { padding-top: 64px; padding-bottom: 64px; }
  ._pdv-128px-md { padding-top: 128px; padding-bottom: 128px; }
  ._pdv-256px-md { padding-top: 256px; padding-bottom: 256px; }
  ._pdv-auto-md  { padding-top: auto; padding-bottom: auto; }
  
  ._pdh-md       { padding-left: 8px; padding-right: 8px; }
  ._pdh-0px-md   { padding-left: 0px; padding-right: 0px; }
  ._pdh-1px-md   { padding-left: 1px; padding-right: 1px; }
  ._pdh-2px-md   { padding-left: 2px; padding-right: 2px; }
  ._pdh-4px-md   { padding-left: 4px; padding-right: 4px; }
  ._pdh-8px-md   { padding-left: 8px; padding-right: 8px; }
  ._pdh-12px-md  { padding-left: 12px; padding-right: 12px; }
  ._pdh-16px-md  { padding-left: 16px; padding-right: 16px; }
  ._pdh-24px-md  { padding-left: 24px; padding-right: 24px; }
  ._pdh-32px-md  { padding-left: 32px; padding-right: 32px; }
  ._pdh-64px-md  { padding-left: 64px; padding-right: 64px; }
  ._pdh-128px-md { padding-left: 128px; padding-right: 128px; }
  ._pdh-256px-md { padding-left: 256px; padding-right: 256px; }
  ._pdh-auto-md  { padding-left: auto; padding-right: auto; }
}

@include lg-upper {
  ._pd-lg       { padding: 8px; }
  ._pd-0px-lg   { padding: 0px; }
  ._pd-1px-lg   { padding: 1px; }
  ._pd-2px-lg   { padding: 2px; }
  ._pd-4px-lg   { padding: 4px; }
  ._pd-8px-lg   { padding: 8px; }
  ._pd-12px-lg  { padding: 12px; }
  ._pd-16px-lg  { padding: 16px; }
  ._pd-24px-lg  { padding: 24px; }
  ._pd-32px-lg  { padding: 32px; }
  ._pd-64px-lg  { padding: 64px; }
  ._pd-128px-lg { padding: 128px; }
  ._pd-256px-lg { padding: 256px; }
  ._pd-auto-lg  { padding: auto; }
  
  ._pdt-lg       { padding-top: 8px; }
  ._pdt-0px-lg   { padding-top: 0px; }
  ._pdt-1px-lg   { padding-top: 1px; }
  ._pdt-2px-lg   { padding-top: 2px; }
  ._pdt-4px-lg   { padding-top: 4px; }
  ._pdt-8px-lg   { padding-top: 8px; }
  ._pdt-12px-lg  { padding-top: 12px; }
  ._pdt-16px-lg  { padding-top: 16px; }
  ._pdt-24px-lg  { padding-top: 24px; }
  ._pdt-32px-lg  { padding-top: 32px; }
  ._pdt-64px-lg  { padding-top: 64px; }
  ._pdt-128px-lg { padding-top: 128px; }
  ._pdt-256px-lg { padding-top: 256px; }
  ._pdt-auto-lg  { padding-top: auto; }
  
  ._pdbt-lg       { padding-bottom: 8px; }
  ._pdbt-0px-lg   { padding-bottom: 0px; }
  ._pdbt-1px-lg   { padding-bottom: 1px; }
  ._pdbt-2px-lg   { padding-bottom: 2px; }
  ._pdbt-4px-lg   { padding-bottom: 4px; }
  ._pdbt-8px-lg   { padding-bottom: 8px; }
  ._pdbt-12px-lg  { padding-bottom: 12px; }
  ._pdbt-16px-lg  { padding-bottom: 16px; }
  ._pdbt-24px-lg  { padding-bottom: 24px; }
  ._pdbt-32px-lg  { padding-bottom: 32px; }
  ._pdbt-64px-lg  { padding-bottom: 64px; }
  ._pdbt-128px-lg { padding-bottom: 128px; }
  ._pdbt-256px-lg { padding-bottom: 256px; }
  ._pdbt-auto-lg  { padding-bottom: auto; }
  
  ._pdl-lg       { padding-left: 8px; }
  ._pdl-0px-lg   { padding-left: 0px; }
  ._pdl-1px-lg   { padding-left: 1px; }
  ._pdl-2px-lg   { padding-left: 2px; }
  ._pdl-4px-lg   { padding-left: 4px; }
  ._pdl-8px-lg   { padding-left: 8px; }
  ._pdl-12px-lg  { padding-left: 12px; }
  ._pdl-16px-lg  { padding-left: 16px; }
  ._pdl-24px-lg  { padding-left: 24px; }
  ._pdl-32px-lg  { padding-left: 32px; }
  ._pdl-64px-lg  { padding-left: 64px; }
  ._pdl-128px-lg { padding-left: 128px; }
  ._pdl-256px-lg { padding-left: 256px; }
  ._pdl-auto-lg  { padding-left: auto; }
  
  ._pdr-lg       { padding-right: 8px; }
  ._pdr-0px-lg   { padding-right: 0px; }
  ._pdr-1px-lg   { padding-right: 1px; }
  ._pdr-2px-lg   { padding-right: 2px; }
  ._pdr-4px-lg   { padding-right: 4px; }
  ._pdr-8px-lg   { padding-right: 8px; }
  ._pdr-12px-lg  { padding-right: 12px; }
  ._pdr-16px-lg  { padding-right: 16px; }
  ._pdr-24px-lg  { padding-right: 24px; }
  ._pdr-32px-lg  { padding-right: 32px; }
  ._pdr-64px-lg  { padding-right: 64px; }
  ._pdr-128px-lg { padding-right: 128px; }
  ._pdr-256px-lg { padding-right: 256px; }
  ._pdr-auto-lg  { padding-right: auto; }
  
  ._pdv-lg       { padding-top: 8px; padding-bottom: 8px; }
  ._pdv-0px-lg   { padding-top: 0px; padding-bottom: 0px; }
  ._pdv-1px-lg   { padding-top: 1px; padding-bottom: 1px; }
  ._pdv-2px-lg   { padding-top: 2px; padding-bottom: 2px; }
  ._pdv-4px-lg   { padding-top: 4px; padding-bottom: 4px; }
  ._pdv-8px-lg   { padding-top: 8px; padding-bottom: 8px; }
  ._pdv-12px-lg  { padding-top: 12px; padding-bottom: 12px; }
  ._pdv-16px-lg  { padding-top: 16px; padding-bottom: 16px; }
  ._pdv-24px-lg  { padding-top: 24px; padding-bottom: 24px; }
  ._pdv-32px-lg  { padding-top: 32px; padding-bottom: 32px; }
  ._pdv-64px-lg  { padding-top: 64px; padding-bottom: 64px; }
  ._pdv-128px-lg { padding-top: 128px; padding-bottom: 128px; }
  ._pdv-256px-lg { padding-top: 256px; padding-bottom: 256px; }
  ._pdv-auto-lg  { padding-top: auto; padding-bottom: auto; }
  
  ._pdh-lg       { padding-left: 8px; padding-right: 8px; }
  ._pdh-0px-lg   { padding-left: 0px; padding-right: 0px; }
  ._pdh-1px-lg   { padding-left: 1px; padding-right: 1px; }
  ._pdh-2px-lg   { padding-left: 2px; padding-right: 2px; }
  ._pdh-4px-lg   { padding-left: 4px; padding-right: 4px; }
  ._pdh-8px-lg   { padding-left: 8px; padding-right: 8px; }
  ._pdh-12px-lg  { padding-left: 12px; padding-right: 12px; }
  ._pdh-16px-lg  { padding-left: 16px; padding-right: 16px; }
  ._pdh-24px-lg  { padding-left: 24px; padding-right: 24px; }
  ._pdh-32px-lg  { padding-left: 32px; padding-right: 32px; }
  ._pdh-64px-lg  { padding-left: 64px; padding-right: 64px; }
  ._pdh-128px-lg { padding-left: 128px; padding-right: 128px; }
  ._pdh-256px-lg { padding-left: 256px; padding-right: 256px; }
  ._pdh-auto-lg  { padding-left: auto; padding-right: auto; }
}