@each $key, $value in $spacings {
  ._r-#{$key} { right: #{$value} !important; }
};

@include sm-upper {
  @each $key, $value in $spacings {
    ._r-#{$key}-sm { right: #{$value} !important; }
  };
}

@include md-upper {
  @each $key, $value in $spacings {
    ._r-#{$key}-md { right: #{$value} !important; }
  };
}

@include lg-upper {
  @each $key, $value in $spacings {
    ._r-#{$key}-lg { right: #{$value} !important; }
  };
}
