._tovf-c   { text-overflow: clip !important; }
._tovf-els { text-overflow: ellipsis !important; }

@each $breakpoint, $mediaQuery in $breakpoints {
	@include minimum-screen-size ($mediaQuery) {
		._tovf-c-#{$breakpoint}   { text-overflow: clip !important; }
		._tovf-els-#{$breakpoint} { text-overflow: ellipsis !important; }
	};
};
