._tdcrt-udl  { text-decoration: underline !important; }
._tdcrt-ovl  { text-decoration: overline !important; }
._tdcrt-lt   { text-decoration: line-through !important; }
._tdcrt-n    { text-decoration: none !important; }

@include sm-upper {
  ._tdcrt-udl-sm  { text-decoration: underline !important; }
  ._tdcrt-ovl-sm  { text-decoration: overline !important; }
  ._tdcrt-lt-sm   { text-decoration: line-through !important; }
  ._tdcrt-n-sm    { text-decoration: none !important; }
}

@include md-upper {
  ._tdcrt-udl-md  { text-decoration: underline !important; }
  ._tdcrt-ovl-md  { text-decoration: overline !important; }
  ._tdcrt-lt-md   { text-decoration: line-through !important; }
  ._tdcrt-n-md    { text-decoration: none !important; }
}

@include lg-upper {
  ._tdcrt-udl-lg  { text-decoration: underline !important; }
  ._tdcrt-ovl-lg  { text-decoration: overline !important; }
  ._tdcrt-lt-lg   { text-decoration: line-through !important; }
  ._tdcrt-n-lg    { text-decoration: none !important; }
}
