/*---------------------------
  Text Transform
----------------------------*/
._ttf-cptl {
  text-transform: capitalize;
}

._ttf-lwc {
  text-transform: lowercase;
}

._ttf-upc {
  text-transform: uppercase;
}

._ttf-n {
  text-transform: none;
}
