/*---------------------------
  White Space
----------------------------*/
._wsp-nm {
  white-space: normal;
}

._wsp-nw {
  white-space: nowrap;
}

._wsp-p {
  white-space: pre;
}

._wsp-pl {
  white-space: pre-line;
}

._wsp-pw {
  white-space: pre-wrap;
}
