.bio-button {
  @extend ._pd-8;
  @extend ._bdrd-2;
  @extend ._bgcl-primary;
  @extend ._tal-ct;
  @extend ._cl-neutral-100;
  @extend ._cs-pt;
  @extend ._lh-150pct;
  @extend ._pst-rlt;
  user-select: none;
  transition:
    transform 0.18s ease,
    box-shadow 0.18s ease,
    background-color 0.18s ease;

  &.-primary {
    @extend ._bgcl-primary;
    &.-outline {
      @extend ._bd-1;
      @extend ._bdcl-primary;
      @extend ._cl-primary;
      @extend ._bgcl-tpr;
    }
    &:not(.-outline):hover {
      background-color: $color-primary-400;
    }
  }
  
  &.-accent {
    @extend ._bgcl-accent;
    &.-outline {
      @extend ._bd-1;
      @extend ._bdcl-accent;
      @extend ._cl-accent;
      @extend ._bgcl-tpr;
    }
    &:not(.-outline):hover {
      background-color: $color-accent-400;
    }
  }

  &.-success {
    @extend ._bgcl-success;
    &.-outline {
      @extend ._bd-1;
      @extend ._bdcl-success;
      @extend ._cl-success;
      @extend ._bgcl-tpr;
    }
    &:not(.-outline):hover {
      background-color: lighten($color-success, 1.5%);
    }
  }

  &.-info {
    @extend ._bgcl-info;
    &.-outline {
      @extend ._bd-1;
      @extend ._bdcl-info;
      @extend ._cl-info;
      @extend ._bgcl-tpr;
    }
    &:not(.-outline):hover {
      background-color: lighten($color-info, 5%);
    }
  }
  
  &.-warning {
    @extend ._bgcl-warning;
    &.-outline {
      @extend ._bd-1;
      @extend ._bdcl-warning;
      @extend ._cl-warning;
      @extend ._bgcl-tpr;
    }
    &:not(.-outline):hover {
      background-color: lighten($color-warning, 5.5%);
    }
  }

  &.-error {
    @extend ._bgcl-error;
    &.-outline {
      @extend ._bd-1;
      @extend ._bdcl-error;
      @extend ._cl-error;
      @extend ._bgcl-tpr;
    }
    &:not(.-outline):hover {
      background-color: lighten($color-error, 4.5%);
    }
  }

  &.-rise {
    @extend ._bsd-1;
    &:hover {
      @extend ._bsd-2;
      transform: translate(0, -1px);
    }
  }

  &.-disabled {
    pointer-events: none;
    @extend ._opct-40;
    @extend ._cs-na;
  }
  
  &.-loading {
    @extend ._cl-tpr;
    &:after {
      content: "";
      position: absolute;
      height: 1em;
      width: 1em;
      left: calc(50% - ((1em + 6px) / 2));
      top: calc(50% - ((1em + 6px) / 2));
      animation: spinAround 500ms infinite linear;
      border: 3px solid;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
    }
    &:not(.-outline) {
      &:after {
        border-left-color: $color-neutral-100;
        border-bottom-color: $color-neutral-100;
      }
    }
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}