// Promary Color
$color-primary:     hsl(206, 100%, 56%);
$color-primary-900: hsl(206, 100%, 18%);
$color-primary-800: hsl(206, 100%, 27%);
$color-primary-700: hsl(206, 100%, 35%);
$color-primary-600: hsl(206, 100%, 45%);
$color-primary-500: hsl(206, 100%, 56%);
$color-primary-400: hsl(206, 100%, 66%);
$color-primary-300: hsl(206, 100%, 79%);
$color-primary-200: hsl(206, 100%, 87%);
$color-primary-100: hsl(206, 100%, 95%);

// Accent Color
$color-accent:     hsl(350, 100%, 60%);
$color-accent-900: hsl(350, 100%, 20%);
$color-accent-800: hsl(350, 100%, 30%);
$color-accent-700: hsl(350, 100%, 40%);
$color-accent-600: hsl(350, 100%, 50%);
$color-accent-500: hsl(350, 100%, 60%);
$color-accent-400: hsl(350, 100%, 70%);
$color-accent-300: hsl(350, 100%, 80%);
$color-accent-200: hsl(350, 100%, 90%);
$color-accent-100: hsl(350, 100%, 95%);

// Neutral Color
$color-neutral:     hsl(213, 30%, 80%);
$color-neutral-900: hsl(213, 30%, 18%);
$color-neutral-800: hsl(213, 30%, 27%);
$color-neutral-700: hsl(213, 30%, 35%);
$color-neutral-700: hsl(213, 30%, 58%);
$color-neutral-600: hsl(213, 30%, 68%);
$color-neutral-500: hsl(213, 30%, 80%);
$color-neutral-400: hsl(213, 30%, 87%);
$color-neutral-300: hsl(213, 30%, 92%);
$color-neutral-200: hsl(213, 30%, 95%);
$color-neutral-100: hsl(213, 30%, 98%);

// Semantic Color
$color-positive: hsl(150, 80%, 45%);
$color-warning: hsl(40, 90%, 60%);
$color-info:    hsl(200, 100%, 65%);
$color-negative:   hsl(0, 100%, 65%);

// Gray Scale Color
$color-white: hsl(0, 255%, 100%);
$color-gray: hsla(0, 0%, 90%, 0.8);
$color-dark: rgba(57, 59, 70, 0.9);
$color-black: hsl(0, 0%, 0%);

// Break Point
$breakpoint-sm: 770px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;

// Grid
$container-grid-gap: 0px 10px;

// Font family
$font-primary: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
$font-secondary: '';

// Atomic Value for spacing style
// (margin, padding top, bottom, left, right, width, height)
$pixel-value: (
  '0px': 0px,
  '1px': 1px,
  '2px': 2px,
  '4px': 4px,
  '8px': 8px,
  '12px': 12px,
  '16px': 16px,
  '24px': 24px,
  '32px': 32px,
  '48px': 48px,
  '64px': 64px,
  '128px': 128px,
  '256px': 256px,
  '512px': 512px,
  '50pct': 50%,
  'at': auto
);

$border-radius-value: (
  '0px': 0px,
  '1px': 1px,
  '2px': 2px,
  '3px': 3px,
  '4px': 4px,
  '8px': 8px,
  '12px': 12px,
  '16px': 16px,
  '24px': 24px,
  '32px': 32px,
  '48px': 48px,
  '64px': 64px,
  '128px': 128px,
  '256px': 256px,
  '512px': 512px,
  '50pct': 50%,
  'max': 9999px
);

// for (width, height)
$percentage-value: (
  '0pct': 0%,
  '5pct': 5%,
  '10pct': 10%,
  '15pct': 15%,
  '20pct': 20%,
  '25pct': 25%,
  '30pct': 30%,
  '35pct': 35%,
  '40pct': 40%,
  '45pct': 45%,
  '50pct': 50%,
  '55pct': 55%,
  '60pct': 60%,
  '65pct': 65%,
  '70pct': 70%,
  '75pct': 75%,
  '80pct': 80%,
  '85pct': 85%,
  '90pct': 90%,
  '95pct': 95%,
  '100pct': 100%,
  'at': auto
);

html {
  color: $color-dark;
  font-family: $font-primary;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}