.lo-template-sidebar {
  @extend ._dp-g;
  height: 100vh;
  grid-template-columns: 240px 1fr;
  grid-template-rows:
    auto
    1fr;

  grid-template-areas: 
    "navbar  navbar"
    "sidebar content";

  @include sm-lower {
    grid-template-columns: 0px 1fr 1fr;
    grid-template-rows: 
      60px
      1fr;
  
    grid-template-areas: 
      "sidebar navbar  navbar"
      "sidebar content content";
  }
}

.lo-area-sidebar {
  overflow: auto;
  grid-area: sidebar;
}

.lo-area-content {
  overflow: auto;
  grid-area: content;
}

.lo-area-navbar {
  grid-area: navbar;
}

@include sm-lower {
  .lo-area-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 240px;
    left: -240px;
    transition: transform .3s ease-in-out;
    z-index: 3;
    &.-open {
      transform: translateX(240px);
    }
  }
  
  .lo-area-content {
    overflow: auto;
    grid-area: content;
    z-index: 1;
  }
  
  .lo-area-navbar {
    grid-area: navbar;
    z-index: 2;
  }

  #sidebar-open {
    &:target {
      box-shadow:  
      rgba(45,45,45,0.01) 2px 2px 2px,  
      rgba(49,49,49,0.01) 4px 4px 4px,  
      rgba(42,42,42,0.01) 8px 8px 8px,  
      rgba(32,32,32,0.01) 16px 16px 16px,  
      rgba(49,49,49,0.01) 32px 32px 32px,  
      rgba(35,35,35,0.01) 64px 64px 64px; 
      transform: translateX(240px);
    }
  }
}
