.lo-field {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-areas: 
    "label"
    "input"
    "help";

  &.-inline {
    grid-column-gap: 8px;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
      "label input"
      ". help";
  }

  >label {
    margin-bottom: 4px;
    color: $color-dark;
    align-self: center;
    grid-area: label;
  }

  >
  .bio-input,
  .bio-select,
  .bio-textarea {
    grid-area: input;
  }
  
  >
  .bio-input,
  .bio-select,
  .bio-textarea {
    + * {
      color: $color-dark;
      grid-area: help;
    }
    &.-negative + * {
      color: $color-negative;
    }
    &.-positive + * {
      color: $color-positive;
    }
    &.-info + * {
      color: $color-info;
    }
    &.-warning + * {
      color: $color-warning;
    }
  }

}